<picture>
    <source media="(max-width: 1023px)" srcset="{{image.mobile}}, {{image.mobile_x2}} 2x">
    {% if image.hd %}<source media="(min-width: 1920px)" srcset="{{image.hd}}, {{image.hd_x2}} 2x">{% endif %}
    <source media="(min-width: 1024px)" srcset="{{image.desktop}}, {{image.desktop_x2}} 2x">
    <img src="{% if width and height %}data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 {{width}} {{height}}' width='{{width}}px' height='{{height}}px' %3E%3C/svg%3E{% else %}data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}" alt="{{alt}}" class="is-loading{% if preload %} preload{% endif %}">
</picture>