<picture>
    {% if image.mobile_webp is defined and image.mobile_webp.src is defined %}
        <source media="(max-width: 1023px)" srcset="{{image.mobile_webp.src}}, {{image.mobile_x2_webp.src}} 2x" type="image/webp">    
    {% elseif image.mobile_webp is defined %}
        <source media="(max-width: 1023px)" srcset="{{image.mobile_webp}}, {{image.mobile_x2_webp}} 2x" type="image/webp">
    {% endif %}

    {% if image.mobile is defined and image.mobile.src is defined %}
        <source media="(max-width: 1023px)" srcset="{{image.mobile.src}}{% if image.mobile.width is defined %}, {{image.mobile.width}}w, {{image.mobile.height}}h{% endif %}{% if image.mobile_x2.src %},  {{image.mobile_x2.src}} 2x{% endif %}">
    {% elseif image.mobile is defined  %}
        <source media="(max-width: 1023px)" srcset="{{image.mobile}}{% if image.mobile_x2 is defined %}, {{image.mobile_x2}} 2x{% endif %}">
    {% endif %}

    {% if image.desktop_webp is defined and image.desktop_webp.src is defined %}
        <source media="(min-width: 1023px)" srcset="{{image.desktop_webp.src}}, {{image.desktop_x2_webp.src}} 2x" type="image/webp">
    {% elseif image.desktop_webp is defined %}
        <source media="(min-width: 1023px)" srcset="{{image.desktop_webp}}, {{image.desktop_x2_webp}} 2x" type="image/webp">
    {% endif %}
    {% if image.desktop is defined and image.desktop.src is defined %}
        <source media="(min-width: 1023px)" srcset="{{image.desktop.src}}{% if image.desktop.width is defined %}, {{image.desktop.width}}w, {{image.desktop.height}}h{% endif %},  {{image.desktop_x2.src}} 2x">
    {% elseif image.desktop is defined %}
        <source media="(min-width: 1023px)" srcset="{{image.desktop}}{% if image.desktop_x2 %}, {{image.desktop_x2}} 2x{% endif %}">
    {% endif %}

    {% if image.hd_webp is defined %}
        <source media="(min-width: 1920px)" srcset="{{image.hd_webp}}, {{image.hd_x2_webp}} 2x" type="image/webp">
    {% endif %}
    {% if image.hd is defined and image.hd.src is defined %}
        <source media="(min-width: 1920px)" srcset="{{image.hd.src}}{% if image.hd.width is defined %}, {{image.hd.width}}w, {{image.hd.height}}h{% endif %},  {{image.hd_x2.src}} 2x">
    {% elseif image.hd is defined %}
        <source media="(min-width: 1920px" srcset="{{image.hd}}, {{image.hd_x2}} 2x">
    {% endif %}

    <img
        src="
        {% if lazy or preload %} {% if image.desktop.src %}{{image.desktop.src }}{% else %}{{image.desktop}}{% endif %}
        {% elseif image.desktop is defined and image.desktop.height is defined and image.desktop.width is defined %}
            data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ image.desktop.width }} {{ image.desktop.height }}' width='{{ image.desktop.width }}px' height='{{ image.desktop.height }}px' %3E%3C/svg%3E
        {% else %}data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=
        {% endif %}"
        alt="{{ alt }}"
        {% if lazy %}loading="lazy"{% endif %}
        class="is-loading{% if preload %} preload{% endif %}"
    />
</picture>