<div id="modal" class="interviews-grid__modal modal" data-component="Modal">
    <div class="modal__bar js-modal-bar">
        <button class="modal__close js-modal-close" aria-label="Close filters modal"><i class="icon-close"></i></button>
        <h3 class="modal__title">Filters</h3>
    </div>

    <div class="modal__wrap js-modal-wrap">
        <form id="main-form" action="" data-component="Load" data-options='{"contentSelector": "#interviews-grid", "live": false, "extra": ".js-interviews-sort", "extraMobile": ".js-interviews-sort-mobile", "filtered": ".js-interviews-filtered", "scrollTo": ".js-interviews-filtered"}' class="modal__form js-interviews-filters">
            <div class="modal__grid">
                <fieldset class="modal__group">
                    <legend>Collections</legend>
                    {% for collection in collections %}
                        <div>
                            <input type="checkbox" name="collections" id="collection-{{ collection.slug }}" value="{{ collection.slug }}" data-name="{{ collection.label }}"{% if collection.selected %} checked {% endif %}>
                            <label for="collection-{{ collection.slug }}"><i class="checkmark">[[svg::checkmark]]</i><span>{{ collection.label }}</span></label>
                        </div>
                    {% endfor %}
                </fieldset>
                <fieldset class="modal__group modal__group--topics">
                    <legend>Topics</legend>
                    {% for topic in topics %}
                        <div>
                            <input type="checkbox" name="topics" id="topic-{{ topic.slug }}" value="{{ topic.slug }}" data-count="{{topic.count_interviews}}" data-name="{{ topic.label }}"{% if topic.selected %} checked {% endif %}>
                            <label for="topic-{{ topic.slug }}"><i class="checkmark">[[svg::checkmark]]</i><span>{{ topic.label }}</span></label>
                        </div>
                    {% endfor %}
                </fieldset>
                <fieldset class="modal__group">
                    <legend>Locations</legend>
                    {% for state in states %}
                        <div>
                            <input type="checkbox" name="states" id="state-{{ state.slug }}" value="{{ state.slug }}" data-name="{{ state.label }} ({{state.count_interviews}})"{% if state.selected %} checked{% endif %}>
                            <label for="state-{{ state.slug }}"><i class="checkmark">[[svg::checkmark]]</i><span>{{ state.label }}</span></label>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>

            <div class="modal__footer">
                <button type="reset" class="modal__reset js-reset">Clear All</button>
                <button type="submit" class="modal__submit js-submit"><i class="checkmark">[[svg::apply]]</i><span>Apply</span></button>
            </div>
        </form>
    </div>
</div>