<picture>
        {% if image.mobile is defined and image.mobile is iterable %}
                <source media="(max-width: 1023px)" srcset="{{image.mobile.src}}, {{image.mobile.width}}w, {{image.mobile.width}}h,  {{image.mobile_x2.src}} 2x">
        {% elseif image.mobile is defined  %}
                <source media="(max-width: 1023px)" srcset="{{image.mobile}}, {{image.mobile_x2}} 2x">
        {% endif %}

        {% if image.hd is defined and image.mobile is iterable %}
                <source media="(max-width: 1023px)" srcset="{{image.hd.src}}, {{image.hd.width}}w, {{image.hd.width}}h,  {{image.hd_x2.src}} 2x">
        {% elseif image.hd is defined %}
                <source media="(max-width: 1023px)" srcset="{{image.hd}}, {{image.hd_x2}} 2x">
        {% endif %}

        {% if image.desktop is iterable %}
                <source media="(max-width: 1023px)" srcset="{{image.desktop.src}}, {{image.desktop.width}}w, {{image.desktop.width}}h,  {{image.desktop_x2.src}} 2x">
        {% else %}
                <source media="(max-width: 1023px)" srcset="{{image.desktop}}, {{image.desktop_x2}} 2x">
        {% endif %}


        <img src="{% if image.desktop.width and image.desktop.height %}data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ image.desktop.width }} {{ image.desktop.height }}' width='{{ image.desktop.width }}px' height='{{ image.desktop.height }}px' %3E%3C/svg%3E{% else %}data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}" alt="{{ alt }}" class="is-loading{% if preload %} preload{% endif %}">
</picture>