<section class="module module--collections">
  <div class="collections_images">
    <section class="module">
      <div class="box">
        <div class="grid">
          <div class="col-span-12">
            <h2 class="heading heading--right">Collections</h2>
          </div>
        </div>
      </div>
    </section>
    <div class="box">
      <div class="col-span-12">
        <div class="collections_images__names">
          <ul class="names">
            {% for item in items %}
            {% if item.image.desktop %}
            <li class="names__name">
              <a class="names__link" href="{{item.url}}">
                {{item.label}}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="collections_images__cards">
          <ul class="cards">
            {% for item in items %}
            {% if item.image.desktop %}
            <li class="cards__card">
              {% include 'subviews/subview_picture.html' with {image:item.image} %}
            </li>
            {% endif %}
            {% endfor %}            
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
