<section class="module module--collections_images desktop-only" >
    
    <div class="collections_images">

        <div class="box box__wrapper" data-scroll="box">
            <div class="box__bg"></div>
            <div class="collections_images__heading">
                <div class="grid">
                    <div class="col-span-12">
                        <h2 class="heading heading--title">Collections</h2>
                    </div>
                </div>
            </div>
            {% if text %}
                <div class="collections_images__intro">
                    <div class="grid">
                        <div class="col-span-7">
                            {% include "subviews/subview_text.html" with { 
                                size: "larger",
                                text: text
                            } %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="collections_images__gallery box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="collections_images__content{% if params.simple %} collections_images__content--simple{% endif %}" data-component="Collections">
                <div class="col-span-1 col-start-2 collections_images__container">
                    <div class="collections_images__names js-scroll-names">
                        <ul class="names">
                            {% for item in items %}
                                <li class="names__name js-accordeon-item is-closed">
                                    <a href="{{ item.url }}" class="names__link"></a>
                                    <div class="names__author{% if params.simple2 %} names__author--simple{% endif %}">
                                        <span class="names__box{% if params.simple2 %} names__box--simple{% endif %}">
                                            {{ item.label }}
                                        </span>
                                    </div>
                                    {% if params.simple2 %}
                                        <div class="names__expand">
                                            <p class="names__claim">{{ item.collection_title | nl2br }}</p>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
    
                    <div class="collections_images__cards js-scroll-cards">
                        <ul class="cards">
                            <li class="cards__card cards__card--placeholder cards__card--lightblue"></li>
                            <li class="cards__card cards__card--placeholder cards__card--yellow"></li>
                            <li class="cards__card cards__card--placeholder cards__card--red"></li>
                            <li class="cards__card cards__card--placeholder cards__card--dark-green"></li>
                            {% for item in items | reverse %}
                                <li class="cards__card">
                                    {% include "subviews/subview_picture_no_retina.html" with {image:item.image} %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
                {% if params.simple2 %}
                    <div class="collections_images__button col-start-1 col-span-2"> 
                        <a href="/collections" class="button button--simple button--reversed" data-component="Button">
                            <span class="button__main">
                                <i class="icon-btn-arrow arrow js-arrow">
                                    <span class="vertical js-arrow-vertical"></span>
                                    <span class="horizontal js-arrow-horizontal"></span>
                                    <span class="triangle js-arrow-triangle"></span>
                                </i> 
                                <span class="button__text js-button-text">Explore</span>
                                <i class="icon-btn-arrow arrow arrow--extra js-arrow-extra">
                                    <span class="vertical js-arrow-vertical"></span>
                                    <span class="horizontal js-arrow-horizontal"></span>
                                    <span class="triangle js-arrow-triangle"></span>
                                </i> 
                                <span class="button__text button__text--duplicate js-button-duplicate-text">Explore</span>
                            </span>

                            <span class="button__text button__text--extra"><i>all Collections</i></span>
                        </a>
                    </div>
                {% endif %}
    
                {# <div class="collections_images__filler col-start-1 col-span-2"></div> #}
            </div>
        </div>

    </div>
</section>
