<section class="module module--faq">
    <div class="faq">
        <i class="faq__line desktop-only"></i>
        <div class="box" >

            <div class="grid">

                <div class="faq__heading col-span-6 no-padding">
                    <h2 class="heading heading--aside heading--smaller">
                        FAQ
                    </h2>
                </div>

                <div class="faq__content col-span-6 col-start-7">
                    <ul class="faq__accordeon">
                        {% for item in items %}
                        <li class="accordeon_item js-accordeon-item is-closed" data-component="Accordeon">
                            <button class="accordeon_item__button js-accordeon-button" data-gtm='{"event": "accordeon-item-link"}'>
                                <span class='sr-only'>Toggle visibility of the content</span>
                            </button>
                            <div class="accordeon_item__term">
                                <div class="text text--huge">
                                    <p>{{item.label}}</p>
                                </div>
                                <div class="accordeon_item__arrow">
                                    [[svg::arrow]]
                                </div>
                            </div>
                            <div class="accordeon_item__copy js-accordeon-copy">
                                <div class="text text--large text--extra-wide">
                                    {{item.text|raw}}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
