<section class="module module--collections_hero">
    <div class="collections_hero">

        <div class="collections_hero__logo desktop-hide">
            {% include "components/c_logo_box.html" %}
        </div>

        <section class="module">
            <div class="box" data-scroll="box">
                <div class="box__bg"></div>
                <div class="grid">
                    <div class="col-span-12">
                        {% include "components/c_heading.html" with {label: label, modifiers: ["collections"]} %}
                    </div>
                </div>
            </div>
        </section>

        <section class="module module--claim box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="grid">
                <div class="col-span-12">
                    <div class="claim claim--collection-big{% if small %} claim--small{% endif %}" data-scroll="claim">
                        <p>{{text | nl2br}}</p>
                    </div>
                    <div class="claim__copy">
                        <p>
                            Starting in 2022, we sent award-winning writers across America to capture oral histories and create 10 collections with extraordinary elders from all walks of life. The resulting composite portrait of American life is woven from incredible stories - many of them recorded here for the very first time.
                        </p>
                    </div>
                </div>
                <div class="claim__sticker">
                    {% include "components/c_sticker.html" with {'text':'Discover more'}  %}
                </div>
            </div>
        </section>

    </div>
</section>
