<section class="module module--collections_hero">
    <div class="collections_hero">

        <div class="collections_hero__logo desktop-hide">
            {% include "components/c_logo_box.html" %}
        </div>

        <section class="module">
            <div class="box" data-scroll="box">
                <div class="box__bg"></div>
                <div class="grid">
                    <div class="col-span-12">
                        {% include "components/c_heading.html" with {align: "right", label: label} %}
                    </div>
                </div>
            </div>
        </section>

        <section class="module module--claim box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="grid">
                <div class="col-span-12">
                    <div class="claim {% if small %}claim--small {% endif %}" data-scroll="claim">
                        <p>{{text | nl2br}}</p>
                        <div class="claim__sticker">
                            {% include "components/c_sticker.html" with {'text':'Discover the stories'}  %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>