<section class="module--about_hero ">
    <div class="about_hero">
        <section class="module">
            <div class="box">
                <div class="grid">
                    <div class="col-span-12">
                        <h2 class="heading heading--right">
                            {{label}}
                        </h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="box">
            <div class="col-span-12">
                <div class="about_hero__cards">
                    <ul class="cards">
                        {% for item in items %}
                        {% if item.image.desktop %}
                        <li class="cards__card">
                            {% include 'subviews/subview_picture.html' with {image:item.image} %}                            
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</section>