<section class="module module--hero">
  <div class="hero">

    <div class="hero__wrap">

      <div class="hero__logo desktop-hide">
        {% include "components/c_logo_box.html" %}
      </div>

      <h1 class="hero__title">
          <span class="box" data-scroll="box">
              <span class="box__bg"></span>
              <span class="hero__line">I see</span>
          </span>
          <span class="box" data-scroll="box">
              <span class="box__bg"></span>
              <span class="hero__line">My light</span>
          </span>
          <span class="box" data-scroll="box">
              <span class="box__bg"></span>
              <span class="hero__line"><i>Shining</i></span>
          </span>
      </h1>

      <div class="hero__subtitles box" data-scroll="box">
        <div class="box__bg"></div>
        <div class="grid">
          <div class="col-span-5 col-start-8">
            <div class="hero__bottom">
              <div class="hero__text desktop-only">
                {% include "subviews/subview_text.html" with { 
                  size: "larger",
                  text: text
                } %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero__sticker">
        {% include 'subviews/subview_sticker.html' with {label:'Today\'s Highlights'} %}
      </div>

    </div>

    <div class="box desktop-hide">
      <div class="grid">
        <div class="hero__text">
          {% include "subviews/subview_text.html" with {text: text} %}
        </div>
      </div>
    </div>

  </div>
</section>