<section class="module module--hero">
  <div class="hero">
      <h1 class="hero__title">
          <span class="box"><span class="hero__line">I see</span></span>
          <span class="box"><span class="hero__line">My light</span></span>
          <span class="box"><span class="hero__line"><i>Shining</i></span></span>
      </h1>
      <div class="box">
          <div class="grid">
              <div class="col-span-12">
                  <div class="hero__bottom">
                      <h2 class="hero__subtitle">: Oral Histories Of Our Elders</h2>
                      <div class="hero__text">
                          {% include "subviews/subview_text.html" with {text:text} %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>