<section class="jumbotron text-center">
    <div class="container">
      <h2>Interviews</h2>
      <h3>{{text}}</h3>
      <hr>
      <form>
        <label>Collection:</label>
        <select name="collection"><option value="">-- select --</option>
          {% for item in collection %}<option value="{{item.slug}}"{% if item.selected %} selected{% endif %}>{{item.label}}</option>{% endfor %}
        </select>
        <label>Theme:</label>
        <select name="theme"><option value="">-- select --</option>
          {% for item in theme %}<option value="{{item.slug}}"{% if item.selected %} selected{% endif %}>{{item.label}}</option>{% endfor %}
        </select>
        <label>Location:</label>
        <select name="state"><option value="">-- select --</option>
          {% for item in state %}<option value="{{item.slug}}"{% if item.selected %} selected{% endif %}>{{item.label}}</option>{% endfor %}
        </select>
        <input  type="submit" value="Filter">
      </form>
      <hr>
      {% if items %}
      <h4>Results: {{items|length}}</h4><br>
      <table class="table">
        <thead>
        <tr style="background:white">
          <td>Sort</td>
          <td>Collection</td>
          <td>Locations</td>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}      
        <tr>          
          <a href="{{item.url}}">
            <td>{{item.label}}</td>
            <td>{{item.interviewers[0].label}} Collection</td>
            <td>{{item.locations}}</td>
            {#<br>
            <br><em>{{item.summary}}</em>
            <br><br>#}
          </a>
        </tr>
        {% endfor %}
      </tbody>
      </table>>
      {% else %}
        <h3>No items matching selected criteria.</h3>
      {% endif %}
    </div>
  </section>