<section class="module module--interviews" >
    <div class="interviews interviews--banner">

        <div class="box__wrapper box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="interviews__title">
                <div class="grid">
                    <div class="col-span-12">
                        <div class="interviews__heading{% if reversed %} interviews__heading--reversed{% endif %}">
                            <h2 class="heading heading--reclined">
                                {% if heading %}{{ heading }}{% else %}Interviews{% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="interviews__claim">
                <div class="grid">
                    <div class="col-start-8 col-span-5">
                        <div class="interviews__copy">
                            {% include "subviews/subview_text.html" with { 
                            size: "larger",
                            text: text
                            } %}
                        </div>  
                    </div>
                </div>
                <div class="interviews__image" data-animation="slideUp" data-delay="0.2" data-action="pause">
                    {% include "subviews/subview_picture.html" with {
                        image: {
                            desktop: "/public/theme/images/flag.png",
                            mobile: "/public/theme/images/flag.png"
                            }
                        }
                    %}
                </div>
            </div>
        </div>

        <div class="interviews__button_box box__wrapper box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="grid">
                <div class="col-start-1 col-span-12">
                    <a href="/interviews" class="button button--two_line button--overflow" data-component="Button">
                        <i class="icon-btn-arrow arrow js-arrow">
                            <span class="vertical js-arrow-vertical"></span>
                            <span class="horizontal js-arrow-horizontal"></span>
                            <span class="triangle js-arrow-triangle"></span>
                        </i> 
                        <span class="button__text js-button-text">Explore <i>241 Interviews</i></span>
                    </a>
                </div>        
            </div>
        </div>

    </div>
</section>