<section class="module module--interviews">
    <div id="interviews">
        <div class="interviews-grid">

            <div class="interviews-grid__filtered filtered box" data-scroll="box">
                <div class="box__bg"></div>
                <ul class="filtered__list js-interviews-filtered"></ul>
            </div>

            <div class="js-panel-wrapper" data-scroll="interviews">
                <div class="interviews-grid__panel js-panel">

                    <div class="interviews-grid__filters box" data-scroll="box">
                        <div class="box__bg"></div>
                        <div class="interviews-grid__controls js-controls">
                            <div class="grid">
                                <div class="col-span-12">
                                    <div class="interviews-grid__header">
                                        {% include "subviews/subview_interviews_modal.html" %}
                                    </div>

                                    <form action="" data-component="Load"
                                        data-options='{"contentSelector": "#interviews-grid", "live": true, "extra": ".js-interviews-filters", "scrollTo": ".js-interviews-filtered", "externalLinks": true, "setStorage": true}'
                                        class="interviews-grid__form js-interviews-sort">
                                        <div class="interviews-grid__trigger">
                                            <button type="button js-modal" aria-controls="modal">
                                                <span>Filters</span>
                                                <i class="icon-filters">
                                                    <span class="row">
                                                        <span class="line"></span>
                                                        <span class="bar"></span>
                                                        <span class="line"></span>
                                                    </span>
                                                    <span class="row">
                                                        <span class="line"></span>
                                                        <span class="bar"></span>
                                                        <span class="line"></span>
                                                    </span>
                                                </i>
                                            </button>
                                        </div>
                                        <div class="interviews-grid__dropdown">
                                            <div class="dropdown" data-component="Dropdown" data-options='{"isAnimation": false, "toggle": true}'>
                                                <select required id="region" name="sort" class="sr-only">
                                                    <option data-value="narrators" value="narrators">Narrators A-Z</option>
                                                    <option data-value="narrators" value="!narrators">Narrators Z-A</option>
                                                    <option data-value="locations" value="locations">Locations</option>
                                                    <option data-value="collections" value="collections">Collections</option>
                                                </select>
                                                <button class="dropdown__button js-toggle">Sort by:
                                                    <i>[[svg::arrow-small]]</i>
                                                    <div class="dropdown__value js-value">Narrators</div>
                                                </button>
                                                <div class="dropdown__wrap js-dropdown-wrap">
                                                    <div class="dropdown__list js-dropdown-list">
                                                        <button class="dropdown__option js-dropdown-option is-selected">
                                                            <i class="checkmark">[[svg::checkmark]]</i>
                                                            <span>Narrators A-Z</span>
                                                        </button>
                                                        <button class="dropdown__option js-dropdown-option">
                                                            <i class="checkmark">[[svg::checkmark]]</i>
                                                            <span>Narrators Z-A</span>
                                                        </button>
                                                        <button class="dropdown__option js-dropdown-option">
                                                            <i class="checkmark">[[svg::checkmark]]</i>
                                                            <span>Locations</span>
                                                        </button>
                                                        <button class="dropdown__option js-dropdown-option">
                                                            <i class="checkmark">[[svg::checkmark]]</i>
                                                            <span>Collections</span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="desktop-only">
                                                <div class="interviews-grid__buttons">
                                                    <button type="button" class="button--grid" aria-label="show grid view" data-view="grid">
                                                        <i class="icon-grid">
                                                            <span></span><span></span><span></span><span></span>
                                                        </i>
                                                    </button>
                                                    <button type="button" class="button--list" aria-label="show list view" data-view="list">
                                                        <i class="icon-list">
                                                            <span></span><span></span><span></span>
                                                        </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="interviews-grid__tabs box" data-scroll="box">
                        <div class="box__bg"></div>
                        <div class="grid">
                            <div class="col-span-12">
                                <ul class="interviews-grid__letters" data-component="FilterLetters" data-options='{"contentSelector": "#interviews-grid"}'>
                                    {% set letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','Y','Z'] %}
                                    {% for letter in letters %}
                                        <li class="interviews-grid__letter">
                                            <button class="js-letter" aria-label="scroll to letter {{ letter }}"
                                                    data-letter="{{ letter }}">{{ letter }}</button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="interviews-grid__interviews box" data-scroll="box">
                    <div class="box__bg"></div>
                    <div id="interviews-grid" class="is-grid-view">
                        <div id="interviews-tiles" class="interviews-grid__tiles interviews interviews--grid">
                            {% for item in items %}
                                {% include './subviews/interviews/interviews_tile_' ~ item.type ~ '.html' with item %}
                            {% endfor %}
                        </div>
                        {% if load_more %}
                            <div class="interviews__more">
                                {% include "./components/c_load_more.html" with {
                                    options: {
                                        "contentSelector": "#interviews-tiles",
                                        "infinite": true,
                                        "updateURL": true,
                                    },
                                    text: "Load More <i>Interviews</i>",
                                    url: load_more,
                                } %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
