{% set colors=['green','red','yellow'] %}{% set c=random(colors|length) %}

<section class="module module--interviews" data-scroll="box" {% if collection_page %} id="interviews" {% endif %}>
    <div class="box__bg"></div>
    <div class="interviews">
        <div class="box">
            <div class="grid">
                <div class="col-span-12">

                    <div class="interviews__heading{% if reversed %} interviews__heading--reversed{% endif %}">
                        <div class="interviews__sticker">

                            {% include 'subviews/subview_sticker.html' with {label:'Explore', modifier: "long_text"} %}
                        </div>
                        <h2 class="heading heading--reclined">
                            {% if heading %}{{ heading }}{% else %}Interviews{% endif %}{% if collection_page %} <span
                                class="heading__counter">({{items|length}})</span>{% endif %}
                        </h2>
                    </div>

                </div>
            </div>
            <div class="grid">
                <div class="col-span-9">
                    <div style="font-size:1.5rem;line-height:2rem">
                    {{text|raw}}<br><br>
                    </div>
                    <a href="/interviews" class="button button--two_line button--overflow" data-gtm='{"event": "explore-interviews-btn-click"}' data-component="Button">
                        <i class="icon-btn-arrow arrow js-arrow">
                            <span class="vertical js-arrow-vertical"></span>
                            <span class="horizontal js-arrow-horizontal"></span>
                            <span class="triangle js-arrow-triangle"></span>
                        </i> <span class="button__text js-button-text">Explore <i>474 Interviews</i></span>
                    </a>
                    <br><br><br>
                </div>        
            </div>
        </div>


    </div>
</section>