<section class="module module--interviews">
    <div class="interviews-grid">

        <div class="interviews-grid__filtered filtered box">
            <ul class="filtered__list js-interviews-filtered"></ul>
        </div>

        <div data-scroll="interviews">
            <div class="interviews-grid__panel js-panel">

                <div class="interviews-grid__tabs">
                    <div class="grid">
                        <div class="col-span-12">
                            <ul class="interviews-grid__letters" data-component="FilterLetters" data-options='{"contentSelector": "#interviews-grid"}'>
                                {% set letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','Y','Z'] %}
                                {% for letter in letters %}
                                    <li class="interviews-grid__letter">
                                        <button class="js-letter" aria-label="scroll to letter {{ letter }}"
                                                data-letter="{{ letter }}">{{ letter }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="interviews-grid__filters box">
                    <div class="grid">
                        <div class="col-span-12">
                            <div class="interviews-grid__controls js-controls">

                                <div class="interviews-grid__header">
                                    <button type="button js-modal" aria-controls="modal">
                                        <span class="sr-only">show filters</span>
                                        <i class="icon-filters">
                                            <span class="row">
                                                <span class="line"></span>
                                                <span class="bar"></span>
                                                <span class="line"></span>
                                            </span>
                                            <span class="row">
                                                <span class="line"></span>
                                                <span class="bar"></span>
                                                <span class="line"></span>
                                            </span>
                                        </i>
                                    </button>
                                    {% include "subviews/subview_interviews_modal.html" %}
                                    <div class="interviews-grid__sort-button desktop-hide tablet-hide">
                                        <legend>Sort by:</legend>
                                        <button type="button" aria-controls="modal-sort" class="js-modal js-mobile-modal-button{% if '!' in sort.selected %} button--inversed{% endif %}">
                                            <span class="sr-only">show sorting</span>
                                            <i>[[svg::arrow-small]]</i>
                                            <span class="js-current-sorting">
                                                {% if 'collections' in sort.selected %}
                                                    collections
                                                {% elseif 'locations' in sort.selected %}
                                                    locations
                                                {% else %}
                                                    narrators
                                                {% endif %}
                                            </span>
                                        </button>
                                    </div>
                                    {% include "./subviews/subview_interviews_modal_sort.html" %}
                                </div>

                                <form action="" data-component="Load"
                                    data-options='{"contentSelector": "#interviews-grid", "live": true, "extra": ".js-interviews-filters", "scrollTo": ".js-interviews-filtered", "externalLinks": true, "filtered": ".js-interviews-filtered"}'
                                    class="interviews-grid__form js-interviews-sort">
                                    <fieldset class="interviews-grid__radios">
                                        <legend class="phone-hide">Sort by:</legend>
                                        <div class="phone-hide">
                                            <input type="radio"  name="sort" id="narrators" value="narrators" {% if sort.selected == 'narrators' or not sort.selected %} checked{% endif %}>
                                            <label for="narrators">
                                                <i>[[svg::arrow-small]]</i>
                                                <span>Narrators</span>
                                            </label>
                                        </div>
                                        <div class="phone-hide">
                                            <input type="radio"  name="sort" id="locations" value="locations" {% if sort.selected == 'locations' %} checked{% endif %}>
                                            <label for="locations">
                                                <i>[[svg::arrow-small]]</i>
                                                <span>Locations</span>
                                            </label>
                                        </div>
                                        <div class="phone-hide">
                                            <input type="radio"  name="sort" id="collections" value="collections" {% if sort.selected == 'colections' %} checked{% endif %}>
                                            <label for="collections">
                                                <i>[[svg::arrow-small]]</i>
                                                <span>Collections</span>
                                            </label>
                                        </div>
                                        <div class="desktop-only">
                                            <div class="interviews-grid__buttons">
                                                <button type="button" aria-label="show grid view" data-view="grid">
                                                    <i class="icon-grid">
                                                        <span></span><span></span><span></span><span></span>
                                                    </i>
                                                </button>
                                                <button type="button" aria-label="show list view" data-view="list">
                                                    <i class="icon-list">
                                                        <span></span><span></span><span></span>
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="interviews-grid__interviews box">
                <div id="interviews-grid" class="is-list-view">
                    <div id="interviews-tiles" class="interviews-grid__tiles interviews interviews--grid">
                        {% for item in items %}
                            {% include './subviews/interviews/interviews_tile_' ~ item.type ~ '.html' with item %}
                        {% endfor %}
                    </div>
                    {% if load_more %}
                        <div class="interviews__more">
                            {% include "./components/c_load_more.html" with {
                                options: {
                                    "contentSelector": "#interviews-tiles",
                                    "infinite": true,
                                    "updateURL": true,
                                },
                                text: "Load More <i>Interviews</i>",
                                url: load_more,
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>