<section class="module module--claim box">
  <div class="grid">
    <div class="col-span-12">
      <div class="claim ">
        {{text}}
        <div class="claim__sticker">
          <div class="sticker">
            <div class="sticker__layer">
              <div class="sticker__front sticker__wrap">
                <div class="sticker__circle"></div>
              </div>
            </div>
            <span class="sticker__text">Discover more</span>
            <div class="sticker__layer">
              <div class="sticker__back sticker__wrap">
                <div class="sticker__circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>