{% if header=='large' %}{% include 'subviews/subview_header_large.html' %}{% endif %}
<section class="module module--claim box">
  <div class="grid">
    <div class="col-span-12">
      <div class="claim {% if params.claim %}claim--{{params.claim}}{% endif %}" >
        <p>{{text}}</p>
        {% if params.sticker %}
          <div class="claim__sticker">
              {% include 'subviews/subview_sticker.html' with { label:'Discover more' } %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>