<section class="module module--collection_location">
    <div class="collection_location">
        <div class="collection_location__claim box" >

            <div class="grid">
                <div class="col-span-12">
                    <div style="max-width:50%;float:right">
                        <p style="font-size:1.5rem;line-height:2rem">
                            <style>
                                p strong {
                                    font-variation-settings: "wght" 700, "ital" 100;
                                }
                            </style>
                            <br>
                            {{text | raw}}
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>