<section class="jumbotron text-center">
    <div class="container">
      
        <h2  class="text-center">Cześć!</h2><br>
        <form method="POST" action="/pl/api/login" class="form-signin">
        	<input name="token" type="hidden" value="">
          <input type="text" name="login_login" class="form-control first" placeholder="Twój login" autofocus required>
        	<input type="password" name="login_password" class="form-control last" placeholder="Hasło" required>
        <button name="login_submit" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    </form>
    <br><br>
    <p>
      Nie masz konta? <a href="/pl/register">Zarejestruj się</a>
      <br>Zapomniałeś hasła? <a href="/pl/password-reset">Odzyskaj hasło</a>
    </p>

    </div>
  </section>