<section class="jumbotron text-center">
    <div class="container">
      
      <h2 class="text-center">Ustawienie nowego hasła</h2><br>
        <form method="POST" action="/pl/api/password_set" class="form-signin">
            <input name="token" type="hidden" value="">
            <input type="hidden" name="key" value="{{key}}">
            <input type="password" name="profile_password_new" class="form-control last" placeholder="Nowe hasło" required>
            <input type="password" name="profile_password_new_confirm" class="form-control last"
                placeholder="Powtórz nowe hasło" required>
            <button name="login_submit" class="btn btn-lg btn-primary btn-block" type="submit">Ustaw nowe hasło</button>
        </form>  
      

    </div>
  </section>