{% set colors =['pink','pale_green','pale_purple','yellow','light_blue'] %}
{% set i_color=-1 %}
<section class="module module--people">
    <div class="people">
        <div class="box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="grid">
                <div class="people__photos col-span-6 no-padding">
                    <div class="text text--large">
                        {{text|raw}}
                    </div>

                    {% set reverse=false %}

                    {% for section in items %}
                        <div class="people_group" data-scroll="people">

                            <div class="people_group__title">
                                <h2 class="heading heading--small">
                                    {{section.label}}
                                </h2>
                            </div>


                            <div class="people_group__people">
                                {% for person in section.people %}
                                {% set i_color=i_color+1 %}{% if i_color>=colors|length %}{% set i_color=0 %}{% endif %}
                                <div class="person{% if reverse %} person--reversed{% endif %} js-person">
                                    <div class="person__photo">
                                        <div class="polaroid polaroid--fit polaroid--small_frame">
                                            <div class="polaroid__image polaroid__image--{{colors[i_color]}}">
                                                {% include 'subviews/subview_picture_thumb.html' with {image:person.image} %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="person__details">
                                        <p class="person__name">{{person.name}} {{person.surname}}</p>
                                        <p class="person__title">{{person.function}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>

                        {% set reverse= reverse ? (section.people | length) % 2 != 0 : (section.people | length) % 2 == 0 %}
                    {% endfor %}
                </div>

                <div class="people__heading col-span-6 col-start-7">
                    <h2 class="heading heading--aside heading--smaller">{{label}}</h2>
                </div>

            </div>
        </div>
    </div>
</section>