<section class="module module--results">
    <div class="box" data-scroll="box">
        <div class="box__bg"></div>
        <div class="grid">
            <div class="col-span-12">
                <div class="results">
                    <div class="results__header">
                        <h2 class="results__title">
                            {{ q }}
                            <span class="results__counter">[[svg::bracket-left]]{{ amount }}[[svg::bracket-right]]</span>
                        </h2>
                        <button class="results__back js-menu-toggle" data-search><i class="icon-close"></i><span class="sr-only">Enter search</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if categories.narrators.items %}
        <div class="box box--nomargin" data-scroll="box">
            <div class="box__bg"></div>
            <h3 class="results__label">Interviews</h3>
        </div>
        <div class="box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="interviews interviews--grid is-list-view">
                {% for interview in categories.narrators.items %}
                    {% include 'subviews/interviews/interviews_tile_single.html' with { item: interview } %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if categories.collections.items %}
        <div class="box box--nomargin" data-scroll="box">
            <div class="box__bg"></div>
            <h3 class="results__label">Collections</h3>
        </div>
        <div class="box" data-scroll="box">
            <div class="box__bg"></div>
            <div class="collections">
                {% for item in categories.collections.items %}
                    <div class="collections__item">
                        <a href="{{ item.url }}" class="collections__link"><span>{{ item.first_name }} {{ item.last_name }}</span></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if categories.transcripts.items %}
        <div class="box box--nomargin" data-scroll="box">
            <div class="box__bg"></div>
            <h3 class="results__label">Transcripts</h3>
        </div>
        <div id="transcripts-wrap" class="transcripts">
            {% for item in categories.transcripts.items %}
                {% set expand_id = 'transcript-results-list-' ~ item.id %}

                <div class="box" data-scroll="box">
                    <div class="box__bg"></div>
                    <div class="transcripts__item">
                        <h3 class="transcripts__label">{{ item.label }}</h3>
                        <div class="transcripts__elements">
                            <ul>
                                {% for element in item.items %}
                                    <li><a href="{{ element.url }}">{{ element.text|raw }}</a></li>

                                    {% if item.items|length > 5 and loop.index == 5 %}
                                </ul>
                                <div class="results__expand expand" data-expand id="{{ expand_id }}">
                                    <ul>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if item.items|length > 5 %}
                            </div>{# END of .results__expand #}
                            <button class="results__expand-trigger button button--small button--overflow" data-component="Button"
                                    aria-expanded="false" aria-controls="{{ expand_id }}" data-expanded-text="Show less" data-hidden-text="Load more">
                                {% include "./components/c_arrow_icon.html" %}
                                <span class="button__text js-button-text js-expand-text">Load more</span>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if categories.transcripts.url_more %}
            <div class="results__more box" data-scroll="box">
                <div class="box__bg"></div>
                {% include "components/c_load_more.html" with {
                    options: {
                        "contentSelector": "#transcripts-wrap",
                        "updateURL": true,
                    },
                    text: "Load More <i>Transcripts</i>",
                    url: categories.transcripts.url_more
                } %}
            </div>
        {% endif %}
    {% endif %}
</section>