<section class="module module--text-aside">
    <div class="text_aside">
        <div class="box">
            <div class="grid grid--row-start">

                <div class="text_aside__column col-span-6 col-start-7">
                    <div class="text text--large text--aside text--contact">
                        {{text|raw}}
                    </div>
                </div>

                <div class="text_aside__decorator text_aside__decorator--boxes text_aside__decorator--contact">
                    <section class="module module--boxes">
                        <div class="boxes">[[svg::boxes]]</div>
                    </section>
                </div>
                
            </div>
        </div>
    </div>
</section>