<section class="module module--home-text module--home-text--link box" data-scroll="box">
    <div class="box__bg"></div>
    <div class="grid">
        <div class="col-span-9">
            <a href="{{url}}" class="button" data-component="Button">
                <i class="icon-btn-arrow arrow">
                    <span class="vertical"></span>
                    <span class="horizontal"></span>
                    <span class="triangle"></span>
                </i> <span class="link__text">{{label|brackets2tag('i')|raw}}</span>
            </a>
        </div>
        <div class="col-span-3 col-start-10">
            <div class="text">
                {{text|raw}}
            </div>
        </div>
    </div>
    {% if params.decor %}
        <div class="boxes boxes--reversed">[[svg::boxes]]</div>
    {% endif %}
</section>