{% if module_index == 0 %}
    <section class="module module--logo_box desktop-hide">
        {% include "components/c_logo_box.html" %}
    </section>
{% endif %}

{% if header=='large' %}
    {% include 'subviews/subview_header_large.html' %}
{% endif %}

{% set decor = (header == 'standard') ? {} : {'decor': 'boxes'} %}
{% set modifiers = (header == 'standard') ? ['wide', 'privacy'] : ['aside','contact'] %}
{% set decor_modifiers = (header == 'standard') ? [] : ['contact'] %}

{% include "modules/m_text_aside.html" with {'params': decor, 'hide_label': header == 'large', 'modifiers': modifiers,'decor_modifiers': decor_modifiers } %}