<section class="module module--home-text module--home-text--link box" >

    <div class="grid">
        <div class="home_text__copy col-span-5 col-start-8">
            {% include "subviews/subview_text.html" with {
                size: "larger",
                text: text
              } %}
        </div>
    </div>

    {% if params.decor %}
        <div class="home_text__decorator">
            <div class="boxes" data-animation="slideUp" data-delay="0.5" data-action="pause" >
                [[svg::boxes]]
            </div>
        </div>
    {% endif %}

    <div class="button__box">
        <div class="grid">
            <div class="col-start-1 col-span-12">
                <a href="{{url}}" class="button button--two_line button--overflow" data-component="Button">
                    <i class="icon-btn-arrow arrow js-arrow">
                        <span class="vertical js-arrow-vertical"></span>
                        <span class="horizontal js-arrow-horizontal"></span>
                        <span class="triangle js-arrow-triangle"></span>
                    </i>
                    <span class="button__text js-button-text">{{label|brackets2tag('i')|raw}}</span>
                </a>
            </div>
        </div>
    </div>
</section>
