<section class="module module--map box" data-scroll="box">
    <div class="box__bg"></div>
    <div class="map" data-component="Map">
        <div class="map__aside">
            <div class="map__heading">
                <h2 class="heading">
                    Map
                </h2>
            </div>
            <ul class="map__locations">
                {% for item in items %}
                <li class="map__location js-location-wrapper">
                    <button class="map__location-button js-location" data-id="{{loop.index0}}" data-title="{{item.label}}"
                        data-location="{{item.address}}" data-coords="{{item.gps_lat}}, {{item.gps_lng}}"
                        data-interviews="{{item.quotes|json_encode}}"></button>
                    <div class="map__title">
                        {{item.label}}
                    </div>
                    <div class="map__content">
                        <div class="map__content-wrapper">
                            <div class="map__description">
                                <p>{{item.description}}</p>
                            </div>
                            <div class="map__image_wrapper js-map-image-wrapper desktop-hide tablet-hide"></div>
                            <ul class="map__interviews js-interviews-inner-list desktop-hide tablet-hide"></ul>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="map__wrap phone-hide">
            <div id="map" class="map__container js-map"></div>
            <ul class="map__interviews js-interviews-list"></ul>
            <div class="map__controls">
                <button class="map__control js-all-button">-</button>
                <button class="map__control js-zoom-button">+</button>
            </div>
        </div>
    </div>
</section>