<section class="module module--collection_hero">
    <div class="collection_hero">

        <div class="collection_hero__wrapper">

            <div class="about_hero__logo desktop-hide">
                {% include "./components/c_logo_box.html" %}
            </div>

            <div class="box collection_hero__author_wrapper">
                <div class="grid">
                    <div class="col-span-12">
                        <div class="collection_hero__author">
                            <div class="collection_author collection_author--huge">
                                <h3 class="collection_author__name">{{item.first_name}}</br>{{item.last_name}}</h3>

                                <h4 class="collection_author__collection">Collection</h4>
                            </div>
                        </div>

                        <div class="collection_hero__area desktop-hide">
                            {{item.locations}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="box collection_hero__cover_wrapper">
                <div class="collection_hero__cover">
                    {% include "/subviews/subview_illustration.html" with { shadow: item.color, image: item.image } %}
                </div>
                {#<div class="collection_hero__area desktop-only">
                    {{item.locations}}
                </div>#}
            </div>
        </div>

        <div class="box">
            <div class="grid">
                <div class="col-span-12">
                    <div class="collection_hero__copy no-padding">
                        <div class="collection_hero__intro">
                            <div class="text">
                                <p
                                    style="max-width:30rem;font-family: Pangram Sans;font-size:28px;text-transform:uppercase;line-height:28px">
                                    {{item.collection_title|nl2br}}</p>
                            </div>
                            {#{% include "/subviews/subview_text.html" with {text: "<p>#{item.collection_title}</p>" }
                            %}#}
                            {#{% include "components/c_link.html" with { url: "#interviews", text: "Go to interviews" }
                            %}#}
                        </div>
                        {#<span class="collection_hero__scroll">OR SCROLL DOWN TO READ MORE</span>#}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="module module--claim box" data-scroll="box" style="padding-top:150px;padding-bottom:100px">
    <div class="box__bg"></div>
    <div class="grid">
        <div class="col-span-12">
            <div class="claim" style="font-size:4rem" data-scroll="claim">
                <p>{{item.lead}}</p>
            </div>
        </div>
    </div>
</section>