<section class="module module--quote_panel box" data-scroll="box">
    <div class="box__bg"></div>
    <div class="quote_panel">
        <div>
            <div class="grid grid--row-start">
                <div class="quote_panel__column col-span-8 col-start-{{reversed ? '8' : '1'}}{{reversed ? '' : ' no-padding'}}">
                    {% if video.src %}
                        <div class="quote_panel__video">
                            <figure>
                                <div class="player player--video player--collection" data-component="Video" data-options='{"volume": 0.7, "size": "cover", "timeFormatLong": false}'>
                                    <video src="{{ video.src }}" controls poster="{{ image.desktop }}"></video>
                                </div>
                            </figure>
                        </div>
                    {% endif %}
                </div>

                <div class="quote_panel__column col-span-4 col-start-{{reversed ? '1' : '9z'}}{{reversed ? ' no-padding' : ''}}">
                    <div class="quote_panel__quote">
                        <div class="claim__sticker">
                            {% include "components/c_sticker.html" with {'text':'Skip to interviews', modifiers: ['grey']}  %}
                        </div>
                        {% if bio %}

                            <div class="text text--large text--aside">
                                {% if heading %}
                                    <h3 class="heading">Meet the interviewer</h3>
                                {% endif %}
                                {{bio|raw}}
                            </div>

                        {#{% include "/subviews/subview_text.html" with {text:bio, large:true, aisde:true, heading: heading } %}#}

                        {% else %}

                            {% include "/components/c_quote.html" with {
                                big: true,
                                text: text,
                                author: label
                            } %}

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
