<section class="module module--quote_panel">
    <div class="quote_panel">
        <div class="box">
            <div class="grid grid--row-start">
                <div class="quote_panel__column col-span-6 col-start-{{reversed ? '7' : '1'}}{{reversed ? '' : ' no-padding'}}">
                    {% if video.src %}
                        <div class="quote_panel__video">
                            <figure style="margin-bottom: 40px;">
                                <div class="player player--video" data-component="Video" data-options='{"volume": 0.7, "size": "cover", "timeFormatLong": false}'>
                                    <video src="{{ video.src }}" controls poster="{{ image.desktop }}"></video>
                                </div>
                            </figure>
                        </div>
                    {% endif %}
                </div>

                <div class="quote_panel__column col-span-6 col-start-{{reversed ? '1' : '7'}}{{reversed ? ' no-padding' : ''}}">
                    <div class="quote_panel__quote">

                        {% if bio %}

                            <style>
                                .quote_panel__quote p {
                                    max-width: 27.375rem;
                                }

                            </style>

                            {% include "/subviews/subview_text.html" with {text:bio, large:true, aisde:true, heading: heading } %}

                        {% else %}

                            {% include "/components/c_quote.html" with {
                                big: true,
                                text: text,
                                author: label
                            } %}

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>