<If "%{HTTP_HOST} == 'elder.sunship.dev'">
AuthType Basic
AuthName "Access denied"
AuthUserFile /home/huncwot7/domains/elder.sunship.dev/public_html/.htpasswd
Require valid-user
AddHandler application/x-httpd-php81 php
</If>

RewriteEngine On
Options -Indexes

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} \.(gif|jpg|png|jpeg|css|js)$ [NC]
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]

AddHandler application/x-httpd-php .html .htm

AddType text/vtt .vtt

RedirectMatch 404 /\.git
RedirectMatch 404 .gitignore
RedirectMatch 404 Dockerfile
RedirectMatch 404 Dockerfile
RedirectMatch 404 gulp-config.json
RedirectMatch 404 gulpfile.js
RedirectMatch 404 package.json
RedirectMatch 404 package-lock.json
RedirectMatch 404 tsconfig.json
RedirectMatch 404 README.md
