.sticker {
    $self: &;


    --sticker-size: #{rem(111)};
    --sticker-fold-size: 0%;
    --sticker-bg: var(--color-red);
    --sticker-back-bg: var(--color-pink);
    --sticker-text-color: var(--color-text-alt);


    @include flex;
    @include font-family(reclined, 300);

    justify-content: center;
    width: var(--sticker-size);
    height: var(--sticker-size);
    text-align: center;
    color: var(--sticker-text-color);
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;

    // updated with js later

    &[data-scroll] {
        opacity: 0;
        will-change: opacity, transform;
    }

    &.is-visible {
        --sticker-fold-size: 11%;

        // opacity: 1;
    }

    @include breakpoint(desktop) {
        padding: rem(30) rem(20);
    }

    @include breakpoint(tablet) {
        --sticker-size: #{vw(120, tablet)};

        padding: vw(10, tablet) vw(20, tablet);
    }

    @include breakpoint(phone) {
        --sticker-size: #{rem(82)};
    }


    &--yellow {
        --sticker-bg: var(--color-yellow);
        --sticker-back-bg: var(--color-purple);
        --sticker-text-color: var(--color-text);
    }


    &--grey {
        --sticker-bg: var(--color-bg);
        --sticker-back-bg: var(--color-gold);
        --sticker-text-color: var(--color-grey800);
    }


    &--purple {
        --sticker-bg: var(--color-purple);
        --sticker-back-bg: var(--color-green);
        --sticker-text-color: var(--color-pink);
    }

    &--blue {
        --sticker-bg: var(--color-blue);
        --sticker-back-bg: var(--color-red);
        --sticker-text-color: var(--color-box);
    }

    &--long_text {
        .sticker__text {
            @include breakpoint(phone) {
                @include font-size(17, 16.252);
                @include letter-spacing(-0.051, 17);

                margin-top: rem(-7);
            }
        }
    }



    &__text {
        text-transform: uppercase;
        transform: rotate(-25deg);

        @include breakpoint(desktop) {
            @include font-size(25, 22);
            @include letter-spacing(-0.75, 25);

            padding-top: rem(12);
            padding-right: rem(6);
        }

        @include breakpoint(tablet) {
            @include font-size(24, 0.9);
            @include letter-spacing(-0.0862, 24);

            padding-top: rem(6);
            padding-right: rem(2);
        }

        @include breakpoint(phone) {
            @include font-size(18, 17);
            letter-spacing: -0.03em;

            padding: rem(12) rem(15) 0 rem(10);
        }

        .sticker--big & {

            @include breakpoint(desktop) {
                @include font-size(32, 27.5);
                @include letter-spacing(-0.96, 32);

                transform: rotate(-32deg);
                padding-top: rem(2);
            }
        }


        .is-404 &, .page_404 & {

            @include breakpoint(desktop) {
                @include font-size(23, 19);
                @include letter-spacing(-1.15, 23);

                padding-right: rem(8);
            }
        }

        .collection_hero__sticker-wrapper & {
            @include breakpoint(desktop) {
                padding-top: rem(2);
            }
        }
    }



    &__layer {
        position: absolute;
        width: var(--sticker-size);
        height: var(--sticker-size);
        transform: rotate(45deg);
    }



    &__wrap {
        position: absolute;
        height: var(--sticker-size);
        width: var(--sticker-size);
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        overflow: hidden;
    }



    &__circle {
        position: absolute;
        inset: 0 auto auto 0;
        width: var(--sticker-size);
        height: var(--sticker-size);
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
    }



    &__back {
        height: var(--sticker-fold-size);
        top: calc(var(--sticker-fold-size) * 1);
        transition: all 0.5s ease-in-out;
    }



    &__back #{$self}__circle {
        margin-top: calc((var(--sticker-size) - var(--sticker-fold-size)) * -1);
        background-color: var(--sticker-back-bg);
    }



    &__front {
        bottom: 0;
        top: calc(var(--sticker-fold-size) * 2);
        transition: all 0.5s ease-in-out;
    }



    &__front #{$self}__circle {
        margin-top: calc(var(--sticker-fold-size) * -1);
        background: var(--sticker-bg);
    }
}
