<!DOCTYPE html>
<html lang="{{lang}}" class="modernizr-no-js">

<head>
    {% include 'scaffold/meta.html' %}
    {% include 'scaffold/favicons.html' %}
    
    {% for item in scaffold.langs_alternate %}
    <link rel="alternate" href="{{item.url}}" hreflang="{{item.lang}}">
    {% endfor %}

    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    {% if scaffold.serdelia_edit %}<link rel="stylesheet" href="/serdelia/public/uho6_serdelia6/uho6.css">{% endif %}
    
</head>

<body class="is-not-ready">
    {% if scaffold.serdelia_edit=='serdelia_edit_pro' %}
    <iframe class="serdelia-pro-iframe" src="" style="display:none"></iframe>
    {% endif %}

    [[svg::sprite]]

    {% include 'scaffold/header.html' %}

    <main id="content" class="content">
        {{content|raw}}
    </main>

    {% include 'scaffold/footer.html' %}
    {% include 'scaffold/templates.html' %}


    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    {% if scaffold.serdelia_edit %}<script src="/serdelia/public/uho6_serdelia6/uho6.js"></script>{% endif %}


</body>
</html>
