.boxes {

    @include breakpoint(phone) {
        svg {
            height: auto;
            width: vw(67.5, phone);
        }
    }

    &--absolute {
        position: absolute;
        z-index: 2;

        @include breakpoint(desktop) {
            inset: vw(21) auto auto 0;
        }
    }


    &--reversed {
        text-align: right;

        @include breakpoint(desktop) {
            padding-bottom: rem(14);
        }

        svg {
            transform: scaleX(-1);
        }

        .module--home-text--link & {
            text-align: left;

            svg {
                transform: unset;
            }
        }
    }


}