.cards {
    width: 100%;
    height: 100%;

    &__card {
        width: inherit;
        height: inherit;
        position: absolute;
        transition: transform 0.4s cubic-bezier(.5, 0, .2, 1);
        transform-origin: -100% 150%;
        // $baseHue: random(360);

        @for $i from 1 through 4 {
            &:nth-last-child(#{$i}) {
                // margin: ((5 - $i) * -10px);
                transform: translate(((5 - $i) * -10px), ((5 - $i) * -10px));
            }
        };


        &--red { background-color: var(--color-red); }
        &--yellow { background-color: var(--color-yellow); }
        &--lightblue { background-color: var(--color-light-blue); }
        &--dark-green { background-color: var(--color-dark-green); }

        img {
            width: 100%;
            height: 100%;
        }
    }
};