.claim {
    @include font-family(compressed);
    @include font-size(103, 93);
    @include letter-spacing(-3.09, 103);

    max-width: 75%;
    text-transform: uppercase;
    position: relative;


    &--small {
        @include font-size(100, 83);
        @include letter-spacing(-3, 100);
        max-width: 80%;
        padding-top: rem(5);
    }


    .is-404 & { padding-bottom: vw(95); }



    &__sticker {
        position: absolute;
        left: 0;
        bottom: calc(100% - #{rem(10)});


        .is-404 & { left: rem(192); }
    }
}