.claim {
    @include font-family(compressed);

    text-transform: uppercase;
    position: relative;

    @include breakpoint(desktop) {
        @include font-size(103, 93);
        @include letter-spacing(-3.09, 103);

        max-width: 75%;
    }

    @include breakpoint(tablet) { 
        @include font-size(66, 0.855);
        @include letter-spacing(-1.55, 66);
    }

    @include breakpoint(phone) {
        @include font-size(49, 0.855);
        @include letter-spacing(-1.47, 49);
    }

    &--small {
        @include breakpoint(desktop) {
            @include font-size(100, 83);
            @include letter-spacing(-3, 100);

            max-width: 80%;
            padding-top: rem(5);
        }

        @include breakpoint(tablet) {
            @include font-size(66, 0.855);
            @include letter-spacing(-1.55, 66);

            margin-block: trim-font(0.855);
            padding-top: rem(20);
        }

        @include breakpoint(phone) {
            @include font-size(49, 0.855);
            @include letter-spacing(-1.47, 49);

            padding-top: rem(12);
        }
    }



    .is-404 &, .page_404 & { 

        @include breakpoint(desktop) {
            padding-bottom: vw(95); 
        }

        @include breakpoint(tablet) {
            padding-bottom: vw(195, tablet);
        }

        @include breakpoint(phone) {
            padding-bottom: vw(135, phone);
        }
    }



    &__sticker {
        position: absolute;
        left: 0;
        bottom: calc(100% - #{rem(10)});
        z-index: 5;


        .is-404 &, .page_404 & { 

            @include breakpoint(desktop) {
                left: rem(192); 
            }

            @include breakpoint(tablet) {
                bottom: calc(100% - #{rem(238)});
            }

            @include breakpoint(phone) { 
                bottom: calc(100% - #{rem(205)});
            } 
        }


        .claim--collections & {
            position: relative;
            margin-top: vw(-27);

            @include breakpoint(not-desktop) {
                display: none;
            }
        }
    }
}