.curtain {
    @include menuShiftedElement;

    position: fixed;
    inset: 0;
    right: calc(var(--GLOBAL-aside-width) + 1px);

    display: none;
    z-index: 0;


    body.is-fully-loaded & {
        display: block;
    }


    &.is-active {
        @include z-index(curtain);
    }


    &__bg {
        @include full;
        background-color: var(--color-black);
        transform-origin: right top;
        position: absolute;
        z-index: -1;

        &:nth-child(1) {
            background-color: var(--color-red);
            z-index: 1;
        }

        &:nth-child(2) {
            background-color: var(--color-green);
            z-index: 2;
        }

        &:nth-child(3) {
            background-color: var(--color-black);
            z-index: 3;
        }

        &--front {
            z-index: 10;
            background-color: var(--color-box);
            transform: scaleX(0);
            transition: transform 0.7s $easing 0.2s;

            body.has-menu-open & {
                transform: scaleX(1);
            }
        }
    }



    &__lead {
        @include font-family(compressed);
        @include font-size(30, 30);

        text-transform: uppercase;
        position: absolute;
        inset: 50% auto auto var(--grid-margin);
        transform: translateY(-50%);
        color: var(--color-grey200);
        z-index: 4;


        @include breakpoint(not-desktop) {
            opacity: 0 !important;
        }


        i {
            @include font-family(reclined);

            margin-left: rem(4);
        }
    }



    &__wrap {
        @include flex(row, center, center);

        width: 100%;
        height: 100%;
        position: relative;
        z-index: 4;

        transition: transform .7s $ease-custom;
        pointer-events: none;

        body.has-menu-open & {
            transform: translateX(var(--GLOBAL-content-width));
        }
    }



    &__circle {
        position: absolute;
        z-index: -1;
        width: rem(228);
        height: rem(228);
        border-radius: 50%;
        background-color: var(--color-red);
        opacity: 0;
        scale: 0;
        animation: pulse 3s infinite ease-in-out;
    }



    &__image {
        width: rem(316);
        height: rem(316);
        opacity: 0;
        scale: 0;
    }
}
