.dropdown {
    @include flex;
    @include font-family(normal);
    @include font-settings(800, 100);
    @include font-size(17, 18);

    --checkmark-width: #{rem(23)};


    padding-bottom: rem(15);
    padding-right: rem(11);
    width: 100%;
    height: 100%;


    @include breakpoint(not-desktop) {
        justify-content: flex-end;


        @include breakpoint(tablet) {
            --checkmark-width: #{rem(36)};
        }
    
    
        @include breakpoint(phone) {
            --checkmark-width: #{rem(36)};
        }
    }



    &.is-open .dropdown__button i {
        svg {
            transform: rotate(180deg);
        }
    }



    &__wrap {
        position: absolute;
        inset: 100% calc(var(--grid-margin) * -1) auto 0;
        overflow-y: clip;

        @include breakpoint(desktop) {
            z-index: 0;

        }

        @include breakpoint(not-desktop) {
            inset: 100% calc(var(--grid-margin) * -1) auto auto;
        }
    }



    &__list {
        @include flex(column, space-between, flex-start);

        position: relative;
        gap: rem(2);
        background-color: var(--color-black);
        padding: rem(19) rem(18) rem(23);
        pointer-events: none;
        transform: translateY(-101%);
        transition: transform .5s $ease-out;


        .is-open & {
            transform: translateY(0);
            pointer-events: all;
        }
    }



    &__option {
        @extend %modal-label;

        width: 100%;
        user-select: none;

        &.is-hidden { display: none; }

        &.is-selected {
            span { transform: translateX(0); }
            svg { opacity: 1; }
        }

        @include breakpoint(not-desktop) {
            width: max-content;
        }
    }



    &__button {
        @include flex;
        @include font-family(normal);
        @include font-settings(500, 100);
        @include font-size(17, 18);

        text-transform: uppercase;

        i {
            margin: 0 rem(5) 0 rem(7);
        }
    }



    &__value {
        @include flex;
        @include font-family(normal);
        @include font-settings(800, 100);

        position: relative;
        z-index: 3;
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
    }
}