.filtered {
    border-top: none !important;


    &:has(li) {
        border-top: 1px solid var(--color-bg);
    }

    &__list {
        @include flex(row, flex-start, center);
        padding-left: map-get($grid-offset, desktop);
        gap: rem(16);
        flex-wrap: wrap;

        @include breakpoint(tablet) {
            padding-inline: map-get($grid-offset, tablet);
        }

        @include breakpoint(phone) {
            gap: rem(4) rem(14);
            padding-top: rem(12);
            padding-inline: map-get($grid-offset, phone);
        }

        &:has(li) {
            padding-bottom: rem(25);
        }
    }



    &__label {
        @include font-family(compressed);
        @include font-size(21, 19);
        @include letter-spacing(-0.525, 21);

        text-transform: uppercase;


        label {
            @include flex(row, flex-start, center);

            margin-top: rem(12);
            gap: rem(8);

            @include breakpoint(phone) {
                margin-top: rem(5);
            }
        }


        .icon-close {
            top: -1px;
            width: rem(14);
            height: rem(14);
        }
    }
}