.heading {
    @include font-family(compressed);

    text-transform: uppercase;
    padding-left: unset;

    @include breakpoint(desktop) {
        @include font-size(204, 157);
        @include letter-spacing(-6.12, 204);
    }

    @include breakpoint(phone) {
        @include font-size(132, 140.253);
        @include letter-spacing(-5.94, 132);
    }


    &--medium {

        @include breakpoint(desktop) {
            @include font-size(130, 100);
            @include letter-spacing(-3.9, 130);
            padding-top: rem(47);
        }

        @include breakpoint(phone) {
            @include font-size(80, 67.5);
            @include letter-spacing(-2.4, 80);
        }

        i {
            @include font-family(reclined, 300);

            font-style: normal;

            @include breakpoint(desktop) {
                @include letter-spacing(-16.8, 240);

                padding-left: rem(10);
            }

            @include breakpoint(phone) {
                @include letter-spacing(-6, 80);

                padding-left: rem(5); 
            } 
        }
    }

    
    &--smaller {

        @include breakpoint(desktop) {
            @include font-size(103, 100);
            @include letter-spacing(-3.09, 103);
        }

        @include breakpoint(phone) {
            @include font-size(80, 67.2);
            @include letter-spacing(-2.8, 80);

            margin-left: rem(-2);
        }
    }


    &--small {

        @include breakpoint(desktop) {
            @include font-size(30, 28);
            @include letter-spacing(-0.9, 30);
            margin-bottom: vw(4);
        }

        @include breakpoint(phone) {
            @include font-size(30, 28);
            @include letter-spacing(-0.9, 30);
        }

        p + &,
        a + & {
            @include breakpoint(desktop) {
                margin-top: vw(38);
            }
            
        }
    }


    &--right { 

        @include breakpoint(desktop) {
            text-align: right; 
        }

        @include breakpoint(phone) {
            @include font-size(82, 0.84);
            @include letter-spacing(-2.87, 82);

            padding-top: rem(12);
        }
    }


    &--aside {
        @include breakpoint(desktop) {
            padding-top: rem(24);
        }

        @include breakpoint(not-desktop) {
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                background-color: $color-bg;
                bottom: 0;
                z-index: -1;
            }

            @include breakpoint(phone) {
                padding-block: rem(13) rem(2);

                &::before {
                    width: calc(100% + 2 * #{map-get($grid-gutter, phone)});
                    left: -1 * map-get($grid-gutter, phone);
                }
            }
        }
    }

    &--reclined {
        @include font-family(reclined, 300);

        @include breakpoint(desktop) {
            @include font-size(204, 175);
            @include letter-spacing(-10.2, 204);
        }

        @include breakpoint(phone) {
            @include font-size(80, 80);
            @include letter-spacing(-2.8, 80);
        }
    }


    &--padded {
        @include breakpoint(desktop) {
            padding-top: rem(24);
            padding-bottom: rem(80);
        }

        @include breakpoint(phone) {
            padding-top: rem(20);
            padding-bottom: rem(98);
        }
    }


    &--title {
        @include breakpoint(phone) {
            @include font-size(132, 140.253);
            @include letter-spacing(-5.94, 132);
        }     
    }



    .is-404 & {

        @include breakpoint(desktop) {
            margin-bottom: rem(-7);
            padding-right: rem(10);
        }

    }

    .text--wide & {
        @include breakpoint(desktop) {
            margin-bottom: rem(15);
        }
    }
}