.heading {
    @include font-family(compressed);
    @include font-size(204, 157);
    @include letter-spacing(-6.12, 204);

    text-transform: uppercase;



    &--reclined {
        @include font-family(reclined, 300);
        @include font-size(204, 175);
        @include letter-spacing(-10.2, 204);
    }



    &--medium {
        @include font-size(130, 100);
        @include letter-spacing(-3.9, 130);
    }



    &--small {
        @include font-size(30, 28);
        @include letter-spacing(-0.9, 30);
        margin-bottom: vw(4);


        p + & {
            margin-top: vw(32);
        }
    }


    &--right { text-align: right; }


    &--aside {
        padding-top: rem(27);
    }


    .is-404 & {
        margin-bottom: rem(-7);
        padding-right: rem(10);
    }

    .text--wide & {
        margin-bottom: rem(15);
    }
}