.heading {
    @include font-family(compressed);

    text-transform: uppercase;
    padding-left: unset;

    @include breakpoint(desktop) {
        @include font-size(216, 1);
        @include letter-spacing(-6.48, 216);

        position: relative;
    }

    @include breakpoint(tablet) {
        @include font-size(132, 1);
        @include letter-spacing(-5.94, 132);
    }

    @include breakpoint(phone) {
        @include font-size(132, 140.253);
        @include letter-spacing(-5.94, 132);
    }


    &--medium {

        @include breakpoint(desktop) {
            @include font-size(128, 100);
            @include letter-spacing(-3.9, 128);

            padding-top: rem(47);
        }

        @include breakpoint(tablet) {
            @include font-size(110, 0.8);
            @include letter-spacing(-5.5, 110);

            margin-block: trim-font(0.8);
        }

        @include breakpoint(phone) {
            @include font-size(80, 67.5);
            @include letter-spacing(-2.4, 80);
        }

        i {
            @include font-family(reclined, 300);

            font-style: normal;

            @include breakpoint(desktop) {
                @include letter-spacing(-16.8, 240);

                padding-left: rem(10);
            }

            @include breakpoint(tablet) {
                @include letter-spacing(-10, 140);

                padding-left: rem(10);
            }

            @include breakpoint(phone) {
                @include letter-spacing(-6, 80);

                padding-left: rem(5);
            }
        }
    }


    &--smaller {

        @include breakpoint(desktop) {
            @include font-size(128, 100);
            @include letter-spacing(-3.9, 128);
        }

        @include breakpoint(tablet) {
            @include font-size(110, 0.8);
            @include letter-spacing(-5.5, 110);

            margin-block: trim-font(0.8);
        }

        @include breakpoint(phone) {
            @include font-size(80, 67.2);
            @include letter-spacing(-2.8, 80);

            margin-left: rem(-2);
            margin-block: trim-font(67.2 / 80);
        }
    }


    &--small-plus {
        @include breakpoint(desktop) {
            @include font-size(122, 100);
            @include letter-spacing(-3.66, 122);

            margin-block: trim-font(100 / 122);
        }

        @include breakpoint(tablet) {
            @include font-size(110, 0.84);
            @include letter-spacing(-4, 110);

            margin-block: trim-font(0.84);
        }

        @include breakpoint(phone) {
            @include font-size(64, 0.84);
            @include letter-spacing(-2.35, 64);

            margin-block: trim-font(0.84);
        }
    }


    &--small {

        @include breakpoint(desktop) {
            @include font-size(30, 28);
            @include letter-spacing(-0.9, 30);

            margin-bottom: vw(4);
        }

        @include breakpoint(tablet) {
            @include font-size(30, 28);
            @include letter-spacing(-0.9, 30);
        }

        @include breakpoint(phone) {
            @include font-size(30, 28);
            @include letter-spacing(-0.9, 30);
        }

        p + &,
        a + & {
            @include breakpoint(desktop) {
                margin-top: vw(38);
            }
        }

        p + & {
            @include breakpoint(tablet) {
                margin-top: rem(24);
            }

            @include breakpoint(phone) {
                margin-top: rem(24);
            }
        }
    }


    &--right {

        @include breakpoint(desktop) {
            text-align: right;
            margin-block: trim-font(1);
        }

        @include breakpoint(tablet) {
            @include font-size(142, 1);
            @include letter-spacing(-3.57, 103);

            margin-block: trim-font(1);
            padding-block: rem(20);
        }

        @include breakpoint(phone) {
            @include font-size(82, 0.84);
            @include letter-spacing(-2.87, 82);

            padding-block: rem(12);
            margin-block: trim-font(0.84);
        }
    }


    &--title {
        @include breakpoint(desktop) {
            @include font-size(204, 1);

            margin-block: trim-font(1);
            padding-block: rem(24);
            letter-spacing: -0.03em;

            @media (max-height: 719px) {
                @include font-size(182, 1);
                padding-block: rem(20);
            }
        }
    }


    &--aside {
        @include breakpoint(desktop) {
            padding-top: rem(21);
        }

        @include breakpoint(not-desktop) {
            z-index: 1;

            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                background-color: $color-bg;
                bottom: -1px;
            }

            @include breakpoint(tablet) {
                padding-block: rem(20);

                &::before {
                    width: calc(100% + 2 * #{map-get($grid-offset, tablet)});
                    left: -1 * map-get($grid-offset, tablet);
                }
            }

            @include breakpoint(phone) {
                padding-block: rem(12) rem(12);
                margin-block: trim-font(67.5 / 80);

                &::before {
                    width: calc(100% + 2 * #{map-get($grid-offset, phone)});
                    left: -1 * map-get($grid-offset, phone);
                }
            }
        }
    }


    &--reclined {
        @include font-family(reclined, 300);

        @include breakpoint(desktop) {
            @include font-size(204, 175);
            @include letter-spacing(-10.2, 204);

            margin-block: trim-font(175/204);
            padding-left: 0.075em;
        }

        @include breakpoint(tablet) {
            @include font-size(140, 1);
            @include letter-spacing(-6.5, 140);

            margin-block: trim-font(1);
        }

        @include breakpoint(phone) {
            @include font-family(reclined, 400);
            @include font-size(80, 80);
            @include letter-spacing(-2.8, 80);

            margin-block: trim-font(1);
        }
    }


    &--title {

        @include breakpoint(tablet) {
            @include font-size(230, 1);
            @include letter-spacing(-5.94, 132);

            margin-block: trim-font(1);
        }

        @include breakpoint(phone) {
            @include font-size(132, 140.253);
            @include letter-spacing(-5.94, 132);

            margin-block: trim-font(140.253 / 132);
        }
    }


    &--collection {
        @include breakpoint(desktop) {
            padding-top: rem(26);
            position: relative;

            &::after {
                @include font-size(17, 21);
                @include font-family(normal);
                @include font-settings(500, 100);

                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-left: rem(-6);
                padding-top: rem(3);
                padding-left: rem(3);
                bottom: rem(63);
                right: rem(-4);
                width: rem(34);
                height: rem(34);
                border-radius: 50%;
                background-color: $color-pale-green;

                content: counter(collection-counter, decimal-leading-zero) ".";
                font-weight: 500;
                font-feature-settings: "ss03" on;
                counter-increment: collection-counter;
                letter-spacing: normal;
            }
        }

        @include breakpoint(not-desktop) {
            &::after {
                @include font-family(normal);
                @include font-settings(500, 100);

                content: counter(collection-counter, decimal-leading-zero) ".";
                position: absolute;
                font-weight: 500;
                font-feature-settings: "ss03" on;
                counter-increment: collection-counter;
                letter-spacing: normal;
            }
        }

        @include breakpoint(tablet) {
            padding-inline-start: rem(36);

            &::after {
                @include font-size(20, 1);

                inset: rem(18) auto auto 0;
            }
        }

        @include breakpoint(phone) {
            padding-inline-start: rem(28);

            &::after {
                @include font-size(17, 1);

                inset: rem(12) auto auto 0;
            }
        }

        .col-start-7 & {
            @include breakpoint(desktop) {
                padding-left: rem(6);
            }
        }
    }


    &--collections {
        @include breakpoint(desktop) {
            margin-bottom: rem(4);
        }
    }



    &__counter {
        position: absolute;

        @include breakpoint(desktop) {
            @include font-size(50, 1);
            @include letter-spacing(-1.75, 50);

            inset: auto auto rem(18) calc(100% + #{rem(22)});
        }

        @include breakpoint(tablet) {
            @include font-size(34, 1);
            @include letter-spacing(-1, 30);

            margin-block: trim-font(1);

            inset: auto rem(120) rem(14) auto;
        }

        @include breakpoint(phone) {
            @include font-size(30, 1);
            @include letter-spacing(-1, 30);

            margin-block: trim-font(1);

            inset: auto rem(30) rem(12) auto;
        }

    }



    .module--about_hero + .module--text-aside & {
        @include breakpoint(desktop) {
            padding-top: rem(24);
            padding-bottom: rem(80);
        }

        @include breakpoint(tablet) {
            padding-top: rem(20);
            padding-bottom: rem(98);
        }

        @include breakpoint(phone) {
            padding-top: rem(20);
            padding-bottom: rem(98);
        }
    }



    // .module--quote_panel + .module--text_wrapper & {

    //     @include breakpoint(phone) {
    //         padding-bottom: rem(70);
    //     }
    // }



    .is-404 &, .page_404 & {

        @include breakpoint(desktop) {
            margin-bottom: rem(-7);
            padding-right: rem(10);
        }
    }



    .text--wide & {
        @include breakpoint(desktop) {
            margin-bottom: rem(15);
        }
    }
}
