.interview-box {
    --interview-bg: var(--color-red);
    --interview-first-layer-bg: var(--color-pink);
    --interview-second-layer-bg: var(--color-blue);
    --interview-third-layer-bg: var(--color-dark-green);
    --interview-text-color: var(--color-pink);


    @include flex;

    background-color: var(--interview-bg);
    width: vw(196);
    height: vw(196);
    position: relative;
    transform: rotate(-20deg);
    transition: transform .45s $ease-custom;
    will-change: transform;


    &:nth-child(even) {
        transform: rotate(20deg);
    }


    &--red {
        --interview-bg: var(--color-purple);
        --interview-first-layer-bg: var(--color-green);
        --interview-second-layer-bg: var(--color-brown);
        --interview-third-layer-bg: var(--color-red);
    }


    &--yellow {
        --interview-bg: var(--color-orange);
        --interview-first-layer-bg: var(--color-blue);
        --interview-second-layer-bg: var(--color-grey200);
        --interview-third-layer-bg: var(--color-yellow);
        --interview-text-color: var(--color-orange);
    }


    @include hover {
        @extend %box-hover;
    }



    &__layer {
        position: absolute;
        inset: 0;
        transition: transform .45s $ease-custom;

        &:first-of-type {
            background-color: var(--interview-first-layer-bg);
            transform: scale(calc(164 / 196));
        }


        &:nth-of-type(2) {
            background-color: var(--interview-second-layer-bg);
            transform: scale(calc(128 / 196));
            transition-duration: .4s;
        }


        &:nth-of-type(3) {
            background-color: var(--interview-third-layer-bg);
            transform: scale(calc(96 / 196));
            transition-duration: .35s;
        }
    }


    &__text {
        @include font-family(compressed);
        @include font-size(50, 38);
        @include letter-spacing(-1.25, 50);

        position: absolute;
        z-index: 2;
        inset: 0;
        padding: vw(14) vw(11);
        text-transform: uppercase;
        color: var(--interview-text-color);
        opacity: 0;
        transition: opacity .4s $ease-custom;
    }
}


%box-hover {
    transform: rotate(0deg);

    .interview-box__layer { transform: scale(1); }
    .interview-box__text { transition-delay: .15s; opacity: 1; }
}