/*------------------------------------*\
    #LIGHTBOX
\*------------------------------------*/


.lightbox {
    min-height: 100vh;
    background: $color-gray;
    color: $color-white;
    position: relative;



    &__wrap {
        position: relative;
        width: 100%;
        @include v-center;
        min-height: 100vh;
    }



    &__prev,
    &__next {
        position: fixed;
        top: 50%;
        margin: -20px 20px;
        transition: transform $time $easing;

        @include breakpoint(not-desktop) {
            display: none;
        }

        &.is-disabled {
            display: none;
        }
    }



    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }



    &__close {
        position: fixed;
        top: 0;
        right: 0;
        margin: 18px;

        @include breakpoint(desktop) {
            margin: 20px;
        }
    }



    &__share {
        position: fixed;
        top: 0;
        right: 0;
        margin: 68px 18px;

        @include breakpoint(desktop) {
            margin: 70px 20px;
        }
    }



    &__close,
    &__share {
        transition: transform $time $easing;
    }



    &__count {
        position: fixed;
        bottom: 20px;
        left: 20px;
        pointer-events: none;
        transition: transform $time $easing;

        body.is-zoomed & {
            transform: translateY(calc(100% + 22px));
        }
    }



    &__caption {
        position: fixed;
        bottom: 0;
        right: 0;

        @include breakpoint(desktop) {
            right: 60px;
        }

        &:not(.is-open) {
            @extend %caption-collapsed !optional;
            &.has-description:hover { @extend %caption-hover !optional; }
        }
    }




    &__list {

        .lightbox:not(.has-adapted) {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        body.is-zoomed & {
            display: none;
        }
    }




    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(.is-adapted) {
            @include full();
        }

        figcaption {
            display: none;

            @include breakpoint(not-desktop) {
                display: block;
                height: 92px;
                opacity: 0;
                pointer-events: none;
            }
        }

        &:not(.is-current) { display: none; }
    }




    &__video {
        width: 100%;
    }




    &__image {
        @include breakpoint(desktop) {
            height: 100%;
        }

        @include breakpoint(not-desktop) {
            margin-bottom: auto;
        }

        img {
            width: 100%;
            object-fit: contain;

            @include breakpoint(desktop) {
                height: 100%;
            }

            @include breakpoint(not-desktop) {
                max-height: 70vh;
                // max-width: calc(100% - 60px);
                // margin: auto;
            }

            @include breakpoint(tablet) {
                max-height: 70vh;
            }
        }
    }
}

