.livesearch {
    position: absolute;
    inset: 100% 0 auto;
    color: var(--color-black);



    &__wrap {
        height: 0;
        overflow: hidden auto;
    }



    &__list {
        @include flex(column, flex-start, stretch);

        // background: var(--color-bg);

        overflow: hidden;
        position: relative;
        padding-left: 1px;
    }



    &__category {
        @include font-family(normal, 400);
        @include font-size(14, 15);

        padding-bottom: rem(8);


        .livesearch__item--transcripts & {
            padding-bottom: rem(11);
        }
    }



    &__item {
        background-color: var(--color-box);
        padding: rem(12) rem(14) rem(47);
        border: 1px solid var(--color-bg);
        border-bottom: none;
        border-right: none;

        @include breakpoint(tablet) {
            padding-left: map-get($grid-offset, tablet);
        }


        &:first-of-type { padding-bottom: rem(37); }



        ul {
            li {
                @include font-size(30, 28);
                @include letter-spacing(-0.9, 30);

                @include breakpoint(phone) {
                    @include font-size(16, 1);
                }
            }
        }


        &--transcripts {
            ul {
                li + li {
                    margin-top: rem(25);
                }

                p {
                    @include font-size(30, 28);
                    margin-bottom: rem(6);
                    display: inline-block;
                }
            }
        }


        &--empty {
            @include font-size(30, 1);
            @include letter-spacing(-0.9, 30);

            min-height: vw(128);

            p:last-of-type {
                @include font-family(normal);
                @include font-size(14, 18);

                letter-spacing: normal;
                text-transform: none;
                margin-top: rem(8);
            }
        }
    }



    &__fragment {
        @include font-family(normal);
        @include font-size(14, 18);

        text-transform: none;
        display: block;
        transition: background-color .3s $easing;
        letter-spacing: normal;


        @include hover {
            background-color: $color-white;
        }

        // highlighted part

        span {
            background-color: var(--color-yellow);
            padding: 1px 3px;
            border-radius: 30px;
        }
    }



    &__noresults-head {
        @include font-size(20, 12);
        @include letter-spacing(-0.6, 20);

        @include breakpoint(phone) {
            margin-top: rem(10);
        }
    }



    &__noresults-info {
        @include font-size(13, 18);
        margin-bottom: rem(12);
        margin-top: rem(4);

        @include breakpoint(not-phone) {
            margin-top: rem(10);
            margin-bottom: rem(-4);
        }
    }
}
