.loader {
    background: none;
    color: var(--loader-color-1);
    padding-left: rem(13);

    body:not(.is-not-ready) & {
        pointer-events: none;
    }



    &__grid {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr var(--GLOBAL-aside-width);
        align-items: start;
        animation: fade-in 2s forwards;
    }



    &__wrap {
        @include flex(column, center, flex-start);
        position: relative;
        height: 100%;
        transition: transform 0.3s $easing 0.9s, opacity 0.3s 0.9s;

        @include breakpoint(not-desktop) {
            padding-top: var(--hamburgerbar-height);
        }

        body:not(.is-not-ready) & {
            transform: translateX(10vw);
            opacity: 0;
        }
    }


    &__line {
        transition: opacity 0.1s 1.2s;

        body:not(.is-not-ready) & {
            opacity: 0;
        }
    }



    &__quote {
        @include font-family(compressed, 400);
        font-size: 50px;
        line-height: 1;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }



    &__author {
        @include font-family(normal, 400);
        @include font-settings(400, 100);
        font-size: 19px;
        line-height: 1;
        text-transform: uppercase;
        align-items: center;
        letter-spacing: -0.03em;
        display: flex;

        &::before {
            content: "";
            height: 1px;
            width: rem(35);
            background: currentColor;
            display: inline-block;
            margin-inline: rem(9);
        }
    }



    &__bg {
        position: absolute;
        inset: 0;
        transform-origin: right center;
        transition: transform 0.7s $easing;

        &:nth-child(1) {
            background: var(--loader-color-2, $color-pale-blue);
            transition-delay: 0.95s;
        }

        &:nth-child(2) {
            background: var(--loader-color-3, $color-red);
            transition-delay: 0.9s;
        }

        &:nth-child(3) {
            background-color: var(--color-black);
            transition-delay: 0.85s;
        }

        body:not(.is-not-ready) & {
            transform: scaleX(0);
        }
    }
}
