.logo_box {
    overflow: hidden;
    height: var(--hamburgerbar-height);

    @include breakpoint(tablet) {
        svg {
            width: vw(120, tablet);
            height: auto;
        }
    }

    @include breakpoint(phone) {
        svg {
            width: vw(85, phone);
            height: auto;
        }
    }

    .box {
        @include flex(row, flex-start, flex-start);

        height: 100%;

        @include breakpoint(tablet) {
            padding-left: vw(30, tablet);
            padding-top: vw(13, tablet);
        }

        @include breakpoint(phone) {
            padding-left: vw(18, phone);
            padding-top: vw(13, phone);
        }
    }
}