.names {
    &__name {
        position: relative;
        border-left: 1px solid $color-bg;

        &:first-child {
            border-top: 1px solid $color-bg;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-bg;
        }


        &.is-closed {
            .names__copy {
                // height: 0 !important;
            }

            .names_link {
                display: none !important;
            }
        }
    }

    &__author {
        @include font-family(compressed);
        cursor: pointer;

        text-align: right;
        text-transform: uppercase;
        font-weight: 800;
        position: relative;

        @include breakpoint(desktop) {
            @include font-size(50, 44.5);
            @include letter-spacing(-2, 50);
        }
    }

    &__link {
        @include full;
        z-index: 2;


        // @include hover {
        //     ~ .names__expand {
        //         grid-template-rows: 1fr;
        //     }
        // }

        // .button {
        //     @include font-family(compressed);
        //     @include flex(row, flex-end, flex-end);

        //     text-transform: uppercase;
        //     margin-top: auto;

        //     @include breakpoint(desktop) {
        //         @include font-size(30, 30);
        //         @include letter-spacing(-0.75, 30);

        //         margin-bottom: rem(-7);
        //         margin-right: rem(11);
        //         margin-top: rem(78);
        //     }


        //     .arrow {

        //         @include breakpoint(desktop) {
        //             translate: 0 rem(-6);
        //         }

        //         span.triangle {
        //             @include breakpoint(desktop) {
        //                 border-width: rem(11) 0 rem(11) rem(16);
        //             }
        //         }

        //         span:nth-of-type(2) {
        //             @include breakpoint(desktop) {
        //                 width: rem(33);
        //             }
        //         }
        //     }
        // }
    }

    &__box {
        display: inline-block;

        @include breakpoint(desktop) {
            padding-top: rem(8);
            padding-right: rem(28);
        }
    }

    &__button {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;

        cursor: pointer;
    }

    &__copy {
        @include flex(column, flex-start, flex-end)
            transition: height .3s ease-in;


        @include breakpoint(desktop) {
            letter-spacing: unset;
            overflow: hidden;
            padding-right: rem(17);
            min-height: 50vh;
            justify-content: flex-end;


            .text {
                text-align: end;

                p {
                    max-width: rem(350);
                }
            }
        }
    }



    &__expand {
        text-align: right;
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows .3s $ease-out;


        & > div { overflow: hidden; }


        .collections_images__content--simple & { display: none; }
    }



    &__claim {
        @include font-family(reclined);
        @include font-size(22, 19);
        @include letter-spacing(-0.75, 22);

        max-width: rem(269);
        margin-left: auto;
        text-transform: uppercase;
        padding-top: rem(5);
        padding-bottom: rem(59);


        @include breakpoint(desktop) {
            padding-right: rem(28);
        }
    }
}