.names {
    --line-width: #{rem(35)};
    --line-offset: #{rem(12)};


    @include breakpoint(not-desktop) {
        padding: 0 var(--grid-margin);

        display: grid;
        grid-template-columns: 1fr;
        padding-top: rem(20);
    }


    &__name {
        position: relative;


        @include breakpoint(desktop) {
            border-left: 1px solid $color-bg;
            min-height: rem(135);


            .stack__content--simple & { min-height: unset; }


            &:not(:last-child) {
                border-bottom: 1px solid $color-bg;
            }
        }


        @include breakpoint(not-desktop) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            opacity: 0;
            transition: opacity .4s $ease-custom;


            &.is-current { opacity: 1; }
        }


        &.is-closed {
            .names__copy {
                // height: 0 !important;
            }

            .names_link {
                display: none !important;
            }
        }
    }

    &__author {
        @include font-family(compressed);
        cursor: pointer;

        text-align: right;
        text-transform: uppercase;
        font-weight: 800;
        position: relative;


        @include breakpoint(not-desktop) {
            text-align: left;


            .interviews & {
                max-width: 75%;
            }

            @include breakpoint(phone) {
                max-width: 68%;
            }
        }


        .collections_images__content--home & {
            padding-top: rem(20);
        }
    }

    &__link {
        @include full;
        z-index: 2;


        .collections_images__content--home & {
            & ~ * {
                opacity: 0.5;
            }


            &.is-visible ~ * {
                opacity: 1;
            }
        }


        @include accessibility {
            ~ * {
                position: relative;
                color: yellow;
                z-index: 2;
            }
        }


        @include hover {
            ~ .names__author span {
                transform: translateX(calc((var(--line-width) + var(--line-offset)) * -1));
            }


            ~ .names__author .names__box::before {
                transform: scaleX(1);
            }


            ~ .names__expand .names__claim {
                transform: translateX(calc((var(--line-width) + var(--line-offset)) * -1));
            }
        }
    }

    &__box {
        display: inline-block;

        @include breakpoint(desktop) {
            @include font-size(59, 1);

            letter-spacing: -0.04em;
            padding-top: rem(13);
            padding-bottom: 0;
            padding-right: rem(20);
            position: relative;


            &::before {
                content: "";
                position: absolute;
                inset: calc(50% + 1px) rem(20) auto auto;
                margin: auto;
                height: 1px;
                background: currentColor;
                width: var(--line-width);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .4s $ease-custom;
            }


            span {
                transition: transform .4s $ease-custom;
                display: inline-block;
            }
        }

        .collections_images__content--simple & {
            @include breakpoint(desktop) {
                @include font-size(49, 1);

                padding-right: rem(30);
                padding-top: rem(3);
                padding-bottom: 0;
                margin-bottom: -1px;


                &::before { right: rem(30); }
            }
        }


        @include breakpoint(not-desktop) {
            @include font-size(57, 44);

            letter-spacing: -0.03em;
        }
    }


    &__copy {
        @include flex(column, flex-start, flex-end);

        transition: height .3s ease-in;


        .collections_images__content--simple & { display: none; }

        .collections_images__content--home & {
            padding-bottom: rem(20);
            padding-right: rem(28);


            .button {
                @include font-size(30, 30);
                @include letter-spacing(-0.75, 30);
            }
        }



        @include breakpoint(desktop) {
            letter-spacing: unset;
            overflow: hidden;
            padding-right: rem(17);
            min-height: 50vh;
            justify-content: flex-end;


            .text {
                text-align: end;

                p {
                    max-width: rem(350);
                }
            }
        }
    }



    &__expand {
        text-align: right;

        & > div { overflow: hidden; }


        @include breakpoint(not-desktop) {
            text-align: left;
        }


        .collections_images__content--simple & { display: none; }
    }



    &__claim {
        @include font-family(normal);
        @include font-settings(400, 100);
        @include font-size(19, 19.57);

        letter-spacing: -0.02em;
        text-transform: uppercase;
        padding-bottom: rem(26);

        @include breakpoint(desktop) {
            margin-left: auto;
            padding-right: var(--grid-margin);
            width: rem(400);
            margin-top: rem(-3);
            transition: transform .4s $ease-custom;
        }


        @include breakpoint(not-desktop) {
            @include font-size(16, 1);

            padding-top: rem(5);
            padding-bottom: rem(19);
            margin-left: rem(2);
            letter-spacing: -0.02em;
            max-width: rem(275);
        }
    }
}
