@keyframes polaroid {
    0% {
        filter: brightness(300%);
        opacity: 0;
    }

    100% {
        filter: brightness(100%);
        opacity: 1;
    }
}

$background-colors: (
    "pale_green": $color-pale-green,
    "green": $color-green,
    "light_blue": $color-light-blue,
    "pale_blue": $color-pale-blue,
    "pale_purple": $color-pale-purple,
    "pink": $color-pale-pink,
    "yellow": $color-gold,
    "orange": $color-orange,
    "brown": $color-brown,
);

.polaroid {
    --polaroid-width: #{rem(386)};
    --polaroid-height: #{rem(471)};


    max-width: var(--polaroid-width);
    max-height: var(--polaroid-height);
    background-color: var(--color-grey200);

    position: relative;

    &:after {
        content: "";
        position: absolute;
        inset: rem(-20) rem(-20) rem(-32);
        background-color: var(--color-grey200);
        z-index: -1;

        @include breakpoint(not-desktop) {
            inset: rem(-18) rem(-18) rem(-27);
        }
    }

    .stack__polaroids & {
        --polaroid-width: #{rem(310)};
        --polaroid-height: #{rem(420)};

        picture,
        img {
            width: 100%;
            max-height: var(--polaroid-height);
            object-fit: cover;
        }
    }

    &--square {
        --polaroid-height: var(--polaroid-width);
    }


    &--horizontal {
        @include breakpoint(desktop) {
            --polaroid-width: #{rem(481)};
            // --polaroid-height: #{rem(366)};

            @media(max-width: 1400px) {
                // --polaroid-width: #{rem(500)};
            }

            .stack__polaroids & {
                --polaroid-width: #{rem(420)};
                --polaroid-height: #{rem(310)};
            }
        }

        @include breakpoint(phone) {
            &::after {
                inset: vw(-14, phone) vw(-14, phone) vw(-18, phone);
            }
        }
    }


    &--fit {
        width: 100%;
        height: 100%;

        .polaroid__image {
            overflow: hidden;

            img {
                opacity: 1;
                object-position: 50% 30%;
            }
        }
    }


    &--small_frame {
        &::after {
            inset: rem(-10);
        }
    }


    &--wrapped {
        @media(min-width: 1600px) {
            --polaroid-width: #{rem(386)};
            --polaroid-height: #{rem(471)};
        }
        &::after {
            @include breakpoint(desktop) {
                inset: rem(-20) rem(-20) rem(-30);
            }

            @include breakpoint(not-desktop) {
                inset: rem(-12.75) rem(-12.75) rem(-20.25);
            }
        }
    }



    &__image {
        width: 100%;
        // height: 100%;

        @each $name, $color in $background-colors {

            &--#{$name} {
                background-color: $color;
            }
        }

        picture {
            background: rgba($color-grey800, 0.05);
            display: block;
        }

        picture, img {
            width: auto;
            height: 100%;
            object-fit: contain;

            .polaroid--horizontal & {
                width: 100%;
                height: auto;
            }
        }
    }
}
