.quote {
    @include font-family(normal);
    @include font-settings(500, 100);

    &--big {
        @include font-family(compressed);

        text-transform: uppercase;
        position: relative;
        font-variation-settings: unset;

        @include breakpoint(desktop) {
            @include font-size(40, 37.4);
            @include letter-spacing(-1.2, 40);
        }

        @include breakpoint(tablet) {
            @include font-size(36, 0.94);
            @include letter-spacing(-0.98 , 36);
        }

        @include breakpoint(phone) {
            @include font-size(28, 0.94);
            @include letter-spacing(-0.84, 28);
        }

        &::before {
            // content: url("./public/theme/images/svg/quote-icon.svg");
            content: url("./images/svg/quote-icon.svg");
            display: inline-block;
            aspect-ratio: 1/1;
            overflow: hidden;

            @include breakpoint(desktop) {
                width: rem(29);
                margin-bottom: rem(4);
                margin-left: rem(1);
            }

            @include breakpoint(tablet) {
                width: rem(28);
                margin-bottom: rem(4);
                margin-left: rem(1);
            }

            @include breakpoint(phone) {
                width: rem(28);
                margin-bottom: 0;
                margin-left: rem(1);
            }
        }

        p {
            @include breakpoint(desktop) {
                max-width: unset !important;
            }
        }
    }


    strong {
        @include font-settings(500, 100);
    }



    footer {
        @include font-family(compact);
        @include flex(row, flex-start, center);

        text-transform: none;
        position: relative;

        @include breakpoint(desktop) {
            @include font-size(26, 27);
            @include letter-spacing(-0.26, 26);

            margin-top: rem(9);
        }

        @include breakpoint(tablet) {
            @include font-size(24, 25);
            @include letter-spacing(-0.23, 24);

            margin-top: vw(8, tablet);
        }

        @include breakpoint(phone) {
            @include font-size(20, 21);
            @include letter-spacing(-0.2, 20);

            margin-top: vw(8, phone);
        }


        &::before {
            content: "";
            display: inline-block;
            height: 1px;
            background-color: currentColor;

            @include breakpoint(desktop) {
                width: rem(35);
                margin-right: rem(15);
            }

            @include breakpoint(tablet) {
                width: rem(35);
                margin-right: rem(15);
            }

            @include breakpoint(phone) {
                width: rem(26);
                margin-right: rem(10);
            }
        }
    }

    &__cassette {
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        margin-inline: 0.15em;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
            position: relative;


            g {
                &:first-of-type path {
                    transform-origin: 29px 29px;
                }

                &:last-of-type path {
                    transform-origin: 81px 29px;
                }


                path {
                    animation: cassette 4s linear infinite;
                    animation-play-state: paused;
                }
            }
        }

        &::after {
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $color-gold;
            z-index: 1;
        }

        @include breakpoint(desktop) {
            // margin-right: 2em;
            width: rem(35);
            height: rem(18);

            &::before {
                @include font-family(compressed);

                content: "PLAY";
                position: absolute;
                display: block;
                width: 140%;
                height: 120%;
                margin-block: trim-font(1);
                z-index: -1;
                top: 0;
                left: -8%;
                opacity: 0;
                transition: opacity 0.1s 0.3s, translate 0.4s $easing;
                background-color: $background-light-offwhite;
                pointer-events: none;
                font-size: 1.4em;
                margin-top: -0.1em;
                color: $color-gold;

                @media (min-width: 1399px) {
                    margin-top: -0.12em;
                }
            }

            @include hover {
                &::before {
                    translate: calc(74% + #{rem(3)}) 0;
                    transition-delay: 0s;
                    opacity: 1;
                }

                svg {
                    path {
                        animation-play-state: running;
                    };
                }
            }
        }

        @include breakpoint(tablet) {
            width: rem(38);
            height: rem(20);
        }

        @include breakpoint(phone) {
            width: rem(38);
            height: rem(20);
        }

        .quote--big & {
            vertical-align: baseline;

            @include breakpoint(desktop) {
                width: rem(57);
                height: rem(30);

                &::before {
                    font-size: 0.98em;
                    margin-top: -0.12em;
                }

                @include hover {
                    &::before {
                        translate: calc(74% + #{rem(4)}) 0;
                    }
                }
            }

            @include breakpoint(tablet) {
                width: rem(54);
                height: rem(28);
            }
        }
    }
}