.sticker {
    $self: &;



    --sticker-size: #{vw(111)};
    --sticker-fold-size: 12%;
    --sticker-bg: var(--color-red);
    --sticker-back-bg: var(--color-pink);
    --sticker-text-color: var(--color-text-alt);



    @include flex;
    @include font-family(reclined);

    justify-content: center;
    width: var(--sticker-size);
    height: var(--sticker-size);
    text-align: center;
    color: var(--sticker-text-color);
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    padding: vw(30);

    // to do: refactor this
    * { transition: all $time ease-in-out; }


    &--yellow {
        --sticker-bg: var(--color-yellow);
        --sticker-back-bg: var(--color-purple);
        --sticker-text-color: var(--color-text);
    }



    &__text {
        @include font-size(25, 22);
        @include letter-spacing(-0.75, 25);

        text-transform: uppercase;
        transform: rotate(-25deg);
    }



    &__layer {
        position: absolute;
        width: var(--sticker-size);
        height: var(--sticker-size);
        transform: rotate(45deg);
    }



    &__wrap {
        position: absolute;
        height: var(--sticker-size);
        width: var(--sticker-size);
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        overflow: hidden;
    }



    &__circle {
        position: absolute;
        inset: 0 auto auto 0;
        width: var(--sticker-size);
        height: var(--sticker-size);
        border-radius: 50%;
    }



    &__back {
        height: var(--sticker-fold-size);
        top: calc(var(--sticker-fold-size) * 1);
    }



    &__back #{$self}__circle {
        margin-top: calc((var(--sticker-size) - var(--sticker-fold-size)) * -1);
        background-color: var(--sticker-back-bg);
    }



    &__front {
        bottom: 0;
        top: calc(var(--sticker-fold-size) * 2);
    }



    &__front #{$self}__circle {
        margin-top: calc(var(--sticker-fold-size) * -1);
        background: var(--sticker-bg);
    }



    @include hover {

        #{$self}__back {
            height: 0;
            top: 0;


            #{$self}__circle {
                margin-top: calc(var(--sticker-size) * -1);
            }
        }


        #{$self}__front {
            top: 0;
            height: var(--sticker-size);


            #{$self}__circle {
                margin-top: 0;
            }
        }
    }
}
