.icon-close {
    display: inline-block;
    position: relative;
    width: vw(28);
    height: vw(28);
    vertical-align: middle;
    transform: rotate(0);
    transition: transform $time-fast $easing;


    @include breakpoint(phone) {
        width: 14px;
        height: 14px;
    }

    // top: -1px;

    // html.mac & { top: 1px; }

    &::before,
    &::after {
        content: "";
        display: block;
        width: 140%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px -70%;
        background: currentColor;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(135deg);
    }
}

%icon-close-hover {
    transform: rotate(-90deg);
}

.icon-playpause {
    display: block;
    position: relative;
    width: vw(36);
    height: 100%;

    &::before {
        width: 3px;
        height: 3px;
        content: "";
        display: block;
        position: absolute;
        background: currentColor;
        left: 22px;

        // transition: opacity $time-fast $easing;
        opacity: 0;
    }

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 21px 0 21px 36.4px;
        will-change: border-width;
        border-color: transparent transparent transparent currentColor;

        // transition: all 2s linear;
    }


    .lightbox & {
        top: rem(-2);

        &::after {
            height: rem(40);
            border-width: rem(20) 0 rem(20) rem(36);
        }
    }
}

%icon-playpause-active::after {
    width: 100%;
    height: 100%;
    border-width: 0 14px;
    border-color: currentColor;
}

.icon-cross {
    height: 20px;
    width: 20px;
    pointer-events: none;
    position: absolute;
    transition: transform 0.3s $easing;
    border-radius: 100%;

    @include breakpoint(phone) {
        width: 16px;
        height: 16px;
    }

    .popup__close & {
        width: 14px;
        height: 14px;
        transform: rotate(45deg);

        @include breakpoint(phone) {
            width: 10px;
            height: 10px;
        }
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        background-color: $color-black;
        top: 50%;
        left: 50%;
        height: 1px;
        width: 100%;
        transform: translate(-50%, -50%);

        .popup__close & {
            height: 1px;
            width: 100%;
        }
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.icon-toggleplay {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent currentColor;
    }
}

.icon-full {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    span {
        width: 6px;
        height: 6px;
        position: absolute;
        display: block;
        border-color: currentColor;
        border-style: solid;
        transition: transform $time-fast ease-out;

        &:nth-child(1) {
            left: 0;
            top: 0;
            border-width: 1px 0 0 1px;
        }

        &:nth-child(2) {
            right: 0;
            top: 0;
            border-width: 1px 1px 0 0;
        }

        &:nth-child(3) {
            right: 0;
            bottom: 0;
            border-width: 0 1px 1px 0;
        }

        &:nth-child(4) {
            left: 0;
            bottom: 0;
            border-width: 0 0 1px 1px;
        }
    }
}

%icon-full-hover span {
    &:nth-child(1) {
        transform: translate(-2px, -2px);
    }

    &:nth-child(2) {
        transform: translate(2px, -2px);
    }

    &:nth-child(3) {
        transform: translate(2px, 2px);
    }

    &:nth-child(4) {
        transform: translate(-2px, 2px);
    }
}

%icon-full-active span {
    &:nth-child(1) {
        left: -2px;
        top: -2px;
        border-width: 0 1px 1px 0;
    }

    &:nth-child(2) {
        right: -2px;
        top: -2px;
        border-width: 0 0 1px 1px;
    }

    &:nth-child(3) {
        right: -2px;
        bottom: -2px;
        border-width: 1px 0 0 1px;
    }

    &:nth-child(4) {
        left: -2px;
        bottom: -2px;
        border-width: 1px 1px 0 0;
    }
}

.icon-prev,
.icon-next {
    width: 16px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    transform: translateX(0);
    transition: transform $time $easing;

    html.windows & {
        top: -2px;
    }

    html.mac & {
        top: 1px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px;
        border-style: solid;
        border-width: 0 2px 2px 0;
        border-color: transparent currentColor currentColor transparent;
        width: 12px;
        height: 12px;
        transform-origin: 6px 6px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        height: 2px;
        background: currentColor;
        left: 0;
        right: 0;
        margin-top: -1px;
        transition: transform $time-fast $easing;
    }
}

.icon-prev::before {
    transform: rotate(135deg) translate(-2px, -2px);
}

.icon-next::before {
    transform: rotate(-45deg) translate(-2px, -2px);
}

.icon-prev::after {
    transform: scaleX(0.01) translateX(-2px);
}

.icon-next::after {
    transform: scaleX(0.01) translateX(2px);
}

%icon-prev-hover {
    transform: translateX(-5px);
    transition-duration: $time-fast;

    &::after {
        transform: scaleX(1) translateX(5px);
    }
}

%icon-next-hover {
    transform: translateX(5px);
    transition-duration: $time-fast;

    &::after {
        transform: scaleX(1) translateX(-5px);
    }
}

.icon-arr {
    position: relative;
    display: inline-block;
    height: 9px;
    width: 16px;
    vertical-align: middle;
    transform: translateY(0);
    transition: transform 0.6s $ease-out-back 0.1s;

    html.mac & {
        top: 1px;
    }

    &::before {
        content: "";
        display: block;
        position: relative;
        width: 12/16 * 100%;
        height: 12/9 * 100%;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: transparent currentColor currentColor transparent;
        transform: translateY(0) rotate(45deg);
        transform-origin: 110% 50%;
    }
}

%icon-arr-hover {
    transform: translateY(4px);
}

.icon-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 10px;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        top: 50%;
        left: 3px;
        margin-top: -3.5px;
        border-width: 0 1px 1px 0;
        border-color: transparent currentColor currentColor transparent;
        border-style: solid;
        transform: rotate(-45deg) translateX(0);
        transition: transform $time $easing;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        margin-top: -1px;
        background: currentColor;
        transform-origin: left center;
        transform: translateX(9px) scale(0.1);
        transition: transform $time $easing;
        backface-visibility: hidden;
    }
}

%icon-arrow-hover {
    &::before {
        transform: rotate(-45deg) translate(4px, 4px);
        transition-duration: $time-fast;
    }

    &::after {
        transform: translateX(0) scale(1);
        transition-duration: $time-fast;
    }
}



.icon-more {
    width: 5px;
    height: 8px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;

    html.mac & {
        top: 0;
    }

    &::before {
        content: "";
        width: 6px;
        height: 6px;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: transparent currentColor currentColor transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3px;
        transform: rotate(-45deg) translate(-0.5px, -0.5px);
    }
}

.icon-minus,
.icon-plus {
    &::before,
    &::after {
        content: "";
        background: currentColor;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
    }

    &::before {
        width: 2px;
        height: 12px;
        margin: -6px -1px;
    }

    &::after {
        width: 12px;
        height: 2px;
        margin: -1px -6px;
    }
}

.icon-minus::before {
    display: none;
}

.icon-dropdown {
    position: relative;
    display: inline-block;
    height: 9px;
    width: 16px;
    vertical-align: middle;
    transform: translateY(0);
    transition: transform 0.6s $ease-out-back 0.1s;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        transition: transform $time-fast $easing, opacity $time-fast $easing;
        border-style: solid;
    }

    &::before {
        border-width: 2px 0 0 2px;
        border-color: currentColor transparent transparent currentColor;
        transform: translateY(-12px) rotate(45deg);
        transform-origin: 13px 6px;
        opacity: 0;
    }

    &::after {
        top: 0;
        border-width: 0 2px 2px 0;
        border-color: transparent currentColor currentColor transparent;
        transform: translateY(1px) rotate(45deg);
        transform-origin: 13px 6px;
    }
}

%icon-dropdown-open {
    &::before {
        opacity: 1;
        transform: translateY(7px) rotate(45deg);
    }

    &::after {
        opacity: 0;
        transform: translateY(20px) rotate(45deg);
    }
}

%icon-dropdown-hover {
    transform: translateY(4px);
}

.icon-triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 0 1px 5px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: currentColor transparent transparent;
}

.icon-left-right {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 32px;
    height: 14px;

    &::before,
    &::after {
        width: 10px;
        height: 10px;
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -5px;
        border-width: 2px 0 0 2px;
        border-style: solid;
        border-color: currentColor;
    }

    &::before {
        transform: rotate(-45deg) translate(-3px, -3px);
    }

    &::after {
        transform: rotate(135deg) translate(-3px, -3px);
    }
}

%icon-left-right-animation {
    &::before {
        animation: left-arr-pulsing 1s linear infinite;
    }

    &::after {
        animation: right-arr-pulsing 1s linear infinite;
    }
}


.icon-filters {
    @include flex(column, center, center);
    color: inherit;
    gap: 1px;
    width: 19px;
    overflow: hidden;

    @include breakpoint(phone) {
        width: 17px;
    }

    .row {
        @include flex(row, center, center);

        transition: transform .3s $ease-custom;
        width: 100%;

        &:first-of-type {
            justify-content: flex-start;

            .bar { margin-right: 2px; }
        }

        &:last-of-type {
            justify-content: flex-end;

            .bar { margin-left: 2px; }
        }
    }

    .line {
        height: 1px;
        width: 11px;
        flex-shrink: 0;
        background-color: currentColor;

        @include breakpoint(phone) {
            width: 10px;
        }
    }

    .bar {
        height: 7px;
        width: 3px;
        flex-shrink: 0;
        background-color: currentColor;

        @include breakpoint(phone) {
            height: 6px;
        }
    }
}

%icon-filters-hover {
    .row {
        &:first-of-type { transform: translateX(-7px); }
        &:last-of-type { transform: translateX(7px); }
    }
}

.icon-list {
    @include flex(column, space-between, stretch);

    color: inherit;
    gap: 2px;


    span {
        width: 16px;
        height: 4px;
        background-color: currentColor;
        transition: transform .3s $ease-custom;
    }
}

%icon-list-hover {
    span {
        transform: scaleX(1.2);
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    color: inherit;

    span {
        width: 7px;
        height: 7px;
        background-color: currentColor;
        transition: transform .3s $ease-custom;
    }
}

%icon-grid-hover {
    span {
        &:first-of-type { transform: translate(-1px, -1px); }
        &:nth-of-type(2) { transform: translate(1px, -1px); }
        &:nth-of-type(3) { transform: translate(-1px, 1px); }
        &:last-of-type { transform: translate(1px, 1px); }
    }
}


.icon-volume {
    @include flex(row, center, flex-end);

    height: 30px;
    gap: 2px;

    span {
        width: 5px;
        background-color: currentColor;
        height: 20px;
        transition: transform .3s $ease-custom, opacity .3s $ease-custom;
        will-change: transform, opacity;
        transform-origin: bottom;


        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                // height: calc(4 * #{$i}px);
                transition-delay: 0.02s * $i;
                transform: scaleY(#{4 * $i / 20});
            }
        }
    }


    .is-muted & {
        span {
            opacity: 0.5;

            // height: 6px;
            transform: scaleY(#{6 / 20 * 1});
        }
    }
}


.icon-cassette {
    @include flex(row, center, center);

    width: 30px;
    height: 30px;
    background-color: var(--color-black);
    border-radius: 50%;
    position: relative;
    z-index: -1;


    @include breakpoint(not-desktop) {
        width: 12px;
        height: 12px;
    }

    span {
        --inset-value: -52%;


        position: absolute;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: var(--color-box);
        margin: auto;


        @include breakpoint(not-desktop) {
            --inset-value: -60%;

            width: 85%;
            height: 85%;
        }


        &:first-child { inset: var(--inset-value) auto auto; }
        &:nth-child(2) { inset: auto auto var(--inset-value); }
        &:nth-child(3) { inset: auto var(--inset-value) auto auto; }
        &:nth-child(4) { inset: auto auto auto var(--inset-value); }
    }
}


.fa {
    // &.fa-envelope {
    //     transform: translateY(-1px);
    // }

    // @include breakpoint(desktop) {
    //     transform: translateY(-1px);
    // }
}

a,
button,
label {
    @include hover {
        .icon-close {
            @extend %icon-close-hover !optional;
        }

        .icon-menu {
            @extend %icon-menu-hover !optional;
        }

        .icon-full {
            @extend %icon-full-hover !optional;
        }

        .icon-prev {
            @extend %icon-prev-hover !optional;
        }

        .icon-next {
            @extend %icon-next-hover !optional;
        }

        .icon-arr {
            @extend %icon-arr-hover !optional;
        }

        .icon-arrow {
            @extend %icon-arrow-hover !optional;
        }

        .icon-dropdown {
            @extend %icon-dropdown-hover !optional;
        }

        .icon-filters {
            @extend %icon-filters-hover !optional;
        }

        .icon-list {
            @extend %icon-list-hover !optional;
        }

        .icon-grid {
            @extend %icon-grid-hover !optional;
        }
    }
}
