.svg-sprite {
    display: none; // do not change this!
}


.svg-boxes {
    width: rem(95);
    height: auto;
}


.svg-search {
    width: rem(24);
    height: auto;

    @include breakpoint(tablet) {
        width: rem(32);
    }
}


.svg-bracket-left,
.svg-bracket-right {
    width: rem(5);
    height: rem(27);
}


.svg-bracket-left { margin-right: rem(5); }
.svg-bracket-right { margin-left: rem(5); }


.svg-pin {
    width: rem(12);
    height: rem(16);

    path { fill: currentColor; }
}


.svg-lightbox-arrow-small {
    width: rem(14);
    height: rem(23);

    path:first-of-type { stroke: currentColor; }
    path:last-of-type { fill: currentColor; }
}