.svg-sprite {
    display: none; // do not change this!
}


.svg-boxes {
    width: rem(95);
    height: auto;
}


.svg-search {
    width: rem(24);
    height: auto;

    @include breakpoint(tablet) {
        width: rem(32);
    }
}


.svg-bracket-left,
.svg-bracket-right {
    @include breakpoint(desktop) {
        width: rem(5);
        height: rem(27);
    }

    @include breakpoint(tablet) {
        width: rem(5);
        height: rem(27);
    }

    @include breakpoint(phone) {
        width: rem(4.4);
        height: rem(20);
    }
}


.svg-bracket-left { 
    
    @include breakpoint(desktop) {
        margin-right: rem(5); 
    }

    @include breakpoint(tablet) {
        margin-right: rem(4); 
    }

    @include breakpoint(phone) {
        margin-right: rem(3); 
    }
}


.svg-bracket-right {
    @include breakpoint(desktop) {
        margin-left: rem(5); 
    }

    @include breakpoint(tablet) {
        margin-left: rem(4); 
    }

    @include breakpoint(phone) {
        margin-left: rem(3); 
    }
}


.svg-prevnext {
    width: rem(34);
    height: rem(42);

    path, rect { fill: currentColor; }
}


.svg-play {
    width: rem(37);
    height: rem(43);


    path, rect { fill: currentColor; }


    g {
        transition: opacity .25s $ease-custom;


        &.pause {
            opacity: 0;


            .is-playing & { opacity: 1; }
        }


        &.play {
            opacity: 1;


            .is-playing & { opacity: 0; }
        }
    }
}


.svg-rewind {
    width: rem(30);
    height: rem(25);

    path:first-of-type { stroke: currentColor; stroke-width: 2.25; }
    path:last-of-type { fill: currentColor; }
}


.svg-pin {
    width: rem(12);
    height: rem(16);

    path { fill: currentColor; }
}


.svg-lightbox-arrow-small {
    width: rem(14);
    height: rem(23);

    path:first-of-type { stroke: currentColor; }
    path:last-of-type { fill: currentColor; }
}


.svg-apply {
    @include breakpoint(desktop) {
        height: rem(16);
        width: rem(16);
    }

    @include breakpoint(tablet) {
        height: rem(21);
        width: rem(21);
    }
    
    @include breakpoint(phone) {
        height: rem(21);
        width: rem(21);
    }
}

.svg-checkmark {
    @include breakpoint(desktop) {
        width: rem(16) !important;
        height: rem(16) !important;
    } 

    @include breakpoint(tablet) {
        width: rem(26) !important;
        height: rem(26) !important;
    }

    @include breakpoint(phone) {
        width: rem(24) !important;
        height: rem(24) !important;
    }
} 

.svg-arrow-player-small {
    width: rem(8);
    height: rem(14);
}


.svg-arrow-oblique {
    width: rem(12);
    height: rem(12);
}