<div class="polaroid{% if modifiers %}{% for modifier in modifiers %} polaroid--{{modifier}}{% endfor %}{% endif %}
{% if image.original.width and image.original.height %}
{% if image.original.width > image.original.height %} polaroid--horizontal
{% elseif image.original.width == image.original.height %} polaroid--square
{% endif %}
{% endif %} js-polaroid">
    <div class="polaroid__image{% if color %} polaroid__image--{{color}}{% endif %}">
        {% include "./subviews/subview_picture.html" with image %}
    </div>
</div>
