<div class="sticker{% if modifiers %}{% for modifier in modifiers %} sticker--{{modifier}}{% endfor %}{% endif %} js-illustration" data-scroll="sticker" {% if parallax %}data-parallax="-30" data-action="pause"{% endif %}>
    <div class="sticker__layer">
        <div class="sticker__front sticker__wrap">
            <div class="sticker__circle"></div>
        </div>
    </div>
    <span class="sticker__text">{{text}}</span>
    <div class="sticker__layer">
        <div class="sticker__back sticker__wrap">
            <div class="sticker__circle"></div>
        </div>
    </div>
</div>
