.audioplayer {
    --cassette-bg-color: var(--color-yellow, yellow);


    &--default {
        --cassette-bg-color: var(--color-blue);
        --shadow-color: var(--color-pink);
    }


    &--green {
        --cassette-bg-color: var(--color-purple);
        --shadow-color: var(--color-red);
    }


    &--pale-purple {
        --cassette-bg-color: var(--color-dark-green);
        --shadow-color:  var(--color-dark-green) ;
    }


    &--pink {
        --cassette-bg-color: var(--color-dark-green);
        --shadow-color: var(--color-purple);
    }


    &--orange {
        --cassette-bg-color: var(--color-red);
        --shadow-color: var(--color-purple);
    }


    &--pale-blue {
        --cassette-bg-color: var(--color-purple);
        --shadow-color: var(--color-purple);
    }


    &--brown {
        --cassette-bg-color: var(--color-red);
        --shadow-color: var(--color-purple);
    }


    &--dark-green {
        --cassette-bg-color: var(--color-purple);
        --shadow-color: var(--color-orange);
    }


    &--pale-green {
        --cassette-bg-color: var(--color-pink);
        --shadow-color: var(--color-yellow);
    }


    &--purple {
        --cassette-bg-color: var(--color-red);
        --shadow-color: var(--color-yellow);
    }
}