<div class="player__bar js-player-bar">{% spaceless %}
    <div class="player__header">
        <div class="player__title js-player-title"></div>
        <div class="player__scrubber-wrap">
            <div class="player__scrubber js-player-timeline">
                <div class="player__loaded js-player-loaded"></div>
                <div class="player__progress js-player-progress"></div>
            </div>
        </div>
    </div>
    <div class="player__controls">
        <div class="player__time">
            <span class="player__played js-player-time">00:00:00</span>
            <a
                class="player__more js-player-url"
                href="/workspace/lightbox/01"
                data-sound-click
                data-gtm='{"event": "player-more-btn-click"}'
                >
                Expand
                <i class="player__icon">
                    [[svg::arrow-player-small]]
                    [[svg::arrow-player-small]]
                </i>
            </a>
        </div>
        <div class="player__buttons">
            <button
                class="player__rewind js-player-rewind"
                data-sound-click="playerRewind"
                data-gtm='{"event": "player-rewind-btn-click"}'
                >[[svg::rewind]]<span>15</span></button>
            <button
                class="player__prev js-player-prev"
                data-prev-id=""
                data-sound-click="playerBtn"
                data-gtm='{"event": "player-prev-btn-click"}'
                >[[svg::prevnext]]</button>
            <button
                class="player__playpause js-player-playpause"
                data-sound-click="playerBtn"
                data-gtm='{"event": "player-playpause-btn-click"}'
                >[[svg::play]]</button>
            <button
                class="player__next js-player-next"
                data-next-id=""
                data-sound-click="playerBtn"
                data-gtm='{"event": "player-next-btn-click"}'
                >[[svg::prevnext]]</button>
            <button
                class="player__forward js-player-forward"
                data-sound-click="playerRewind"
                data-gtm='{"event": "player-forward-btn-click"}'
                >[[svg::rewind]]<span>15</span></button>
        </div>
        <div class="player__volume volume js-player-volume">
            <button
                class="player__minimize js-player-minimize"
                data-sound-click
                data-gtm='{"event": "player-minimize-btn-click"}'
                >
                <i class="player__icon">
                    [[svg::arrow-player-small]]
                    [[svg::arrow-player-small]]
                </i>
                Minimize
            </button>
            <button
                class="volume__button js-volume-btn"
                aria-label="Volume"
                data-sound-click
                data-gtm='{"event": "player-volume-btn-click"}'
                ><i class="icon-volume"><span></span><span></span><span></span><span></span><span></span></i></button>
        </div>
    </div>
{% endspaceless %}</div>

<div class="player__thumbnail js-player-thumbnail">
    <div class="player__marquee js-player-marquee">
        <span>Shuffle</span>
        <span>Shuffle</span>
        <span>Shuffle</span>
    </div>
    <div class="player__cassette" data-sound-click>[[svg::cassette]]</div>
</div>


