{% macro secondsToMinutes(seconds) %}

{% set hours = seconds / 3600 %}
{% set hours = hours|round(0, 'floor') %}
{% set hours = hours|number_format %}

{% set minutes = seconds / 60 % 60 %}
{% set minutes = minutes|round(0, 'floor') %}
{% set minutes = minutes|number_format %}
{% set minutes = ('00' ~ minutes)|slice(-2) %}

{% set seconds = seconds % 60 %}
{% set seconds = seconds|round(0, 'floor') %}
{% set seconds = seconds|number_format %}
{% set seconds = ('00' ~ seconds)|slice(-2) %}

{{ hours }}:{{ minutes}}:{{ seconds }}

{% endmacro %}


{% import _self as macros %}


<li class="lightbox__item lightbox__item--{{modifier}} js-item" data-theme-color="{{modifier}}" data-lightbox-path="{{url}}">
    <div class="lightbox__overlay"></div>
    <div class="lightbox__grid">
        <div class="lightbox__logo">
            <a href="{{urlBack}}" class="lightbox__close js-close" data-history="back">
                <span class="button button--lightbox">
                    <i class="icon-close"></i>
                </span>
            </a>
            [[svg::logo]]
        </div>
        <div class="lightbox__header">
            <div class="lightbox__darken"></div>
            <div class="lightbox__header-info">
                <h2 class="lightbox__title">{{title}}</h2>
                <div class="lightbox__filters">
                    <div class="lightbox__description">{{description}}</div>
                    <div class="lightbox__state">[[svg::pin]]{{state}}</div>
                </div>
                {% if tags %}
                <ul class="lightbox__tags desktop-only">
                    {% for tag in tags %}
                    <li><a href="{{tag.url}}">{{tag.label}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="lightbox__footer">
                    <button class="lightbox__play js-player-btn" data-audio-player="{{id}}">[[svg::play]]<span>PLAY</span></button>
                </div>
            </div>
        </div>
        <div class="lightbox__illu">
            <div class="lightbox__darken"></div>
            {% if urlCollection %}
                <a href="{{urlCollection}}" class="lightbox__collection"><span>{{collection}}</span></a>
            {% endif %}
            {% if collectionImage %}
                <div class="lightbox__picture">
                    <picture>
                        <img src="{{collectionImage.desktop}}" alt="">
                    </picture>
                </div>
            {% endif %}
        </div>
        <div class="lightbox__main">
            <div class="lightbox__main-bg">
                <div class="lightbox__darken"></div>
            </div>
            <div class="lightbox__intro">
                <div class="lightbox__intro-wrapper">
                    <div class="lightbox__intro-description">
                        <p>{{text}}</p>
                    </div>
                    <div class="lightbox__intro-contents js-lightbox-contents">
                        <div class="lightbox__intro-top js-contents-header">
                            <h3>Memories shared</h3>
                        </div>
                        <ul class="lightbox__intro-contentlist js-scrolled">
                            {% for item in contentList %}
                                <li class="lightbox__intro-part js-contents-part">
                                    <button class="lightbox__intro-btn" data-audio-player="{{id}}" data-start="{{item.startTime}}"></button>
                                    <div class="lightbox__intro-time"><span>{{ macros.secondsToMinutes(item.startTime) }}</span></div>
                                    <div class="lightbox__intro-text">{{item.label}}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <aside class="lightbox__aside">
                {% if images %}
                    <div id="lightbox-mementos" class="lightbox__tab lightbox__tab--mementos js-lightbox-tab" data-tab-animation="mementos">
                        {% if images|length > 1 %}
                        <!-- slider -->
                        <div class="lightbox__slider slider js-lightbox-slider">
                            <div class="slider__captions">
                                {% for item in images %}
                                    <div class="lightbox__caption js-caption">{{item.description}}</div>
                                {% endfor %}
                            </div>
                            <div class="slider__wrap js-slider-wrap js-rotate">
                                <div class="slider__slides">
                                    {% for item in images %}
                                    {% set image = item.image %}
                                    <div class="lightbox__slide js-slide">
                                        <!-- components/c_polaroid -->
                                        <div class="lightbox__slide-image polaroid">
                                            <figure class="polaroid__image">
                                                <!-- subview_picture -->
                                                <picture>
                                                    {% if image.mobile is defined and image.mobile.src is defined %}
                                                        <source media="(max-width: 479px)" srcset="{{image.mobile.src}}{% if image.mobile.width is defined %}, {{image.mobile.width}}w, {{image.mobile.height}}h{% endif %},  {{image.mobile_x2.src}} 2x">
                                                    {% elseif image.mobile is defined  %}
                                                        <source media="(max-width: 479px)" srcset="{{image.mobile}}, {{image.mobile_x2}} 2x">
                                                    {% endif %}

                                                    {% if image.hd is defined and image.hd.src is defined %}
                                                        <source media="(min-width: 480px) and (max-width: 768px)" srcset="{{image.hd.src}}{% if image.hd.width is defined %}, {{image.hd.width}}w, {{image.hd.height}}h{% endif %},  {{image.hd_x2.src}} 2x">
                                                    {% elseif image.hd is defined %}
                                                        <source media="(min-width: 480px) and (max-width: 768px)" srcset="{{image.hd}}, {{image.hd_x2}} 2x">
                                                    {% endif %}

                                                    {% if image.desktop is defined and image.desktop.src is defined %}
                                                        <source media="(min-width: 769px)" srcset="{{image.desktop.src}}{% if image.desktop.width is defined %}, {{image.desktop.width}}w, {{image.desktop.height}}h{% endif %},  {{image.desktop_x2.src}} 2x">
                                                    {% elseif image.desktop is defined %}
                                                        <source media="(min-width: 769px)" srcset="{{image.desktop}}, {{image.desktop_x2}} 2x">
                                                    {% endif %}

                                                    <img src="{% if image.desktop is defined and image.desktop.height is defined and image.desktop.width is defined %}data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ image.desktop.width }} {{ image.desktop.height }}' width='{{ image.desktop.width }}px' height='{{ image.desktop.height }}px' %3E%3C/svg%3E{% else %}data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}" alt="{{ alt }}" class="is-loading{% if preload %} preload{% endif %}">
                                                </picture>
                                            </figure>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="slider__controls">
                                    <div class="slider__arrow slider__arrow--prev">
                                        <button aria-label="go to prev slide" class="button button--lightbox js-slider-prev">
                                        [[svg::arrow-lightbox]]<span class="js-text">01</span></button>
                                    </div>
                                    <div class="slider__arrow slider__arrow--next">
                                        <button aria-label="go to next slide" class="button button--lightbox button--reversed js-slider-next">
                                        [[svg::arrow-lightbox]]
                                        <span class="js-text">02</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- slider -->
                        {% else %}
                        <!-- single photo -->
                        {% set image = images[0] %}
                        <div class="lightbox__image lightbox__image--polaroid js-rotate">
                            <!-- components/c_polaroid -->
                            <div class="polaroid polaroid--horizontal">
                                <figure class="polaroid__image">
                                    <!-- subview_picture -->
                                    <picture>
                                        <source media="(max-width: 1023px)" srcset="{{image.mobile}}">
                                        <source media="(min-width: 1024px)" srcset="{{image.desktop}}">
                                        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" class="is-loading">
                                    </picture>
                                </figure>
                            </div>
                        </div>
                        <!-- single photo -->
                        {% endif %}
                    </div>
                {% endif %}
                <div id="lightbox-transcript" class="lightbox__tab lightbox__tab--transcript js-lightbox-tab js-lightbox-transcript" data-tab-animation="simple">
                    <div class="lightbox__tab-content">
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__tab-dot"></div>
                        <div class="transcript">
                            <div class="transcript__top">
                                <form class="transcript__search js-transcript-search">
                                    <div class="transcript__input js-transcript-input-wrap">
                                        <span class="transcript__hiddenspan js-transcript-span"></span>
                                        <input type="search" name="transcript" id="" autocomplete="off" placeholder="Search">
                                    </div>
                                    <div class="transcript__nav js-transcript-nav">
                                        <span class="transcript__counters js-transcript-counters"></span>
                                        <button type="button" class="transcript__nav-button transcript__nav-button--prev js-transcript-prev">
                                            [[svg::lightbox-arrow-small]]
                                        </button>
                                        <button type="button" class="transcript__nav-button transcript__nav-button--next js-transcript-next">
                                            [[svg::lightbox-arrow-small]]
                                        </button>
                                        <button type="button" class="js-transcript-close"><i class="icon-close"></i></button>
                                    </div>
                                </form>
                                {% if transcript and transcript.spanish %}
                                <button class="transcript__button js-transcript-switch" data-main-lang="english" data-alternate-lang="spanish">Spanish</button>
                                {% endif %}
                            </div>
                            <div class="transcript__wrap js-scrolled">
                                {% if transcript %}
                                    {% if transcript.english %}
                                        <div class="transcript__lang js-transcript-lang is-active" data-lang="english">
                                        {% for part in transcript.english %}
                                            <div class="transcript__part js-transcript-part">
                                                <div class="transcript__btn">
                                                    <button class="transcript__time js-transcript-btn" data-audio-player="{{id}}" data-start="{{part[0]}}">{{ macros.secondsToMinutes(part[0]) }}</button>
                                                </div>
                                                <div class="transcript__text">{{part[1]}}</div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if transcript.spanish %}
                                        <div class="transcript__lang js-transcript-lang" data-lang="spanish">
                                        {% for part in transcript.spanish %}
                                            <div class="transcript__part">
                                                <div class="transcript__btn">
                                                    <button class="transcript__time">{{ macros.secondsToMinutes(part[0]) }}</button>
                                                </div>
                                                <div class="transcript__text">{{part[1]}}</div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="lightbox-info" class="lightbox__tab lightbox__tab--info js-lightbox-tab" data-tab-animation="simple">
                    <div class="lightbox__tab-content">
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__info">
                            <div class="lightbox__info-text">{{info}}</div>
                        </div>
                    </div>
                </div>
                <div id="lightbox-downloads" class="lightbox__tab lightbox__tab--downloads js-lightbox-tab" data-tab-animation="simple">
                    <div class="lightbox__tab-content">
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__downloads">
                            <ul class="lightbox__downloads-list">
                                {% for item in downloads %}
                                    <li>
                                        <a href="{{item.url}}">
                                            <span class="lightbox__downloads-arrow">
                                            [[svg::lightbox-arrow-small]]
                                            </span>
                                            <span class="lightbox__downloads-arrow">
                                                [[svg::lightbox-arrow-small]]
                                            </span>
                                            {{item.name}} <span class="bracket">(</span>{{item.ext}}<span class="bracket">)</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="lightbox-related" class="lightbox__tab lightbox__tab--related js-lightbox-tab" data-tab-animation="simple">
                    <div class="lightbox__tab-content">
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__tab-dot"></div>
                        <div class="lightbox__related">
                            <ul class="lightbox__related-list">
                                {% for item in related %}
                                    <li class="lightbox__related-item button--draw" data-component="Button">
                                        <a class="lightbox__related-link" href="{{item.url}}"></a>
                                        <span class="lightbox__related-arrow">
                                            <i class="icon-btn-arrow arrow arrow--reversed js-arrow">
                                                <span class="vertical js-arrow-vertical"></span>
                                                <span class="horizontal js-arrow-horizontal"></span>
                                                <span class="triangle js-arrow-triangle"></span>
                                            </i>
                                        </span>
                                        <h3 class="lightbox__related-title">{{item.title}}</h3>
                                        <h4 class="lightbox__related-collection">{{item.collection}}</h4>
                                        <p class="lightbox__related-text">{{item.text}}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="lightbox__logo">
            <a href="{{urlBack}}" class="lightbox__close js-close" data-history="back">
                <span class="button button--lightbox">
                    <i class="icon-close"></i>
                </span>
            </a>
            <div class="desktop-only">[[svg::logo]]</div>
        </div>
        <ul class="lightbox__buttons js-lightbox-nav">
            <li class=""><button role="tab" aria-selected="true" class="lightbox__button lightbox__button--intro is-active"><span><span>Intro</span><span>Intro</span></span></button></li>
            {% if images %}
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-mementos" class="lightbox__button lightbox__button--mementos"><span><span>Mementos</span><span>Mementos</span></span></button></li>
            {% endif %}
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-info" class="lightbox__button lightbox__button--info"><span><span>Info</span><span>Info</span></span></button></li>
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-transcript" class="lightbox__button lightbox__button--transcript"><span><span>Transcript</span><span>Transcript</span></span></button></li>
            <li class="desktop-only"><button role="tab" aria-selected="false" aria-controls="lightbox-downloads" class="lightbox__button lightbox__button--downloads"><span><span>Downloads</span><span>Downloads</span></span></button></li>
            <li class="desktop-only"><button role="tab" aria-selected="false" aria-controls="lightbox-related" class="lightbox__button lightbox__button--related"><span><span>Related</span><span>Related</span></span></button></li>
        </ul>
    </div>
</li>
