{% macro secondsToMinutes(seconds) %}

{% set hours = seconds / 3600 %}
{% set hours = hours|round(0, 'floor') %}
{% set hours = hours|number_format %}

{% set minutes = seconds / 60 % 60 %}
{% set minutes = minutes|round(0, 'floor') %}
{% set minutes = minutes|number_format %}
{% set minutes = ('00' ~ minutes)|slice(-2) %}

{% set seconds = seconds % 60 %}
{% set seconds = seconds|round(0, 'floor') %}
{% set seconds = seconds|number_format %}
{% set seconds = ('00' ~ seconds)|slice(-2) %}

{{ hours }}:{{ minutes}}:{{ seconds }}

{% endmacro %}


{% import _self as macros %}


<li class="lightbox__item lightbox__item--{{modifier}} js-item" data-lightbox-path="{{url}}">
    <div class="lightbox__overlay"></div>
    <div class="lightbox__grid">
        <div class="lightbox__header">
            <div class="lightbox__header-info">
                <h2 class="lightbox__title">{{title}}</h2>
                <div class="lightbox__filters">
                    <div class="lightbox__description">{{description}}</div>
                    <div class="lightbox__state">[[svg::pin]]{{state}}</div>
                    {% if tags %}
                    <ul class="lightbox__tags">
                        {% for tag in tags %}
                        <li>{{tag}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="lightbox__footer">
                    <button class="lightbox__play"><i class="icon-playpause"></i><span>PLAY</span></button>
                    <div class="lightbox__text">{{text}}</div>
                </div>
            </div>
        </div>
        <div class="lightbox__illu">
            {% if collectionUrl %}
                <a href="{{collectionUrl}}" class="lightbox__collection"><span>{{collection}}</span></a>
            {% endif %}
            {% if illu %}
                <div class="lightbox__picture">
                    <picture>
                        <img src="{{illu.desktop}}" alt="">
                    </picture>
                </div>
            {% endif %}
        </div>
        <div class="lightbox__main">
            <div class="lightbox__main-bg"></div>
            {% if slider %}
                <div class="lightbox__slider slider" data-component="LightboxSlider">
                    <div class="slider__wrap js-slider-wrap">
                        <div class="slider__slides">
                            {% for item in slider %}
                            <div class="lightbox__slide js-slide">
                                {% if item.image %}
                                    <!-- components/c_polaroid -->
                                    <div class="lightbox__slide-image polaroid">
                                        <figure class="polaroid__image">
                                            <!-- subview_picture -->
                                            <picture>
                                                <source media="(max-width: 1023px)" srcset="{{item.image.desktop}}">
                                                <source media="(min-width: 1024px)" srcset="{{item.image.mobile}}">
                                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" class="is-loading">
                                            </picture>
                                        </figure>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                         <div class="slider__arrows">
                            <button aria-label="go to prev slide" class="button button--lightbox slider__arrow slider__arrow--prev js-slider-prev">
                            <i class="icon-btn-arrow arrow"><span></span><span></span><span class="triangle"></span></i><span class="js-text">01</span></button>
                            <button aria-label="go to next slide" class="button button--lightbox button--reversed slider__arrow slider__arrow--next js-slider-next">
                            <i class="icon-btn-arrow arrow arrow--reversed"><span></span><span></span><span class="triangle"></span></i>
                            <span class="js-text">02</span></button>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if mainImage %}
                {% set image = mainImage.image %}
                {% if mainImage.type == 'polaroid' %}
                    <div class="lightbox__image lightbox__image--polaroid">
                        <!-- components/c_polaroid -->
                        <div class="polaroid {% if mainImage.horizontal %} polaroid--horizontal {% endif %}">
                            <figure class="polaroid__image">
                                <!-- subview_picture -->
                                <picture>
                                    <source media="(max-width: 1023px)" srcset="{{image.mobile}}">
                                    <source media="(min-width: 1024px)" srcset="{{image.desktop}}">
                                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" class="is-loading">
                                </picture>
                            </figure>
                        </div>
                    </div>
                {% else %}
                    <div class="lightbox__image">
                        <!-- subview_picture -->
                        <picture>
                            <source media="(max-width: 1023px)" srcset="{{image.mobile}}">
                            <source media="(min-width: 1024px)" srcset="{{image.desktop}}">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="" class="is-loading">
                        </picture>
                    </div>
                {% endif %}
            {% endif %}
            {% if caption %}<div class="lightbox__caption">{{caption}}</div>{% endif %}
        </div>
        <div class="lightbox__logo">
            <a href="{{backUrl}}" class="lightbox__close js-close" data-history="back">
                <span class="button button--lightbox">
                    <i class="icon-close"></i>
                </span>
            </a>
            [[svg::logo]]
        </div>
        <ul class="lightbox__buttons" data-component="LightboxNav">
            <li class=""><button role="tab" aria-selected="true" class="lightbox__button lightbox__button--mementos is-active"><span>Mementos</span></button></li>
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-info" class="lightbox__button lightbox__button--info"><span>Info</span></button></li>
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-transcript" class="lightbox__button lightbox__button--transcript"><span>Transcript</span></button></li>
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-downloads" class="lightbox__button lightbox__button--downloads"><span>Downloads</span></button></li>
            <li class=""><button role="tab" aria-selected="false" aria-controls="lightbox-related" class="lightbox__button lightbox__button--related"><span>Related</span></button></li>
        </ul>
    </div>
    <aside class="lightbox__aside">
        <div id="lightbox-transcript" data-component="LightboxTranscript" class="lightbox__tab lightbox__tab--transcript js-lightbox-tab">
            <div class="lightbox__tab-content">
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__tab-dot"></div>
                <div class="transcript">
                    <div class="transcript__top">
                        <form class="transcript__search js-transcript-search">
                            <div class="transcript__input js-transcript-input-wrap">
                                <span class="transcript__hiddenspan js-transcript-span"></span>
                                <input type="search" name="transcript" id="" autocomplete="off" placeholder="Search">
                            </div>
                            <div class="transcript__nav js-transcript-nav">
                                <span class="transcript__counters js-transcript-counters"></span>
                                <button type="button" class="transcript__nav-button transcript__nav-button--prev js-transcript-prev">
                                    [[svg::lightbox-arrow-small]]
                                </button>
                                <button type="button" class="transcript__nav-button transcript__nav-button--next js-transcript-next">
                                    [[svg::lightbox-arrow-small]]
                                </button>
                                <button type="button" class="js-transcript-close"><i class="icon-close"></i></button>
                            </div>
                        </form>
                        {% if transcript and transcript.spanish %}
                        <button class="transcript__button js-transcript-switch" data-main-lang="english" data-alternate-lang="spanish">Spanish</button>
                        {% endif %}
                    </div>
                    <div class="transcript__wrap js-scrolled">
                        {% if transcript %}
                            {% if transcript.english %}
                                <div class="transcript__lang js-transcript-lang is-active" data-lang="english">
                                {% for part in transcript.english %}
                                    <div class="transcript__part {% if loop.index == 2 %} is-current {% endif %}">
                                        <button class="transcript__time">{{ macros.secondsToMinutes(part[0]) }}</button>
                                        <div class="transcript__text">{{part[1]}}</div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% if transcript.spanish %}
                                <div class="transcript__lang js-transcript-lang" data-lang="spanish">
                                {% for part in transcript.spanish %}
                                    <div class="transcript__part {% if loop.index == 2 %} is-current {% endif %}">
                                        <button class="transcript__time">{{ macros.secondsToMinutes(part[0]) }}</button>
                                        <div class="transcript__text">{{part[1]}}</div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="lightbox-info" class="lightbox__tab lightbox__tab--info js-lightbox-tab">
            <div class="lightbox__tab-content">
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__info">
                    <div class="lightbox__info-text">{{info}}</div>
                </div>
            </div>
        </div>
        <div id="lightbox-downloads" class="lightbox__tab lightbox__tab--downloads js-lightbox-tab">
            <div class="lightbox__tab-content">
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__downloads">
                    <ul class="lightbox__downloads-list">
                        {% for item in downloads %}
                            <li>
                                <a href="{{item.url}}">
                                    <span class="lightbox__downloads-arrow">
                                    [[svg::lightbox-arrow-small]]
                                    </span>
                                    {{item.name}} <span class="bracket">(</span>{{item.ext}}<span class="bracket">)</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="lightbox-related" class="lightbox__tab lightbox__tab--related js-lightbox-tab">
            <div class="lightbox__tab-content">
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__tab-dot"></div>
                <div class="lightbox__related">
                    <ul class="lightbox__related-list">
                        {% for item in related %}
                            <li class="lightbox__related-item">
                                <a class="lightbox__related-link" href="{{item.url}}"></a>
                                <span class="lightbox__related-arrow">
                                    <i class="icon-btn-arrow arrow arrow--reversed">
                                        <span></span>
                                        <span></span>
                                        <span class="triangle"></span>
                                    </i>
                                </span>
                                <h3 class="lightbox__related-title">{{item.title}}</h3>
                                <h4 class="lightbox__related-collection">{{item.collection}}</h4>
                                <p class="lightbox__related-text">{{item.text}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</li>
