.interview-box {
    @include flex;

    position: relative;

    @include breakpoint(desktop) {
        aspect-ratio: 1/1;
        width: vw(196);
        max-width: 300px;
    }

    @include breakpoint(not-desktop) {
        @include flex(row, center, center);

        @include breakpoint(tablet) {
            width: vw(174, tablet);
            height: vw(100, tablet);
            margin-right: -1 * map-get($grid-offset, tablet);
        }

        @include breakpoint(phone) {
            width: vw(126, phone);
            height: vw(77, phone);
            margin-right: -1 * map-get($grid-gutter, phone);
        }
    }



    &--reversed &__wrap {
        @include breakpoint(desktop) {
            transform: rotate(20deg);
        }
    }



    @include hover {
        @extend %box-hover;
    }



    &__wrap {
        width: 100%;
        height: 100%;
        background-color: var(--interview-bg);
        position: relative;
        transition: transform .35s $ease-out;
        will-change: transform;


        @include breakpoint(desktop) {
            transform: rotate(-20deg);
        }


        @include breakpoint(not-desktop) {
            @include flex(row, center, center);
        }
    }



    &__layer {
        position: absolute;
        inset: 0;
        transition: transform .35s $ease-out;

        &:first-of-type {
            background-color: var(--interview-first-layer-bg);
        }


        &:nth-of-type(2) {
            background-color: var(--interview-second-layer-bg);
        }


        &:nth-of-type(3) {
            background-color: var(--interview-third-layer-bg);
        }

        @include breakpoint(desktop) {
            &:first-of-type {
                transform: scale(calc(164 / 196));
            }


            &:nth-of-type(2) {
                transform: scale(calc(128 / 196));
                transition-duration: .4s;
            }


            &:nth-of-type(3) {
                transform: scale(calc(96 / 196));
                transition-duration: .35s;
            }
        }
    }


    &__text {
        @include font-family(compressed);

        position: absolute;
        z-index: 2;
        text-transform: uppercase;
        color: var(--interview-text-color);
        overflow: hidden;

        @include breakpoint(desktop) {
            @include font-size(50, 38);
            @include letter-spacing(-1.25, 50);

            padding: vw(14) vw(11);
            inset: 0;
        }

        @include breakpoint(tablet) {
            @include font-size(40, 32);
            @include letter-spacing(-0.75, 30);

            padding-top: rem(1);
        }

        @include breakpoint(phone) {
            @include font-size(30, 24);
            @include letter-spacing(-0.75, 30);

            padding-top: rem(1);
        }


        p {
            transition: opacity .2s $ease-out, transform .25s $ease-out;
            transition-delay: 0s;


            @include breakpoint(desktop) {
                opacity: 0;
                transform: translateX(#{rem(-90)});
            }
        }
    }
}


%box-hover {
    .interview-box__wrap { transform: rotate(0deg); }

    .interview-box__layer { transform: scale(1); }

    .interview-box__text p {
        transition-delay: .05s;
        transition-duration: .25s;
        opacity: 1;
        transform: translateX(0);
    }
}