<div class="interviews-grid__tile">
    <a href="{{item.url}}" class="interviews__link"><span class="sr-only">Go to interview</span></a>
    <div class="interviews__main">
        <h3 class="interviews__name">{{item.label}}</h3>
        <p class="interviews__description">{{item.narrators.0.occupation}}</p>
    </div>

    <div class="interviews__locations phone-hide">
        {% for location in item.narrators_states %}
            <span>{{ location.label }}, {{ location.slug }}</span>
        {% endfor %}
    </div>

    <h4 class="interviews__collection interviews__collection--grid phone-hide">{{item.interviewers.0.label}} <br> Collection</h4>

    <div class="interviews__copy">
        <p>{{item.summary}}</p>
        <h3 class="interviews__copy-collection phone-hide">{{item.interviewers.0.label}} collection</h3>
    </div>

    <div class="interviews__box desktop-hide tablet-hide">
        <div class="interviews__locations">
            {% for location in item.narrators_states %}
                <span>{{ location.label }}, {{ location.slug }}</span>
            {% endfor %}
        </div>
        <div class="interviews__box-wrap">
            {% include "./components/c_interview-box.html" with {
                modifier: item.interviewers.0.color
            } %}
        </div>
    </div>
</div>