<div class="interviews-grid__tile js-tile" data-name="{{ item.label_sort|slice(0, 1) }}">
    <a href="{{item.url}}" class="interviews__link"><span class="sr-only">Go to interview</span></a>
    <div class="interviews__main">
        <h3 class="interviews__name {% if item.label|length > 30 %} interviews__name--small {% endif %}"><span>{{item.label|replace({',': '<br>'})|raw}}</span></h3>
        <p class="interviews__description">
            {{ item.narrator_occupation | raw }}
        </p>
    </div>

    <div class="interviews__locations desktop-only">
        <span>{{ item.narrator_location }}</span>
    </div>

    <h4 class="interviews__collection interviews__collection--grid desktop-only">
        {{item.interviewer_name}} {% if item.interviewer_name %}<br>{% endif %} Collection</h4>

    <div class="interviews__copy">
        <div class="interviews__copy-overlay"></div>
        <div class="interviews__copy-content">
            <p>{{item.lead}}</p>
            <h3 class="interviews__copy-collection desktop-only">{{item.interviewer_name}} collection</h3>
        </div>
    </div>

    <div class="interviews__box desktop-hide">
        <div class="interviews__locations">
            <span>{{ item.locations }}</span>
        </div>
        <div class="interviews__box-wrap">
            {% include "./components/c_interview-box.html" with {
                modifier: item.interviewers.0.color
            } %}
        </div>
    </div>
</div>