 <section class="module module--collection_location box">
    <div class="collection_location text_wrapper__module">
        <div class="collection_location__wrapper">
            <div class="grid">
                <div class="col-span-6">
                    <p class="collection_location__locations">[[svg::pin]]{{location}}</p>
                </div>
                <div class="col-span-6 col-start-7">
                    {% include "./subviews/subview_text.html" with text %}
                </div>
            </div>
        </div>
    </div>
</section>