<section class="module module--collections_images desktop-only" >

    <div class="collections_images">
        {% include "modules/m_heading.html" with { heading: heading } %}

        <div class="collections_images__content collections_images__content--home {% if simple %}collections_images__content--simple{% endif %}" {% if not simple %}data-scroll="collections"{% endif %}>
            <div class="col-span-1 col-start-2 collections_images__container">
                <div class="collections_images__names js-scroll-names">
                    {% include "components/c_names.html" with { names: names } %}
                </div>

                <div class="collections_images__cards js-scroll-cards">
                    {% include "components/c_cards.html" with { cards: cards } %}
                </div>
            </div>
            <div class="collections_images__filler col-start-1 col-span-2"></div>
        </div>
    </div>
</section>