<section class="module module--faq">
    <div class="faq">
        <div class="box">
            <div class="grid">
                <div class="faq__heading col-span-6 no-padding">
                    {% include "./components/c_heading.html" with title %}
                </div>
                <div class="faq__content col-span-6 col-start-7">
                    <ul class="faq__accordeon" >
                        {% for term in terms %}
                            {% include "./components/c_accordeon_item.html" with term %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>