<section class="module module--interviews" >

    <div class="interviews">

        {% if label %}
            <div class="box">
                <div class="grid">
                    <div class="col-span-12">
                        <div class="interviews__heading{% if reversed %} interviews__heading--reversed{% endif %}">
                            <div class="interviews__sticker">
                                {% include "./components/c_sticker.html" with { text: sticker, modifiers: ["long_text"] } %}
                            </div>
                            {% include "./components/c_heading.html" with { reclined: true } %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if items %}
            <ul class="interviews__list">
                {% for item in items %}
                    <li class="interviews__item box">
                        <div class="grid">

                            <a href="#" class="interviews__link">
                                <span class="sr-only">Go to interview</span>
                            </a>

                            <div class="interviews__left col-span-6">
                                {% include "./components/c_collection_author.html" with {
                                name: item.name,
                                title: item.title } %}
                                <!--
                                <p class="interviews__state desktop-only">{{item.state|raw}}</p>
                                -->
                            </div>

                            <div class="interviews__right col-span-3 col-start-7">
                                <p class="interviews__text">{{item.text}}</p>
                                <!--
                                <p class="interviews__collection desktop-only">{{item.collection}} collection</p>
                                -->
                            </div>

                            <div class="interviews__box col-span-3 col-start-10">
                                <p class="interviews__state desktop-hide">{{item.state|raw}}</p>
                                <div class="interviews__box-wrap">
                                    {% include "./components/c_interview-box.html" with {
                                        modifier: item.modifier,
                                        reversed: loop.index is even
                                    } %}
                                </div>
                            </div>

                        </div>
                    </li>
                {% endfor %}

            </ul>
        {% endif %}

    </div>
</section>