<section class="module module--people">
    <div class="people">
        <div class="box">
            <div class="grid">

                <div class="col-span-6 no-padding">
                    {% if description %}
                        {% include "./subviews/subview_text.html" with description %}
                    {% endif %}
                    {% for group in groups %}
                        {% include "./components/c_people_group.html" with group %}
                    {% endfor %}
                </div>
        
                <div class="col-span-6 col-start-7">
                    {% include "./components/c_heading.html" with title %}
                </div>

            </div>
        </div>
    </div>
</section>