<section class="module module--quote_panel">
    <div class="quote_panel">
        <div class="box">
            <div class="grid grid--row-start">
                <div class="quote_panel__column col-span-6 col-start-{{reversed ? '7' : '1'}}{{reversed ? '' : ' no-padding'}}">
                    {% if video %}
                    <div class="quote_panel__video">
                        <figure style="margin-bottom: 40px;">
                            <div class="player player--video" data-component="Video" data-options='{"volume": 0.7, "size": "cover", "timeFormatLong": false}'>
                                <video src="{{video.src}}" controls poster="{{video.poster}}"></video>
                            </div>
                        </figure>
                    </div>
                    {% endif %}
                </div>

                <div class="quote_panel__column col-span-6 col-start-{{reversed ? '1' : '7'}}{{reversed ? ' no-padding' : ''}}">
                    <div class="quote_panel__quote">
                        {% include "./components/c_quote.html" with quote|merge({big: true}) %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>