<section class="module--text-right">
    <div class="box">
        <div class="grid">
            {% if mainText %}
            <div class="col-span-6">
                {% include "./components/c_heading.html" with mainText %}
            </div>
            {% endif %}
            <div class="col-span-6 col-start-7">
                {% if texts %}
                {% for item in texts %}
                    {% include "./subviews/subview_text.html" with item %}
                {% endfor %}
                {% elseif text %}
                    {% include "./subviews/subview_text.html" with {text:text,wide:true,heading:heading} %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if decor %}
        {% include "./subviews/subview_boxes.html" with { absolute: true } %}
    {% endif %}
</section>