<section class="module module--text-aside">
    <div class="text_aside">
        <div class="box">
            <div class="grid grid--row-start">
                {% if mainText %}
                    <div class="col-span-6 col-start-{{reverse ? '7' : '1'}}{{reverse ? '' : ' no-padding'}}">
                        {% include "./components/c_heading.html" with mainText %}
                    </div>
                {% endif %}
                <div class="col-span-6 col-start-{{reverse ? '1' : '7'}}{{reverse ? ' no-padding' : ''}}">
                    {% if texts %}
                    {% for item in texts %}
                        {% include "./subviews/subview_text.html" with item %}
                    {% endfor %}
                    {% elseif text %}
                        {% include "./subviews/subview_text.html" with {text:text,wide:true,heading:heading} %}
                    {% endif %}
                </div>
                {% if decorator %}
                    <div class="text_aside__decorator">
                        {% include "./modules/m_boxes.html"  %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>