<div class="ui box">
    <div class="grid">
        <div class="col-span-12">
            <div class="ui__content box">
                <h3 class="heading">Buttons</h3>
                <div class="ui__wrap">
                    {% for button in buttons %}
                        {% include "components/c_button.html" with button %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui__content box">
                <h3 class="heading">Stickers</h3>
                <div class="ui__wrap">
                    {% for sticker in stickers %}
                        {% include "components/c_sticker.html" with sticker %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui__content box">
                <h3 class="heading">Interview boxes</h3>
                <div class="ui__wrap">
                    {% for box in boxes %}
                        {% include "components/c_interview-box.html" with box %}
                    {% endfor %}
                </div>
            </div>
            <div class="ui__content box">
                <h3 class="heading">Polaroids</h3>
                <div class="ui__wrap">
                    {% for polaroid in polaroids %}
                        {% include "components/c_polaroid.html" with polaroid %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>