/* ------------------------------------*\
    #BASE
\*------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}



html {
    position: relative;
    height: 100%;
    font-size: $base-font-size;
    overflow-x: hidden;

    @include breakpoint(desktop) {
        font-size: vw($base-font-size);
    }

    @include breakpoint(hd) {
        font-size: $base-font-size * $size-hd / $size-design;
    }


    @include breakpoint(phone) {
        &.is-overflow-hidden { overflow: hidden; }
    }
}

body {
    @include font-family(normal, 500);
    @include font-settings(500, 100);

    line-height: 150%;
    text-align: left;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-black);
    overflow-x: hidden;
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    overflow-x: clip;

    // for collection's page
    counter-reset: collection-counter;
}


body,
html {
    &:has(.modal.is-open) { overflow: hidden; }

    &:has(.has-menu-open),
    &.has-menu-open {
        overflow: hidden;
    }
}


.wrapper {
    @include menuShiftedElement;

    min-height: var(--app-height);
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr var(--GLOBAL-aside-width);
    grid-template-rows: 1fr;
    grid-template-areas: "main header"
        "newsletter header"
        "footer header";
    column-gap: 1px;
    align-content: start;
    margin-top: -1px; // box margin-top fix


    body.has-lightbox & { margin-top: 0; }


    @include breakpoint(not-desktop) {
        // z-index: unset;
        overflow-x: hidden;
    }


    .has-lightbox & {
        .accessibility & {
            display: none;
        }
    }


    body.is-loader-hidden & {
        transition-property: transform, background;

        background: var(--color-bg);


        @include breakpoint(phone) {
            &::after {
                content: "";
                position: absolute;
                inset: 0 0 0 auto;
                width: var(--GLOBAL-aside-width);
                background-color: var(--color-black);
            }
        }
    }


    body.is-transition & {
        background: none;
    }
}


main {
    grid-area: main;
    position: relative;
}


article {
    height: 100%;
    opacity: 0;
    transition: background-color .25s $ease-out;
}



body,
input,
textarea,
button,
select,
code,
pre,
svg text {
    // @include font-family(text, 400);
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
svg text {
    -moz-osx-font-smoothing: grayscale;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    background: none;
    border-radius: 0;
    border: none;
    color: inherit;
    margin: 0;
    padding: 0;
}


button,
select,
label {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: $color-transparent;
    transition: color $time-fast $easing;
}

b,
strong {
    @include font-settings(700, 100);

    font-weight: 700;
}

i,
em {
    font-style: italic;
}

svg {
    vertical-align: middle;
}

mark {
    background-color: transparent;
}

hr {
    display: block;
    border: none;
    background: none;
    margin: 0;
}

sup {
    vertical-align: super;
    font-size: 70%;
}

*:focus {
    outline: none;
}

::selection {
    background: $color-select-bg;
    color: $color-select-text;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    hanging-punctuation: first last;
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.sr-only,
.screen-reader-text {
    @extend %visually-hidden;
}


.visually-hidden,
%visually-hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    clip: rect(0 0 0 0);
}

.mapboxgl-control-container {
    display: none;
}


[aria-hidden="true"] {
    display: none;
}

.grecaptcha-badge {
    opacity: 0;
    pointer-events: none;
}


