/* ------------------------------------*\
    #BASE
\*------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}



html {
    position: relative;
    height: 100%;
    font-size: $base-font-size;

    @include breakpoint(desktop) {
        font-size: vw($base-font-size);
    }

    @include breakpoint(hd) {
        font-size: $base-font-size * $size-hd / $size-design;
    }
}

body {
    @include font-family(normal, 500);
    @include font-settings(500, 100);

    line-height: 150%;
    text-align: left;
    min-height: 100vh;
    color: var(--color-text);
}

body,
html {
    overflow-x: hidden;

    &:has(.modal.is-open) { overflow: hidden; }
}


.wrapper {
    @include menuShiftedElement;

    min-height: var(--app-height);
    position: relative;
    z-index: 1;
    background: var(--color-bg);
    display: grid;
    grid-template-columns: 1fr var(--GLOBAL-aside-width);
    grid-template-rows: 1fr;
    grid-template-areas: "main header"
        "newsletter header"
        "footer header";
    gap: 1px;
    align-content: start;

    // @include breakpoint(not-desktop) {
    //     grid-template-columns: 1fr;
    // }
}


main {
    grid-area: main;
    position: relative;

    @include breakpoint(phone) {
        
    }
}


article {
    height: 100%;

    &::before {
        @include full;

        content: "";
        z-index: 4;
        background-color: rgba($color-bg, .5);
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s $ease-custom;
    }

    &:has(.modal.is-open)::before {
        opacity: 1;
        pointer-events: all;
    }
}



body,
input,
textarea,
button,
select,
code,
pre,
svg text {
    // @include font-family(text, 400);
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
svg text {
    -moz-osx-font-smoothing: grayscale;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    background: none;
    border-radius: 0;
    border: none;
    color: inherit;
    margin: 0;
    padding: 0;
}


button,
select,
label {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: $color-transparent;
    transition: color $time-fast $easing;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

svg {
    vertical-align: middle;
}

mark {
    background-color: transparent;
}

hr {
    display: block;
    border: none;
    background: none;
    margin: 0;
}

sup {
    vertical-align: super;
    font-size: 70%;
}

*:focus {
    outline: none;
}

::selection {
    background: $color-select-bg;
    color: $color-select-text;
    text-shadow: none;
}

h2,
h3,
h4,
h5,
h6 {
    // @include font-settings(800, 100);
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.sr-only,
.screen-reader-text {
    @extend %visually-hidden;
}


.visually-hidden,
%visually-hidden {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    clip: rect(0 0 0 0);
}

.mapboxgl-control-container {
    display: none;
}


[aria-hidden="true"] {
    display: none;
}

.grecaptcha-badge {
    opacity: 0;
    pointer-events: none;
}

.no_padding_bottom_mobile {
    @include breakpoint(not-desktop) {
        padding-bottom: 0 !important;
    }
}

