/* ------------------------------------*\
    #FONTS
\*------------------------------------ */


@font-face {
    font-family: "Pangram Sans";
    src: url("./fonts/Pangram Sans/pangram-sans-normal-variable.woff2") format("woff2-variations");
    font-weight: 100 500 700 900;
}
@font-face {
    font-family: "Pangram Sans Compact";
    src: url("./fonts/Pangram Sans/PPPangramSans-CompactRegular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "Pangram Sans Compressed";
    src: url("./fonts/Pangram Sans/PPPangramSans-CompressedExtrabold.woff2") format("woff2");
    font-weight: 900;
}
@font-face {
    font-family: "Pangram Sans Reclined";
    src: url("./fonts/Pangram Sans/PPPangramSans-CompressedMediumReclined.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Pangram Sans Reclined";
    src: url("./fonts/Pangram Sans/PPPangramSans-SlimMediumReclined.woff2") format("woff2");
    font-weight: 300;
}


/* stylelint-disable-next-line scss/dollar-variable-first-in-block */
$fonts: (
    normal: ("Pangram Sans", sans-serif),
    compact: ("Pangram Sans Compact", sans-serif),
    compressed: ("Pangram Sans Compressed", sans-serif),
    reclined: ("Pangram Sans Reclined", sans-serif),
);


@function font($font) {
    @if map-has-key($fonts, $font) {
        @return map-get($fonts, $font);
    } @else {
        @warn "Invalid font name: #{$font}.";
        @return null;
    }
}


@mixin font-family($family, $weight: "", $style: "") {
    font-family: font($family);

    @if $weight != "" { font-weight: unquote("" + $weight); }
    @if $style != "" { font-style: unquote("" + $style); }
}
