.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    @each $bp in (phone tablet desktop hd) {
        @include breakpoint($bp) {
            $gutter-width: map-get($grid-gutter, $bp);
            $offset-width: map-get($grid-offset, $bp);

            column-gap: $gutter-width;
            margin-left: $offset-width;
            margin-right: $offset-width;
        }
    }

    &--no-offset {
        margin-left: 0;
        margin-right: 0;
    }

    &--no-gutter {
        column-gap: 0;
    }
}

@for $cols from 1 through map-get($grid-columns, desktop) {
    @each $bp in desktop {
        @include breakpoint($bp) {
            .col-span-#{$cols} {
                grid-column: span #{$cols} / span #{$cols};
            }

            .col-start-#{$cols} {
                grid-column-start: #{$cols};
            }

            .col-end-#{$cols} {
                grid-column-end: #{$cols + 1};
            }
        }
    }
}