<div class="player player--video" data-component="Video" data-options='{}'>
    <video src="{{src}}" poster="{{poster}}" controls></video>

    <!-- TEMPLATE BELOW - remove after binding .ts -->

    <div class="player__poster"></div>
    <div class="player__loader">
        <svg width="60" height="60"><circle cx="30" cy="30" r="29" fill="none" stroke="#fff"></circle></svg>
    </div>
    <div class="player__toggle">
        <svg width="60" height="60"><circle cx="30" cy="30" r="29" fill="none" stroke="#fff"></circle>
            <path stroke="#fff" fill="none" d="M0,0"/>
            <polygon stroke="#fff" fill="none" points="23.2,16.2 23.2,43 44.5,29.4 "/>
        </svg>
    </div>

    <div class="player__bar">

        <div class="player__controls">

            <div class="player__playpause" data-sound-click="playerBtn"><button aria-label="Play/Pause"><i class="icon-playpause"></i></button></div>
            <!--
            <div class="player__time">
                <em class="player__played">00:00</em>
            </div>
            -->


            <div class="player__scrubber-wrap">
                <div class="player__scrubber">
                    <div class="player__loaded"></div>
                    <div class="player__progress"></div>
                </div>
            </div>

            <div class="player__time">
                <strong class="player__duration">01:40</strong>
            </div>

            <div class="player__cc cc">
                <button class="cc__button js-cc" aria-label="CC"></button>
                <ul class="cc__list"></ul>
            </div>

            <!--
            <div class="player__volume volume">
                <button class="volume__button" aria-label="Volume">[[svg::volume]]</button>
                <div class="volume__bar">
                    <span class="volume__value"></span>
                </div>
            </div>
            -->

            <div class="player__full">
                <button aria-label="Fullscreen">
                    Fullscreen [[svg::player-expand]]
                </button>
            </div>

            <div class="player__prev"></div>
            <div class="player__next"></div>

        </div>
        <div class="player__captions"></div>
    </div>

    <!-- TEMPLATE END -->

</div>
