.lightbox {
    --easing: cubic-bezier(0, 0, 1, 1);
    --distance: 150vh;

    &.is-showing {
        --easing: cubic-bezier(.2, .75, .4, .95);
        --animation-time: .65s;
    }

    &.is-closing {
        --easing: cubic-bezier(.65, .1, .3, .6);
        --animation-time: 1s;
    }



    &__overlay {
        position: absolute;
        inset: 0;
        background-color: var(--color-box);
        transition: opacity .1s linear;
        opacity: 0;


        .is-showing & {
            opacity: 1;
            transition-delay: .9s;
        }


        .is-closing & {
            transition-delay: 0s;
            opacity: 0;
        }
    }



    &__logo {
        @include z-index(logo, $lightbox-elements);

        transition: transform var(--animation-time) var(--easing);
        transform-origin: left top;
        transform: translateY(100vh);

        .is-showing & {
            transform: translateY(0);
            transition-delay: .1s;
        }

        .is-closing & {
            transform: translate(0, var(--distance)) rotate(25deg);

            transition-delay: 0s;
        }
    }



    &__illu {
        transition: transform var(--animation-time) var(--easing);
        transform-origin: left top;
        transform: translateY(100vh);


        .is-showing & {
            transform: translateY(0);
            transition-delay: .05s;
        }

        .is-closing & {
            transform: translate(0, var(--distance)) rotate(25deg);

            transition-delay: 0s;
        }
    }



    &__main-bg {
        transition: transform var(--animation-time) var(--easing);
        transform-origin: right bottom;

        transform: translateY(100%);


        .is-showing & {
            transform: translateY(0);
            transition-delay: .15s;
        }

        .is-closing & {
            --animation-time: .75s;

            transform: translate(0, calc(var(--distance) - var(--lightbox-top-height))) rotate(-15deg);
            transition-delay: 0s;
        }
    }



    &__image {
        transition: transform var(--animation-time) var(--easing);

        transform: translateY(100%) rotate(25deg);


        .is-showing & {
            --easing: cubic-bezier(.15, .8, .2, .95);
            --animation-time: .75s;

            transform: translateY(0) rotate(-7.5deg);
            transition-delay: .55s;
        }

        .is-closing & {
            --animation-time: .55s;
            --easing: cubic-bezier(.65, .1, .3, .6);

            transform: translate(0, calc(var(--distance) - var(--lightbox-top-height))) rotate(-25deg);
            transition-delay: 0s;
        }
    }



    &__header {
        transition: transform var(--animation-time) var(--easing);
        transform-origin: right bottom;
        transform: translateY(100vh);


        .is-showing & {
            transform: translateY(0);

            // transition-delay: .25s;
        }

        .is-closing & {
            transform: translate(0, var(--distance)) rotate(-35deg);

            // transition-delay: 0s;
        }
    }



    &__buttons {
        @include z-index(buttons, $lightbox-elements);

        transition: transform var(--animation-time) var(--easing);
        transform: translateY(100%);


        .is-showing & {
            transform: translateY(0);
            transition-delay: .25s;
        }

        .is-closing & {
            transform: translate(0, calc(var(--distance) - var(--lightbox-top-height)));
            transition-delay: 0s;
        }



        @for $i from 1 through 5 {
            li:nth-of-type(#{$i}) span {
                transition-delay: calc(.75s + 0.075 * #{$i}s);
            }
        }


        button {
            span {
                display: inline-block;
                transition: transform var(--animation-time) var(--easing);
                transform: translateX(120%);


                .is-showing & {
                    transform: translateX(0);
                }
            }
        }
    }



    &__close {
        --animation-time: .25s;

        transition: opacity var(--animation-time) var(--easing);
        opacity: 0;


        .is-showing & {
            opacity: 1;
            transition-delay: .9s;
        }
    }
}