.slider {
    @include flex(row, center, center);

    width: 100%;
    height: calc(100% + var(--GLOBAL-player-height));
    padding-bottom: var(--GLOBAL-player-height);
    -webkit-tap-highlight-color: rgba(#776886, 0.3);

    @include breakpoint(not-desktop) {
        height: 100%;
        padding: 30px 0;
        width: 100vw;
        display: flex;
        justify-content: flex-start;

        @include breakpoint(tablet) {
            padding-top: 0;
            padding-bottom: vw(200, tablet);
            width: calc(100vw - 111px);
        }
    }


    @include breakpoint(phone-landscape) {
        padding: 30px 0;
        width: 100vw;
        flex-direction: column-reverse;
        align-items: flex-start;
    }


    @include breakpoint(phone) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }



    &__wrap {
        @include flex(row, center, center);

        position: relative;
        height: 100%;
        margin-top: rem(-41);

        @include breakpoint(desktop) {
            width: calc(100vh - var(--lightbox-top-height) - var(--GLOBAL-player-height) - #{vh(22)});
            translate: vw(57) 0;
        }

        @include breakpoint(not-desktop) {
            margin-top: 0;
            width: fit-content;
            margin-left: 15vw;

            @include breakpoint(phone) {
                margin-left: 60px;
            }
        }
    }



    &__slides {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
        justify-items: center;


        @include breakpoint(not-desktop) {
            display: flex;
            width: 100%;
        }
    }



    &__arrows {
        position: absolute;
        inset: 0;
    }



    &__arrow {
        @include flex(column, center, flex-start);

        position: absolute;
        top: 0;
        bottom: 0;
        color: var(--color-black);



        @include breakpoint(not-desktop) {
            display: none;
        }


        &--prev {
            left: rem(-100);
            right: 50%;

            svg { transform: scaleX(-1); }

            .is-first & { display: none; }
        }


        &--next {
            align-items: flex-end;
            left: 50%;
            right: rem(-100);

            @include breakpoint(tablet) {
                right: rem(-50);
            }

            @include breakpoint(phone) {
                right: rem(25);
            }

            .is-last & { display: none; }
        }


        span {
            opacity: 0;
            transition: opacity .25s $ease-custom;

            @include breakpoint(tablet-landscape) {
                opacity: 1;
            }
        }


        svg {
            @include breakpoint(not-desktop) {
                width: 100%;
            }

            @include breakpoint(tablet-landscape) {
                width: 100%;
            }

            .safari &,
            .mac & {
                width: 100%;
            }
        }


        @include breakpoint(desktop) {
            svg {
                *:nth-child(1) {
                    scale: 0;
                    transition: scale 0.25s $ease-custom, translate 0.2s $ease-custom;
                    transform-origin: 60% center;

                    @include breakpoint(tablet-landscape) {
                        scale: none;
                    }
                }

                *:nth-child(2) {
                    scale: 1 0;
                    transition: scale 0.25s 0.05s $ease-custom;
                    transform-origin: left center;

                    @include breakpoint(tablet-landscape) {
                        scale: none;
                    }
                }

                *:nth-child(3) {
                    scale: 0 1;
                    transition: scale 0.25s 0.25s $ease-custom;
                    transform-origin: 10% center;

                    @include breakpoint(tablet-landscape) {
                        scale: none;
                    }
                }

                @include breakpoint(tablet-landscape) {

                }
            }
        }

        .button {
            @include breakpoint(desktop) {
                @include hover {
                    svg {
                        *:nth-child(1) {
                            translate: 5% 0;
                        }
                    }
                }
            }
        }


        @include hover {
            .button {
                span {
                    opacity: 1;
                    pointer-events: all;
                }

                *:nth-child(1) {
                    scale: 1;
                    transition: scale 0.25s 0.25s $ease-custom, translate 0.2s $ease-custom;
                }

                *:nth-child(2) {
                    scale: 1;
                    transition: scale 0.25s 0.2s $ease-custom;
                }

                *:nth-child(3) {
                    scale: 1;
                    transition: scale 0.25s $ease-custom;
                }
            }
        }
    }



    &__captions {
        @include breakpoint(phone-landscape) {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: rem(30);
            margin-left: var(--grid-margin);
            margin-right: var(--grid-margin);
        }


        @include breakpoint(phone) {
            display: grid;
            grid-template-columns: 1fr;
            margin-top: rem(30);
            margin-left: var(--grid-margin);
            margin-right: var(--grid-margin);
        }
    }
}
