/* stylelint-disable custom-property-empty-line-before */

// z-index order
$lightbox-elements: buttons, footer, menu, hamburger, logo;

// lightbox variables for color/collection palletes

.lightbox {
    // main area bg, illu area bg, header area bg, tags text color
    --main-body-color: var(--color-red, red);

    // header text color, tags bg
    --main-text-color: var(--color-pale-pink, pink);

    // aside area bg, logo area bg
    --aside-body-color: var(--color-green, green);

    // active tab text color, closer color, logo fill color, transcript langs' switch bg color
    --aside-text-color: var(--color-pink, pink);

    // default tab text color
    --alt-text-color: var(--color-black, black);

    // for tabs' dots & details
    --theme-color: var(--color-red, red);


    --aside-width: #{vw(123)};
    --lightbox-top-height: #{rem(195)};


    &__item {
        --main-body-color: var(--theme-color);


        &--pink {
            --theme-color: var(--color-pale-pink);
            --main-text-color: var(--color-black);
            --aside-body-color: var(--color-purple);
            --aside-text-color: var(--color-grey200);
            --alt-text-color: var(--color-black);
        }


        &--green {
            --theme-color: var(--color-green);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-red);
            --aside-text-color: var(--color-pale-pink);
            --alt-text-color: var(--color-black);
        }

 
        &--pale-purple {
            --theme-color: var(--color-pale-purple);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-pale-pink);
            --aside-text-color: var(--color-red);
            --alt-text-color: var(--color-grey200);
        }


        &--orange {
            --theme-color: var(--color-orange);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-purple);
            --aside-text-color: var(--color-pale-pink);
            --alt-text-color: var(--color-black);
        }


        &--pale-blue {
            --theme-color: var(--color-pale-blue);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-orange);
            --aside-text-color: var(--color-pale-pink);
            --alt-text-color: var(--color-black);
        }


        &--brown {
            --theme-color: var(--color-brown);
            --main-text-color: var(--color-black);
            --aside-body-color: var(--color-purple);
            --aside-text-color: var(--color-grey200);
            --alt-text-color: var(--color-black);
        }


        &--dark-green {
            --theme-color: var(--color-dark-green);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-orange);
            --aside-text-color: var(--color-pale-pink);
            --alt-text-color: var(--color-black);
        }


        &--pale-green {
            --theme-color: var(--color-pale-green);
            --main-text-color: var(--color-black);
            --aside-body-color: var(--color-yellow);
            --aside-text-color: var(--color-black);
            --alt-text-color: var(--color-grey200);
        }


        &--purple {
            --theme-color: var(--color-purple);
            --main-text-color: var(--color-pale-pink);
            --aside-body-color: var(--color-yellow);
            --aside-text-color: var(--color-black);
            --alt-text-color: var(--color-grey200);
        }
    }
}