.collections_hero {
    display: grid;
    position: relative;

    @include breakpoint(desktop) {
        min-height: var(--app-height);
        grid-template-rows: auto 1fr;
    }

    .claim__sticker {

        @include breakpoint(desktop) {
            position: relative;
            margin-top: vw(-27);
        }

        @include breakpoint(not-desktop) {
            display: none;
        }
    }
}