.collection_location {
    &__claim {
        padding: rem(15) 0;
    }



    &__pin {
        padding-top: rem(13);
        padding-bottom: rem(175);
    }



    &__locations {
        @include font-family(reclined);
        @include font-size(22, 19);
        @include letter-spacing(0.52, 22);
        @include flex(row, flex-start, center);

        gap: rem(6);
        text-transform: uppercase;


        svg { margin-top: -3px; }
    }
}