.faq {

    &__heading {
        @include breakpoint(not-desktop) {
            position: relative;
        }

        @include breakpoint(tablet) {
            grid-column: span 8 !important;
        }
    }



    &__content {
        @include breakpoint(tablet) {
            grid-column: span 8 !important;
        }
    }



    &__line {
        display: inline-block;
        position: absolute;
        inset: 0 auto 0 50%;
        transform: translateX(-50%);
        width: 1px;
        background-color: var(--color-bg);
        will-change: transform;
    }
}
