.home_text {
    &__decorator {
        width: fit-content;
        height: fit-content;

        @include breakpoint(desktop) {
            position: absolute;
            margin-top: rem(20);
            top: 0;
            left: 0;
        }

        @include breakpoint(tablet) {
            margin-top: rem(-150);
            margin-bottom: rem(20);
        }

        @include breakpoint(phone) {
            position: relative;
            margin-top: rem(-45);
            margin-bottom: rem(10);
            align-self: flex-start;
            transform: scaleX(-1);
            order: 3;
            margin-left: -1px;

            .boxes {
                width: fit-content;
                scale: -1 1;
            }
        }
    }

    &__copy {
        @include breakpoint(desktop) {
            padding-right: rem(10);
        }


        @include breakpoint(tablet) {
            grid-column: 3 / span 6 !important;
        }
    }
}