.illustrations {
    @include breakpoint(desktop) {
        height: vw(656);
    }

    @include breakpoint(not-desktop) {
        height: auto;

        @include breakpoint(tablet) {
            padding-bottom: rem(84);
        }

        @include breakpoint(phone) {
            padding-bottom: rem(46);
        }
    }



    .illustration {
        transform: unset !important;

        &[data-scroll] { opacity: 0; }
    }



    &__cards {
        position: absolute;

        @include breakpoint(desktop) {
            width: vw(927);
            max-width: vh(927);
            aspect-ratio: 1/1;
            transform: rotate(-7.93deg);
            top: 5.6%;
            left: vw(-89);
        }


        @include breakpoint(not-desktop) {
            position: relative;
            height: auto;
            width: vw(620, tablet);
            transform: rotate(-7deg);
            top: 0;
            left: vw(-8, tablet);
        }


        @include breakpoint(phone-landscape) {
            width: vw(180, phone);
        }


        @include breakpoint(phone) {
            width: vw(289, phone);
            left: vw(7, phone);
        }
    }
}

