.interviews {
    &__heading {
        @include flex(row, flex-start, flex-start);

        @include breakpoint(desktop) {
            padding-top: rem(10);
        }


        &--reversed {
            @include flex(row-reverse, flex-end, flex-start);

            .sticker {
                @include breakpoint(desktop) {
                    translate: -44% -60%;
                }
            }
        }

        .heading {

            @include breakpoint(desktop) {
                padding-top: rem(18);
                margin-bottom: rem(-8);
            }
        }
    }

    &__left {
        @include flex(column, space-between, flex-start);

        height: 100%;
    }

    &__right {
        @include flex(column, space-between, flex-start);
 
        height: 100%;
    }



    &__item {
        // display: grid;
        // grid-template-columns: 2fr 1fr 1fr;
        // gap: 22px;
        // padding: 0 var(--grid-margin);
        position: relative;
    }



    &__text {
        @include font-family(normal);
        @include font-size(14, 16);


        @include breakpoint(desktop) {
            padding-top: rem(15);
        }

    }

    &__collection {
        @include font-family(compressed);
        @include font-size(20, 19);
        @include letter-spacing(-0.5, 20);

        text-transform: uppercase;

        @include breakpoint(desktop) {
            padding-bottom: rem(17);
        }
    }



    &__state {
        @include font-family(reclined);
        @include font-size(20, 19);
        @include letter-spacing(-0.5, 20);

        text-transform: uppercase;
        // font-weight: 400;

        @include breakpoint(desktop) {
            padding-bottom: rem(17);
        }
    }



    &__box {
        @include flex(row, flex-end, center);

        &-wrap {
            border-left: 1px solid var(--color-bg);
        }
    }



    &__link {
        @include full;
        z-index: 3;

        @include hover {
            ~ .interviews__box .interview-box {
                @extend %box-hover;
            }
        }
    }
}