.module {
    // common

    &--full-height {
        height: var(--app-height);

        .grid,
        [class*="grid-"] {
            height: 100%;
        }
    }


    &--404 {
        @include flex(column, space-between, stretch);

        height: 100%;
    }
}
