.module {
    // common

    &--full-height {
        height: var(--app-height);

        .grid,
        [class*="grid-"] {
            height: 100%;
        }
    }


    &--404 {
        @include flex(column, space-between, stretch);

        height: 100%;
    }


    &--text-aside {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0 auto 0 50%;
            transform: translateX(-50%);
            width: 1px;
            background-color: var(--color-bg);
        }


        .box:last-of-type { padding-bottom: rem(67); }
    }

    &--faq {
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            inset: 0 auto 0 50%;
            transform: translateX(-50%);
            width: 1px;
            background-color: var(--color-bg);
        }
    }


    &--boxes {

    }


    &--claim {
        padding-top: rem(14);
    }


    &--home-text {
        @include flex(column, flex-end, stretch);

        min-height: vw(391);

        &--link {
            justify-content: flex-start;
        }
    }


    &:first-of-type:not(.module--hero) .box:first-of-type {
        padding-top: rem(27);
    }
}
