.page_404 {

    @include breakpoint(not-desktop) {
        @include flex(column, flex-start, stretch);
    }

    &__image {
        z-index: 1;

        @include breakpoint(desktop) {
            position: absolute;
            left: vw(18); 
            top: vw(-68);
            width: vw(295);
            height: vw(295);
            rotate: -4.85deg;
            
        }

        @include breakpoint(phone) {
            position: relative;
            width: vw(220, phone);
            aspect-ratio: 1/1;
            margin-block: vw(-35, phone) vw(-35, phone);
            rotate: -4.85deg;
            right: vw(5, phone);
            bottom: vw(-15, phone);
        }
    }

    &__error {
        @include breakpoint(phone) {
            padding-top: vw(6, phone);
            height: vw(177, phone);
        }
    }

    &__link {
        @include breakpoint(phone) {
            flex-grow: 1;
            padding-top: rem(3);
        }
    }
}