.quote_panel {
    position: relative;

    &__sticker-wrapper {
        position: relative;
        width: 100%;
        height: 100%
    }

    &__quote {

        h3 {
            @include breakpoint(desktop) {
                @include font-size(40, 37.4);
                @include font-settings(400, 100);
                @include letter-spacing(-1.2, 40);
            }
        }

        .text p {
            @include breakpoint(desktop) {
                @include font-settings(400, 100);
                @include font-size(17, 22.1);
                margin-top: rem(4);
                max-width: rem(511);
            }
        }
    }



    &__video {
        margin-left: calc(var(--grid-margin) * -1);
        margin-right: rem(-1);

        @media (min-width: 1600px) {
            margin-right: (map-get($grid-gutter, hd) / -2 ) + 1px;
        }

        @include breakpoint(tablet) {
            margin-right: calc(var(--grid-margin) * -1);
        }

        @include breakpoint(phone) {
            margin-right: calc(var(--grid-margin) * -1);
        }
    }



    &__column {
        position: relative;

        @include breakpoint(tablet) {
            grid-column: span 8 !important;

            &:nth-child(1) {
                margin-bottom: vw(50, tablet);
            }
        }


        @include breakpoint(phone) {
            &:nth-child(1) {
                margin-bottom: vw(30, phone);
            }
        }
    }



    &__decorator {

        z-index: 5;

        &--illustration {
            @include breakpoint(desktop) {
                position: absolute;
                width: vw(240);
                right: rem(-20);
                bottom: rem(100);
            }

            @include breakpoint(not-desktop) {
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    height: 1px;
                    background-color: $color-bg;
                    z-index: -1;

                    @each $bp in (tablet, phone) {

                        @include breakpoint($bp) {
                            left: map-get($grid-gutter, $bp) / -2;
                            width: calc(100% + (#{map-get($grid-gutter, $bp)} / 2) + #{map-get($grid-offset, $bp)});
                        }
                    }
                }

                @include breakpoint(phone) {

                    height: vw(360, phone);

                    img {
                        position: absolute;
                        left: 50%;
                        top: vw(-15, phone);
                        translate: -50% 0;

                        width: vw(180, phone);
                    }
                }
            }
        }
    }
}
