$color-white:       #fff;
$color-black:       #000;
$color-pale:        #E9F5FF;

$color-dark:        #121316;
$color-gray:        #444;
$color-blue:       #1369B2;





$color-transparent: rgba(0, 0, 0, 0);


$color-bg: $color-pale;
$color-text: $color-gray;

$color-primary: $color-pale;

$color-link: $color-primary;
$color-select-bg: $color-primary;
$color-select-text: $color-pale;
