@import "includes/mixins";
@import "includes/variables/sizes";
@import "includes/breakpoints";


:root {
    --app-height: 100vh;
    --vw: 100vw;
    --GLOBAL-aside-width: #{vw(111)};
    --GLOBAL-content-width: calc(var(--vw) - var(--GLOBAL-aside-width) - 1px);
    --GLOBAL-player-height: #{rem(82)};

    @supports(height: 100lvh) {
        --app-height: 100lvh;

        @include breakpoint(not-desktop) {
            --app-height: 100svh;
        }
    }

    @include breakpoint(not-desktop) {
        --GLOBAL-content-width: 100vw;

        @include breakpoint(tablet) {
            --GLOBAL-aside-width: #{vw(80, tablet)};
        }

        @include breakpoint(phone) {
            --GLOBAL-aside-width: 40px;
        }
    }


    @include breakpoint(phone) {
        --hamburgerbar-height: 69px;
    }
}