
$time: .5s;
$time-fast: .25s;

$ease-in: cubic-bezier(.895, .03, .685, .22);
$ease-out: cubic-bezier(.165, .84, .44, 1);
$ease-in-out: cubic-bezier(.77, 0, .175, 1);
$ease-out-back: cubic-bezier(.175, .885, .320, 1.275);
$ease-custom: cubic-bezier(.5, 0, .2, 1);

$easing: $ease-custom;
