<footer class="footer">
    <div class="footer__bottom" data-scroll="box">
    <div class="box__bg"></div>
        <div class="grid">
            <div class="col-span-12">
                <div class="footer__links">
                    {% for item in scaffold.footer %}
                        <a href="{{ item.url }}">
                            <span>
                                <span>{{ item.label }}</span>
                                <span>{{ item.label }}</span>
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>