<header class="header">
    <div class="header__container">
        <div class="header__wrap">
            <button class="header__trigger js-menu-toggle" aria-label="Open Menu">
                <div class="hamburger">
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                </div>
                <div class="header__logo desktop-only">
                    [[svg::logo]]
                </div>
            </button>
        </div>
    </div>
</header>
