<div class="menu js-menu">
    <div class="menu__wrap">
        {% include './scaffold/search.html' %}
        <nav class="menu__nav">
            <ul>
                {% for item in scaffold.menu.nav %}
                    <li class="menu__item"><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <ul class="menu__footer">
            {% for item in scaffold.menu.footer %}
                <li class="menu__link"><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <button aria-label="Close menu" class="menu__close js-menu-close"><i class="icon-close"></i></button>
</div>
