<form class="newsletter js-newsletter" action="json/newsletter.json" data-api='{"beforeCall": "validate", "callback": "onSubscribe"}' data-scroll="box">
    <div class="box__bg"></div>
    <input type="hidden" data-recaptcha data-recaptchakey="6LcHsOMoAAAAAJgIWp7B-XpDKBGk1_dpVXxXu_IT" name="token" required="required">
    <div class="newsletter__top">
        <h2 class="newsletter__heading">Newsletter:</h2>

        <fieldset class="newsletter__fields">
            <legend>Sign up with your email address to receive news and updates.</legend>
            <div class="newsletter__wrap">
                <div class="newsletter__error js-error"></div>
                <div class="newsletter__input">
                    <input id="email" type="email" name="email" required placeholder=" " autocomplete="off">
                    <label class="newsletter__label" for="email">ENTER YOUR E-MAIL ADDRESS</label>
                    <div class="newsletter__button">
                        {% include "components/c_button.html" with scaffold.newsletter.button|merge({"modifiers": ["draw"], "jsClass": "js-newsletter-button"}) %}
                    </div>
                </div>
                <div class="newsletter__message">
                    <div class="newsletter__sticker">
                        {% include "components/c_sticker.html" with { "modifiers": ["yellow"], "text": "Spam? Not us!" } %}
                    </div>
                    <div class="js-message message"></div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="newsletter__bottom">
        <div class="grid">
            <div class="col-span-12">
                <p class="newsletter__copy">&copy; Copyright 2023</p>
            </div>
        </div>
    </div>
</form>