<nav class="quick-access">
	<ul class="quick-access__list quick-access__list--main">
		<li>
			<a href="#menu" class="quick-access__link quick-access__link--menu js-menu-toggle" data-skip-to data-gtm='{"event": "quick-access", "quick": "main-navigation"}'>Skip to <b>main navigation</b></a>
		</li>
		<li>
			<a href="#content" class="quick-access__link" data-skip-to-content data-gtm='{"event": "quick-access", "quick": "main-content"}'>Skip to <b>main content</b></a>
		</li>
		<li>
			<a href="#footer" class="quick-access__link" data-skip-to data-gtm='{"event": "quick-access", "quick": "footer"}'>Skip to <b>footer</b></a>
		</li>
	</ul>
	<ul class="quick-access__list quick-access__list--interview">
		<li>
			<a href="#interview-video" class="quick-access__link js-menu-toggle" data-skip-to data-gtm='{"event": "quick-access", "quick": "interview-video"}'>Skip to <b>video</b></a>
		</li>
		<li>
			<a href="#interview-nav" class="quick-access__link" data-skip-to data-gtm='{"event": "quick-access", "quick": "interview-navigation"}'>Skip to <b>navigation</b></a>
		</li>
		<li>
			<a href="#interview-bottombar" class="quick-access__link" data-skip-to data-gtm='{"event": "quick-access", "quick": "interview-bottombar"}'>Skip to <b>bottombar</b></a>
		</li>
		<li>
			<a href="#interview-transcript" class="quick-access__link" data-skip-to data-gtm='{"event": "quick-access", "quick": "interview-transcript"}'>Skip to <b>transcript</b></a>
		</li>
	</ul>
</nav>
