<div class="search" id="search">
    <div class="search__content js-search-content">
        <!-- data-api-url needs to be updated from backend -->
        <form class="search__form js-form" action="/workspace/search-results/" novalidate autocomplete="off" data-api-url="/workspace/json/search.json">
            <div class="search__input">
                <input type="search" name="q" id="search-inp" placeholder=" ">
                <label for="search-inp">
                    <span>
                        <span class="js-menu-search-label">Search</span>
                    </span>
                    <span class="sr-only">submit</span>
                    <span class="search__svg js-menu-search-svg">[[svg::search]]</span>
                </label>
            </div>
            <button aria-label="Clear Search" type="reset" class="search__clear js-search-clear">Clear Search</button>
            <div class="livesearch js-livesearch"></div>
        </form>
        <button class="search__exit js-search-close">[[svg::exit]]</button>
    </div>
</div>