{% if not is_ajax %}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
{% endif %}

{% include 'scaffold/menu.html' %}

<article>
    {% for module in modules %}
        {% include 'modules/'~module.type~'.html' with module %}
    {% endfor %}
</article>

{% include 'scaffold/footer.html' %}

{% if not is_ajax %}
    </body>
    </html>
{% endif %}