<div class="circle js-loader-circle phone-hide tablet-hide">
    <div class="circle__wrapper">
        <div class="circle__circles">
            <div class="circle__circle js-circle"></div>
            <div class="circle__circle js-circle"></div>
            <div class="circle__circle js-circle"></div>
        </div>
        <div class="circle__illus">
            <div class="circle__illu js-illu">
                <img src="/workspace/images/loader-anim-1.png" alt="">
            </div>
            <div class="circle__illu js-illu">
                <img src="/workspace/images/loader-anim-2.png" alt="">
            </div>
            <div class="circle__illu js-illu">
                <img src="/workspace/images/loader-anim-3.png" alt="">
            </div>
        </div>
    </div>
</div>