<link rel="icon" type="image/png" sizes="192x192" href="../public/theme/favicons/android-chrome-192x192.png">
<link rel="manifest" href="../public/theme/favicons/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#020307">
<meta name="application-name" content="-">
<link rel="icon" type="image/png" sizes="16x16" href="../public/theme/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../public/theme/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../public/theme/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="230x230" href="../public/theme/favicons/favicon-230x230.png">
<link rel="shortcut icon" href="../public/theme/favicons/favicon.ico?v=2">