<footer class="footer">
  <div class="footer__bottom box" >

    <div class="grid">
      <div class="col-span-12">
        <div class="footer__links">
          {% for item in scaffold.footer %}
          <a href="{{item.url}}" {% if item.url|slice(0,4)=='http' %}target="_blank"{% endif %}>
            <span>
              <span>{{item.label}}</span>
              <span>{{item.label}}</span>
            </span>
          </a>
          {% endfor %}
          <a href="https://adabuchholc.pl" target="_blank">
            <span>
              <span>Illustrations by Ada Buchholc</span>
              <span>Illustrations by Ada Buchholc</span>
            </span>
          </a>
          <a href="https://huncwot.com/" target="_blank">
            <span>
              <span>Website by <strong>Huncwot</strong></span>
              <span>Website by <strong>Huncwot</strong></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
