<header class="header">
  <div class="header__wrap">
    <button class="header__trigger js-toggle-menu" aria-label="Open Menu">
      <div class="hamburger">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>
      <div class="header__logo desktop-only">
        [[svg::logo]]
      </div>
    </button>
  </div>
</header>
<div class="menu js-menu">
  <div class="menu__wrap">
    <div class="search" id="search">
      <div class="search__content js-search-content">
        <form class="search__form js-form" action="/search/" novalidate autocomplete="off"
          data-api-url="/workspace/json/search.json">
          <div class="search__input">
            <input type="search" name="q" id="search-inp" placeholder=" ">
            <label for="search-inp">
              Search
              <span class="sr-only">submit</span>
              <span class="search__svg">[[svg::search]]</span>
            </label>
          </div>
          <button aria-label="Clear Search" type="reset" class="search__clear js-search-clear">Clear Search</button>
          <div class="livesearch js-livesearch"></div>
        </form>
        <button class="search__exit js-search-close"></button>
      </div>
    </div>
    <nav class="menu__nav">
      <ul>
        {% for item in scaffold.menu %}
        <li class="menu__item">
          <a href="{{item.url}}">
            <span class="menu__arrow">
              <i class="icon-btn-arrow arrow arrow--reversed ">
                <span></span>
                <span></span>
                <span class="triangle"></span>
              </i> </span>
            <span class="menu__text">{{item.label}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <ul class="menu__footer">
      {% for item in scaffold.footer %}
      <li class="menu__link">
        <a href="{{item.url}}">
          <span>
            <span>{{item.label}}</span>
            <span>{{item.label}}</span>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <button aria-label="Close menu" class="menu__close js-menu-close"><i class="icon-close"></i></button>
</div>