{% set loader_colors_set = random([
    ["red", "pale-blue", "red"],
    ["pink", "pink", "purple"],
    ["yellow", "pale-green", "yellow"],
    ["pale-green", "pale-green", "red"],
    ["orange", "orange", "purple"]
]) %}

<script>const loaderStart = +new Date();</script>

<div class="loader js-loader" style="--loader-color-1: var(--color-{{loader_colors_set[0]}}); --loader-color-2: var(--color-{{loader_colors_set[1]}}); --loader-color-3: var(--color-{{loader_colors_set[2]}}); --loader-duration: 2500ms">
    <div class="loader__bg"></div>
    <div class="loader__bg"></div>
    <div class="loader__bg"></div>
    <div class="loader__grid">
        <div class="loader__wrap">
            <div class="loader__quote">‘{{scaffold.intro_quote.text|nl2br}}’</div>
            <div class="loader__author">{{scaffold.intro_quote.author}}</div>
        </div>
    </div>
    <div class="loader__line"></div>
</div>
