<div class="loader js-loader">
    <div class="loader__grid">
        <div class="loader__wrap">
            {#<div class="loader__body">
                <h2 class="loader__count js-loader-count"><span>1%</span></h2>
                <p class="loader__text">Loading</p>
            </div>#}
        </div>
        <div class="loader__aside">
            <i class="loader__line js-loader-line"></i>
            {#<div class="loader__logo desktop-only js-loader-logo">
                [[svg::logo]]
                <div class="loader__spacer"></div>
            </div>#}
        </div>
    </div>
</div>
