<form class="newsletter js-newsletter" action="/api/newsletter" data-api='{"beforeCall": "validate", "callback": "onSubscribe"}' >

    <input type="hidden" data-recaptcha data-recaptchakey="6LcHsOMoAAAAAJgIWp7B-XpDKBGk1_dpVXxXu_IT" name="token"
        required="required">
    <div class="newsletter__top">
        <h2 class="newsletter__heading">Newsletter:</h2>

        <fieldset class="newsletter__fields">
            <legend>Join our mailing list to find out about Elder Project news, events, and more.</legend>
            <div class="newsletter__wrap">
                <div class="newsletter__error js-error"></div>
                <div class="newsletter__input">
                    <input id="email" type="email" name="email" required placeholder=" " autocomplete="off">
                    <label class="newsletter__label" for="email"><span>Enter your e-mail <span class="desktop-only">address</span></span></label>
                    <div class="newsletter__button">
                        <button class="button button--draw js-newsletter-button" type="submit">
                            <i class="icon-btn-arrow arrow js-arrow">
                                <span class="vertical js-arrow-vertical"></span>
                                <span class="horizontal js-arrow-horizontal"></span>
                                <span class="triangle js-arrow-triangle"></span>
                            </i> <span class="button__text js-button-text">Send</span>
                        </button>
                    </div>
                </div>

                <div class="newsletter__message">
                    <div class="newsletter__sticker">
                        <div class="sticker sticker--blue" data-scroll="sticker">
                            <div class="sticker__layer">
                                <div class="sticker__front sticker__wrap">
                                    <div class="sticker__circle"></div>
                                </div>
                            </div>
                            <span class="sticker__text">Spam? Not us!</span>
                            <div class="sticker__layer">
                                <div class="sticker__back sticker__wrap">
                                    <div class="sticker__circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="js-message message"></div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="newsletter__bottom">
        <div class="grid">
            <div class="col-span-12">
                <p class="newsletter__copy">&copy; Copyright {{ 'now' | date('Y') }}</p>
            </div>
        </div>
    </div>
</form>