$bar-height: 60px;
$bar-color: var(--color-black);
$bar-opacity: 1;

$button-color: $color-white;
$button-opacity: 0.7;

$scrubber-height: 100%;
$scrubber-color: $color-white;

$loaded-color: none;
$loaded-opacity: 0;

$progress-color: var(--color-deep-red);
$progress-opacity: 1;

$scrubber-button-color: $color-white;

$element: filters, header;

.player {
    --top-panel-height: #{rem(24)};
    --bottom-panel-height: #{rem(58)};
}
