.player {
    &__bar {
        position: absolute;
        top: 100%;
        transform-origin: center bottom;

        // transition: transform ($time * 2) $easing;
        width: 100%;
        z-index: 1;
        background-color: $bar-color;
        pointer-events: all;


        .player--audio & {
            position: relative;
            top: 0;
            display: grid;
            flex-grow: 1;
            will-change: transform;


            @include breakpoint(desktop) {
                grid-template-rows: var(--top-panel-height) var(--bottom-panel-height);
                top: auto;
            }
        }


        @include breakpoint(desktop) {
            .player--video & {
                height: rem(89);
            }
        }


        @include breakpoint(hd) {
            .player--video & {
                height: rem(80);
            }
        }


        @include breakpoint(not-desktop) {
            grid-template-rows: 30px var(--bar-height);

            @include breakpoint(phone) {
                .player--video & {
                    height: 32px;
                }
            }
        }
    }



    &__controls {
        display: grid;
        grid-template-columns: 34.5% 1fr 25%;
        padding: 0 rem(8) 0 rem(13);
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 1;
        text-align: center;


        @include breakpoint(not-desktop) {
            @include flex(row, center, stretch);

            overflow: hidden;

            .player--video & {
                padding: 0 rem(2);
                padding-top: rem(2);
            }
        }

        @include breakpoint(tablet) {
            display: grid;
            grid-template-columns: 25% 1fr 15%;
        }



        > * {
            height: inherit;
            position: relative;
            transition: width $time-fast $easing, padding $time-fast $easing, opacity $time-fast $easing;
            overflow: hidden;
        }


        .player--video & {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(desktop) {
                height: unset;
            }

            @include breakpoint(tablet-landscape) {
                // height: 100%;
            }
        }
    }



    &__playpause {
        margin: 0 rem(7);


        @include breakpoint(not-desktop) {
            @include font-family(compressed);
            @include font-size(30, 30);

            letter-spacing: -0.01em;
            text-transform: uppercase;


            span {
                padding-left: rem(4);
                margin-top: rem(3);
            }

            @include breakpoint(tablet) {
                @include font-size(42, 1);

                margin: 0;

                span {
                    margin-top: rem(6);
                }
            }
        }

        @include hover { opacity: 1; }

        span {
            &:first-child {
                .is-playing & { display: none; }
            }

            &:nth-child(2) {
                display: block;

                .is-playing & { display: none; }
            }
        }
    }



    &__full {
        width: 50px;
        opacity: $button-opacity;

        @include hover { opacity: 1; }

        .player--audio & { display: none; }
    }



    &__next,
    &__rewind {
        svg {
            transform: scaleX(-1);
        }
    }



    &__rewind,
    &__forward {
        span {
            @include font-family(compressed);
            @include font-size(17.727, 14);
            @include letter-spacing(-0.177, 17.727);

            position: absolute;
            padding-top: rem(8);
        }


        svg {
            transition: transform .25s $ease-custom;
        }
    }



    &__rewind {
        svg {
            margin-top: rem(-3);
            margin-left: rem(-2);
        }
    }



    &__forward {
        svg {
            margin-top: rem(-3);
            margin-right: rem(-2);
        }
    }



    &__time {
        @include font-family(compressed);
        @include flex(row, flex-start, flex-end);

        font-size: 62px;
        line-height: 60px;
        letter-spacing: -0.02em;
        gap: rem(9);
        white-space: nowrap;
        text-align: center;
        margin-top: 5px;

        @include breakpoint(tablet) {
            @include font-size(42, 1);

            line-height: 1;
            flex-shrink: 0;
        }

        @include breakpoint(tablet-landscape) {
            font-size: 42px;
            line-height: 50px;
        }


        @include breakpoint(phone-landscape) {
            flex-direction: column-reverse;
            gap: 0;
            flex-shrink: 0;
            align-items: flex-start;
        }


        @include breakpoint(phone) {
            @include font-size(25, 26.5);
            @include letter-spacing(-0.5, 25);

            justify-content: center;
            position: absolute;
            inset: 0 0 0 auto;
            margin-top: 0;
            writing-mode: vertical-lr;
            transform: rotate(180deg);


            .player--video & { display: none; }
        }



        em {
            font-style: normal;
        }
    }



    &__more {
        @extend %player-small-button;


        .audioplayer.has-active-lightbox & {
            opacity: 0 !important;
            pointer-events: none;
        }


        @include breakpoint(phone-landscape) {
            display: flex !important;
            padding-bottom: 0 !important;
        }


        @include breakpoint(not-phone) {
            padding-bottom: rem(10);
        }
    }



    &__fullscreen {
        @extend %player-small-button;

        opacity: 1 !important;
        margin-left: auto;
        margin-bottom: auto;
        padding-top: rem(9);


        @include breakpoint(not-desktop) {
            .player--video & {
                @include font-size(30, 1);

                letter-spacing: -0.01em;
                margin-top: rem(1);

                @include breakpoint(tablet) {
                    @include flex(row, flex-start, flex-start);

                    font-size: 42px;
                    line-height: 1;

                    margin-bottom: rem(10);
                }


                i {
                    margin-left: rem(0);
                    padding-right: rem(2);
                    padding-top: 5px;


                    @include breakpoint(phone) {
                        padding-top: 0;

                        path[stroke] {
                            stroke-width: 0.6px;
                        }
                    }
                }
            }
        }


        @include hover {
            svg {
                animation: slide-right .25s $ease-custom forwards !important;

                &:last-of-type { animation-delay: .1s; }
            }
        }
    }



    &__icon {
        @include flex(column, flex-start, center);

        overflow: hidden;
        position: relative;
        top: -1px;


        /* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
        @media (-webkit-min-device-pixel-ratio: 2) {
            top: -2px;
        }



        svg {
            transition: transform $time-fast $easing;

            &:last-of-type {
                position: absolute;
                inset: 100% auto auto;
            }
        }


        &--fullscreen {
            flex-shrink: 0;
            width: rem(12);
            height: rem(12);
            margin-left: rem(3);

            svg:last-of-type {
                inset: 100% 100% auto auto;
            }


            @include breakpoint(not-desktop) {
                .player--video & {
                    width: 28px;
                    height: 28px;


                    svg {
                        width: 100%;
                        height: 100%;
                    }

                    @include breakpoint(tablet) {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }


        .player__minimize & {
            transform: scaleY(-1);
            top: 0;


            /* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
            @media (-webkit-min-device-pixel-ratio: 2) {
                top: -1px;
            }
        }
    }



    &__minimize {
        @extend %player-small-button;


        @include breakpoint(not-phone) {
            font-size: 17px !important;
            line-height: 13px !important;
            padding-top: 8px;
        }


        body.has-lightbox & {
            opacity: 0 !important;
            pointer-events: none;
        }
    }



    &__header {
        position: relative;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            inset: auto 0 0;
            height: 1px;
            background-color: #404040;
        }


        .player--video & {
            @include breakpoint(phone) { display: none; }
        }
    }



    &__title {
        @include font-family(normal);
        @include font-settings(900, 900);
        @include flex(row, center, center);

        font-size: 16px;
        line-height: 18px;
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        text-align: center;
        text-transform: uppercase;
        padding-top: 4px;

        @include breakpoint(desktop) {
            padding-left: 9.5%; // visually centered, like .player__buttons
        }


        @include breakpoint(tablet) {
            padding-left: 5%;
        }


        @include breakpoint(phone-landscape) {
            padding-left: 5%;
        }


        @include breakpoint(phone) {
            .player.is-error & { color: red; }


            &--long {
                font-size: 13px;
                line-height: 15px;
                padding-top: 1px;
            }
        }
    }



    &__buttons {
        @include flex(row, center, stretch);

        @include breakpoint(tablet) {
            margin-left: var(--grid-margin);
            margin-right: var(--grid-margin);
            height: 100%;
        }


        @include breakpoint(phone-landscape) {
            margin-left: vw(10, tablet);
            margin-right: var(--grid-margin);
            height: 100%;
        }

        > button {
            @include flex(row, center, center);

            aspect-ratio: 1;

            @include breakpoint(not-desktop) {
                aspect-ratio: unset;
                width: vw(130, tablet);

                @include breakpoint(tablet) {
                    @include flex(row, center, center);

                    width: auto;
                    height: 100%;
                    aspect-ratio: 1;
                }
            }


            @include breakpoint(phone-landscape) {
                justify-content: center;
            }

            @include breakpoint(phone) {
                width: vw(58, phone);

                .player--video & {
                    width: auto;
                }
            }


            @include hover {
                color: var(--color-white);
            }

            svg { transition: scale 0.2s; }
            &:active svg { scale: 0.9; }
        }
    }



    &__scrubber-wrap {
        height: 100%;
        width: auto;


        .player--video & {
            height: rem(24);
        }
    }



    &__scrubber {
        position: relative;
        height: 100%;
        cursor: pointer;

        &::before {
            content: "";
            height: $scrubber-height;
            top: 50%;
            width: 100%;
            position: absolute;
            left: 0;
            opacity: 0.1;
            transform: translate(0, -#{$scrubber-height * 0.5});
        }

        > div {
            position: absolute;
            left: 0;
            top: 50%;
            height: $scrubber-height;
            width: 0%;

            // transition: all $time-fast linear;
            transform: translate(0, -#{$scrubber-height * 0.5});
        }
    }



    &__loaded {
        background: $loaded-color;
        opacity: $loaded-opacity;
    }



    &__progress {
        background: var(--lightbox-color, var(--color-deep-red));
        opacity: $progress-opacity;

        .player[style] & {
            filter: brightness(0.8);
        }


        .player--video & { background: currentColor; }
    }


    .player:not(.has-cc) &__cc {
        display: none;
    }
}


%player-small-button {
    @include font-family(compressed);
    @include font-size(17.727, 13.636);
    @include letter-spacing(-0.532, 17.727);
    @include flex(row, flex-start, flex-end);

    gap: rem(2);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .25s $ease-custom;


    @media (hover: none) {
        opacity: 1;
    }


    @include hover {
        svg {
            animation: slide-up .25s $ease-custom forwards;

            &:last-of-type { animation-delay: .1s; }
        }
    }
}
