.player {
    &__cover {
        @include flex(row, center, flex-start);

        position: fixed;
        z-index: 0;
        inset: 0;
        background-color: var(--color-black);
        padding: 23px var(--grid-margin);
        padding-bottom: calc(var(--bar-height) + 30px);
        transform: translateY(140%);
        transition: transform .8s $ease-custom;

        .is-expanded & {
            transform: translateY(0);
        }


        &-illustration {
            position: absolute;
            top: calc(50% - ((var(--bar-height) + 30px + #{vw(5, phone)}) / 2));
            left: calc(50% - #{vw(2.5, phone)});
            width: vw(228, phone);
            aspect-ratio: 1/1;
            
            &--wrapper {
                transform: translate(-50%, -50%);
                
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    background-color: var(--shadow-color);
                    top: vw(5, phone);
                    left: vw(5, phone);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }


        &-buttons {
            @include flex(row, space-between, center);

            width: 100%;
        }
    }
}