.volume {
    @include flex(column, space-between, flex-end);

    position: relative;
    text-align: left;
    padding-bottom: 6px;


    @include breakpoint(tablet) {
        flex-shrink: 0;
    }


    @include breakpoint(phone-landscape) {
        flex-shrink: 0;
    }


    @include breakpoint(phone) { display: none; }



    &__button {
        height: 100%;
        aspect-ratio: 1;

        i {
            position: relative;
            top: -4px;
        }
    }
}
