.volume {
    position: relative;
    width: 41px;
    text-align: left;


    @include hover {
        width: 200px;

        ~ * { width: 1px; padding-left: 0; padding-right: 0; opacity: 0; }

        .volume__bar { opacity: 1; }
        .volume__button svg.svg-volume { @extend %svg-volume-hover; }
    }



    &__bar {
        width: 150px;
        height: 100%;
        position: absolute;
        left: 40px;
        top: 0;
        opacity: 0;
        transition: opacity $time $easing;

        &::before {
            content: "";
            display: block;
            height: 2px;
            opacity: 0.25;
            background: currentColor;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            margin-top: -1px;
        }
    }


    &__value {
        display: block;
        background: currentColor;
        opacity: 0.8;
        position: relative;
        height: 2px;
        top: 50%;
        margin-top: -1px;
    }



    &__button svg {
        position: relative;
        top: -2px;
    }
}
