.box {
    background-color: var(--color-box);
    margin-top: 1px;


    .is-404 & {
        padding-top: rem(14);

        &:last-of-type { flex-grow: 1; }
    }



    &__wrap {
        @include flex;

        @include breakpoint(phone) {
            @include flex;
        }
    }

    @include breakpoint(desktop) {
        .text {
                padding-inline-start: rem(11);
        }
    
        .heading--aside {
                padding-inline-start: rem(9);
        }

        .no-padding {
            .text, .heading--aside {
                padding-inline-start: rem(0);
            }
        }
    };
}