.box {
    background-color: var(--color-box);
    margin-top: 1px;


    &[data-scroll="box"],
    [data-scroll="box"] & {
        background: none;
        position: relative;

        @include breakpoint(not-desktop) {
            z-index: 1;
        }
    }

    [data-scroll="box"] & {
        border-top: 1px solid var(--color-bg);
        margin-top: 0;
    }

    .is-404 &, .page_404 & {

        @include breakpoint(desktop) {
            padding-top: rem(14);

            &:last-of-type { flex-grow: 1; }
        }
    }


    &__bg {
        @include full;
        background-color: var(--color-box);
        z-index: -1;
        pointer-events: none;
        will-change: transform;
    }


    &__wrap {
        @include flex(row-reverse, flex-start, flex-start);
    }

    @include breakpoint(desktop) {
        .text {
            padding-inline-start: rem(11);
        }

        .heading--aside:not(.heading--collection) {
            padding-inline-start: rem(9);
        }

        .no-padding {
            .text, .heading--aside:not(.heading--collection) {
                padding-inline-start: rem(0);
            }
        }
    };
}

.module[data-scroll="box"] {

    @include breakpoint(not-desktop) {
        position: relative;
        z-index: 1;

        // > div {
        //     z-index: 1;
        // }

        // .box__bg {
        //     z-index: unset;
        // }
    }
}