.footer {
    @include z-index(footer);

    grid-area: footer;
    text-transform: uppercase;
    position: relative;

    @include breakpoint(desktop) {
        @include font-size(10, 13.5);
    }

    @include breakpoint(tablet) {
        @include font-size(15, 1);
    }

    @include breakpoint(phone) {
        @include font-size(14, 18.9);
    }


    body.is-404 & { display: none; }

    & > * { background-color: var(--color-box); }



    &__links {

        @include breakpoint(desktop) {
            @include flex(row, flex-start, center);

            gap: vw(24);
            padding: vw(56) 0 vw(19);
        }

        @include breakpoint(tablet) {
            @include flex(row, space-between, center);
            padding-block: rem(22);
        }

        @include breakpoint(phone) {
            @include flex(column, flex-start, flex-start);

            gap: rem(19);
            padding-block: rem(14);
        }


        a { @include hoverable-link; }
    }



    &__copy {

        @include breakpoint(desktop) {
            padding: vw(409) 0 vw(19);
        }

        @include breakpoint(tablet) {
            @include font-size(11, 1);

            padding: vw(160, tablet) 0 vw(20, tablet);
        }

        @include breakpoint(phone) {
            @include font-size(10, 13.5);

            padding: vw(282, phone) 0 vw(11, phone);
        }
    }
}
