
.header {
    @include z-index(header);
    @include menuShiftedElement;

    grid-area: header;
    position: fixed;
    inset: 0 0 0 auto;
    width: var(--GLOBAL-aside-width);
    background-color: var(--color-box);


    // body.is-not-ready & {
    //     transform: translateX(100%);
    // }


    @include breakpoint(desktop) {
        padding: rem(13) rem(6);
    }

    @include breakpoint(not-desktop) {
        z-index: 1;
    }

    @include breakpoint(tablet) {
        padding: vw(27, tablet) vw(18, tablet);
    }

    @include breakpoint(phone) {
        padding: vw(13, phone) vw(4, phone);
    }

    &__logo {
        width: 100%;
        display: block;

        @include breakpoint(desktop) {
            margin-top: vw(13);
        }

        svg { width: 100%; height: auto; }
    }


    &__trigger {
        @include flex(column, space-between, flex-start);

        @include breakpoint(tablet) {
            width: 100%;
        }
    }

    &__wrap {
        @include breakpoint(tablet) {
            position: relative;
        }
    }
}