
.header {
    @include z-index(header);
    @include menuShiftedElement;

    grid-area: header;
    position: fixed;
    inset: 0 0 0 auto;
    width: var(--GLOBAL-aside-width);
    background-color: var(--color-box);
    padding: vw(13) vw(6);


    &__logo {
        width: 100%;
        margin-top: vw(13);
        display: block;

        svg { width: 100%; height: auto; }
    }


    &__trigger {
        @include flex(column, space-between, flex-start);
    }
}