$theme-colors: ("orange", "red", "blue", "pink");

.menu {
    @include flex(row, flex-start, flex-start);

    flex-direction: column;
    position: fixed;
    inset: 0;
    z-index: 0;
    height: var(--app-height);
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-grey200);
    padding: 0 var(--GLOBAL-aside-width);
    counter-reset: menu -1;

    @include breakpoint(not-desktop) {
        padding: 0;
        height: 100vh;
        /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
        height: 100lvh;
    }

    &__wrap {
        @include flex(column, flex-start, flex-end);

        text-transform: uppercase;
        width: 100%;
        height: 100%;
        text-align: right;

        @include breakpoint(desktop) {
            border-right: 1px solid var(--color-bg);
        }

        @include breakpoint(not-desktop) {
            @include flex(column, flex-start, flex-start);

            height: var(--app-height);
            text-align: left;
        }
    }



    &__nav {
        @include font-family(compressed);

        width: 100%;
        transition: opacity .3s $ease-out;


        .is-livesearch-shown ~ & {
            opacity: 0;
        }

        @include breakpoint(desktop) {
            @include font-size(100, 82);
            @include letter-spacing(-3, 100);

            @media (max-height: 719px) {
                @include font-size(86, 74);

                letter-spacing: -0.03em;
            }
        }

        @include breakpoint(tablet) {
            @include font-size(120, 0.9);
            @include letter-spacing(-3.3, 120);
        }

        @include breakpoint(phone) {
            @include font-size(80, 67.2);
            @include letter-spacing(-2.4, 80);
        }
    }



    &__item {
        // set colors for arrows & counters

        @for $i from 1 through length($theme-colors) {
            &:nth-of-type(#{$i}) {
                --theme-color: var(--color-#{nth($theme-colors, $i)});
            }
        }

        overflow: hidden;
        position: relative;

        @include breakpoint(desktop) {
            padding-right: rem(12);
            padding-top: rem(11);
        }

        @include breakpoint(tablet) {
            padding-left: map-get($grid-offset, tablet);
            padding-top: rem(14);
        }

        @include breakpoint(phone) {
            padding-left: rem(12);
            padding-top: rem(11);
        }


        &::before {
            content: "";
            position: absolute;
            inset: 0 0 auto;
            background-color: var(--theme-color);
            height: 1px;
            z-index: 2;
            transform: scaleX(0);
            transform-origin: left center;
            transition: transform .5s $ease-custom;
        }


        a {
            @include flex(row, flex-end, flex-end);

            width: 100%;
            position: relative;

            @include breakpoint(not-desktop) {
                @include flex(row, flex-start, flex-start);
            }

            @include hover {
                .menu__arrow { 
                    opacity: 1;

                    transition: opacity 0s 0s;
                };
            }

            &:focus {
                .menu__arrow { 
                    opacity: 1;

                    transition: opacity 0s 0s;
                };
            }
        }


        @include hover {
            &::before {
                transform: scaleX(1);
                transform-origin: right center;
            }
        }
    }



    &__line {
        position: absolute;
        inset: 0 0 auto;
        transform-origin: right center;
        height: 1px;
        background-color: currentColor;
        display: inline-block;
    }



    &__text {
        position: relative;

        &::before {
            @include font-family(normal);

            content: counters(menu, ".", decimal-leading-zero)".";
            position: absolute;
            inset: 0 100% auto auto;
            vertical-align: top;
            counter-increment: menu;
            color: var(--theme-color);


            @include breakpoint(desktop) {
                @include font-size(17, 22);
                @include letter-spacing(-0.17, 17);

                margin-right: rem(4);
            }

            @include breakpoint(tablet) {
                @include font-size(22, 1.1);
                @include letter-spacing(-0.22, 22);

                inset: 0 auto 0 100%;
                margin-top: rem(-1);
                margin-right: 0;
                margin-left: rem(10);
            }

            @include breakpoint(phone) {
                @include font-size(17, 22);
                @include letter-spacing(-0.17, 17);

                inset: 0 auto 0 100%;
                margin-top: rem(-4);
                margin-right: 0;
                margin-left: rem(8);
            }
        }
    }



    &__arrow {
        position: relative;
        margin-bottom: rem(16);
        margin-right: rem(5);
        color: var(--theme-color);

        @include breakpoint(desktop) {
            overflow: hidden;
        }

        // TEMP - todo animation on icon
        opacity: 0;
        transition: opacity 0s 2s $ease-custom;

        @include breakpoint(not-desktop) {
            display: none;
        }
    }



    &__footer {
        margin-top: rem(17);
        overflow: hidden;
        transition: opacity .3s $ease-out;


        .is-livesearch-shown ~ & {
            opacity: 0;
        }

        @include breakpoint(desktop) {
            @include font-size(10, 16);

            padding-bottom: vw(20);
        }

        @include breakpoint(not-desktop) {
            @include flex(column, flex-end, flex-start);

            flex-grow: 1;

            @include breakpoint(tablet) {
                @include font-size(20, 1.1);

                padding-bottom: vw(36, tablet);
                gap: rem(32);
            }

            @include breakpoint(phone) {
                @include font-size(14, 18.9);

                padding-bottom: vw(25, phone);
                gap: rem(19);
            }
        }

        a { @include hoverable-link; }
    }



    &__link {
        @include flex(column, flex-start, flex-end);

        @include breakpoint(desktop) {
            padding-right: rem(13);
        }

        @include breakpoint(not-desktop) {
            @include flex(column, flex-start, flex-start);

            @include breakpoint(tablet) {
                padding-left: map-get($grid-offset, tablet);
            }

            @include breakpoint(phone) {
                padding-left: rem(16);
                letter-spacing: unset;
            }
        }
    }



    &__close {
        position: absolute;

        @include breakpoint(desktop) {
            right: vw(12);
            top: vw(13);
            width: vw(28);
            height: vw(28);
        }

        @include breakpoint(not-desktop) {
            z-index: 2;

            @include breakpoint(tablet) {
                right: map-get($grid-offset, tablet);
                top: vw(16, tablet);
                width: vw(20, tablet);
                height: vw(20, tablet);
            }

            @include breakpoint(phone) {
                right: vw(16, phone);
                top: vw(8, phone);
                width: vw(14, phone);
                height: vw(14, phone);
            }
        }
    }
}
