.newsletter {
    --side-padding: var(--grid-margin);
    --input-height: #{vw(71)};

    @include z-index(newsletter);
    @include font-family(compressed);

    grid-area: newsletter;
    position: relative;
    background-color: var(--color-box);

    @include breakpoint(desktop) {
        padding-top: vw(200);
    }

    @include breakpoint(tablet) {
        --input-height: #{vw(65, tablet)};

        padding-top: vw(164, tablet);
    }

    @include breakpoint(phone) {
        --input-height: #{vw(45, phone)};

        padding-top: vw(105, phone);
    }


    body.is-404 & { display: none; }



    &__wrap {
        position: relative;


        @include breakpoint(not-desktop) {
            width: 100%;
        }
    }



    &__input {
        @include flex;

        height: var(--input-height);
        background-color: $color-white;
        position: relative;
        padding: vw(14) 0 vw(7);
        padding-left: var(--side-padding);
        border-top: 1px solid var(--color-bg);


        &.is-error { color: var(--color-red); }

        // when form has been submitted

        .is-completed & {
            opacity: 0.5;
            pointer-events: none;
        }


        input {
            @include font-family(compressed);

            text-transform: uppercase;
            width: 100%;
            color: currentColor;
            font-weight: bold;

            @include breakpoint(desktop) {
                @include font-size(50, 50);
            }

            @include breakpoint(tablet) {
                @include font-size(40, 1);
            }

            @include breakpoint(phone) {
                @include font-size(20, 20);
            }


            .is-completed & { opacity: 0; }


            &::placeholder {
                @include letter-spacing(-1.75, 50);

                opacity: 1;
                color: currentColor;
                font-weight: bold;
                transition: opacity $time-fast;

                @include breakpoint(desktop) {
                    @include letter-spacing(-1.75, 50);
                }

                @include breakpoint(phone) {
                    @include letter-spacing(-0.5, 20);
                }
            }


            &:focus::placeholder {
                opacity: 0;
            }
        }
    }



    &__button {
        position: absolute;
        margin: auto;

        @include breakpoint(desktop) {
            inset: auto vw(16) auto auto;
        }

        @include breakpoint(tablet) {
            inset: auto rem(26) auto auto;

            .button {
                margin-top: rem(1);
            }
        }

        @include breakpoint(phone) {
            inset: auto rem(9) auto auto;

            .button {
                margin-top: rem(1);
            }
        }

        .is-completed & { display: none; }
    }



    &__heading {
        position: absolute;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;

        @include breakpoint(desktop) {
            @include font-size(103, 73);
            @include letter-spacing(-3.09, 103);

            inset: auto vw(18) var(--input-height) auto;
        }

        @include breakpoint(not-desktop) {
            position: relative;
            text-align: left;
            order: -1;

            @include breakpoint(tablet) {
                @include font-size(60, 0.935);
                @include letter-spacing(-1.57, 60);


                inset: auto 100% auto rem(26);
            }

            @include breakpoint(phone) {
                @include font-size(49, 0.935);
                @include letter-spacing(-1.47, 49);

                inset: auto 100% auto rem(14);
            }
        }
    }

    &__fields {

        @include breakpoint(not-desktop) {
            @include flex(column, flex-start, flex-start);
        }
    }



    &__error {
        @include font-family(normal);
        @include font-size(14, 16);

        padding-left: var(--side-padding);
        color: var(--color-red);

        @include breakpoint(desktop) {
            @include font-size(14, 16);
        }

        @include breakpoint(tablet) {
            @include font-size(14, 16);
        }

        @include breakpoint(phone) {
            @include font-size(14, 16);
        }

        .has-errors & {
            @include breakpoint(desktop) {
                margin-bottom: vw(7);
            }

            @include breakpoint(tablet) {
                margin-bottom: vw(9, tablet);
            }

            @include breakpoint(phone) {
                margin-bottom: vw(9, phone);
            }
        }
    }



    &__message {
        position: absolute;
        inset: 0 0 auto var(--side-padding);
        min-height: var(--input-height);
        pointer-events: none;
    }



    &__sticker {
        position: absolute;

        @include breakpoint(desktop) {
            inset: calc(100% - 6px) auto auto 0;
        }

        @include breakpoint(tablet) {
            inset: calc(100% - #{rem(5)}) auto auto 0;
        }

        @include breakpoint(phone) {
            inset: calc(100% - #{rem(3)}) auto auto 0;
        }

        .is-completed & {
            @include breakpoint(desktop) {
                top: calc(100% - 12px);
            }

            @include breakpoint(tablet) {
                top: calc(100% - 12px);
            }

            @include breakpoint(phone) {
                top: calc(100% - 8px);
            }
        }
    }


    legend {
        @include font-family(normal);

        padding-left: var(--side-padding);

        @include breakpoint(desktop) {
            @include font-size(14, 16);

            margin-bottom: vw(4);
        }

        @include breakpoint(tablet) {
            @include font-size(16, 1.1);

            padding-top: vw(4, tablet) ;
            margin-bottom: vw(8, tablet) ;
        }

        @include breakpoint(phone) {
            @include font-size(14, 18.9);

            max-width: rem(234);
            padding-top: vw(4, phone);
            margin-bottom: vw(13, phone);
        }
    }



    .message {
        @include font-family(compressed);

        text-transform: uppercase;
        max-width: 55%;

        @include breakpoint(desktop) {
            @include font-size(50, 50);
        }

        @include breakpoint(phone) {
            @include font-size(20, 22);
        }

        p {
            &:first-of-type {
                @include flex;

                height: var(--input-height);

                @include breakpoint(desktop) {
                    padding-top: vw(7);
                    margin-bottom: vw(8);
                }

                @include breakpoint(phone) {
                    padding-top: vw(7, phone);
                    margin-bottom: vw(12, phone);
                }
            }
        }
    }
}