.newsletter {
    --side-padding: var(--grid-margin);
    --input-height: #{vw(71)};


    @include font-family(compressed);

    grid-area: newsletter;
    padding-top: vw(200);
    position: relative;
    background-color: var(--color-box);



    &__wrap {
        position: relative;
    }



    &__input {
        @include flex;

        height: var(--input-height);
        background-color: $color-white;
        position: relative;
        padding: vw(14) 0 vw(7);
        padding-left: var(--side-padding);
        border-top: 1px solid var(--color-bg);


        &.is-error { color: var(--color-red); }

        // when form has been submitted

        .is-completed & {
            opacity: 0.5;
            pointer-events: none;
        }


        input {
            @include font-family(compressed);
            @include font-size(50, 50);

            text-transform: uppercase;
            width: 100%;
            color: currentColor;
            font-weight: bold;


            .is-completed & { opacity: 0; }



            &::placeholder {
                @include letter-spacing(-1.75, 50);

                opacity: 1;
                color: currentColor;
                font-weight: bold;
                transition: opacity $time-fast;
            }


            &:focus::placeholder {
                opacity: 0;
            }
        }
    }



    &__button {
        position: absolute;
        inset: auto vw(16) auto auto;
        margin: auto;


        .is-completed & { display: none; }
    }



    &__heading {
        @include font-size(103, 73);
        @include letter-spacing(-3.09, 103);

        position: absolute;
        inset: auto vw(18) 100% auto;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;
    }



    &__error {
        @include font-family(normal);
        @include font-size(14, 16);

        padding-left: var(--side-padding);
        color: var(--color-red);

        .has-errors & { margin-bottom: vw(7); }
    }



    &__message {
        position: absolute;
        inset: 0 0 auto var(--side-padding);
        min-height: var(--input-height);
        pointer-events: none;
    }



    &__sticker {
        position: absolute;
        inset: calc(100% - 6px) auto auto 0;


        .is-completed & {
            top: calc(100% - 12px);
        }
    }


    legend {
        @include font-family(normal);
        @include font-size(14, 16);

        padding-left: var(--side-padding);
        margin-bottom: vw(4);
    }



    .message {
        @include font-family(compressed);
        @include font-size(50, 50);


        text-transform: uppercase;
        max-width: 55%;


        p {
            &:first-of-type {
                @include flex;
                padding-top: vw(7);
                margin-bottom: vw(8);
                height: var(--input-height);
            }
        }
    }
}