.newsletter {
    --side-padding: var(--grid-margin);
    --input-height: #{vw(71)};
    --color-text: var(--color-box);

    @include z-index(newsletter);
    @include font-family(compressed);

    grid-area: newsletter;
    position: relative;

    background-color: var(--color-black);
    color: var(--color-text);


    &[data-scroll] {
        background: none;
    }


    body.is-transition & { opacity: 0; }

    @include breakpoint(desktop) {
        @include flex(column, space-between, stretch);

        padding-top: vw(175);
        height: calc(var(--app-height) - var(--GLOBAL-player-height));
    }

    @include breakpoint(tablet) {
        --input-height: #{vw(65, tablet)};

        padding-top: vw(164, tablet);
    }

    @include breakpoint(phone) {
        --input-height: #{vw(45, phone)};

        z-index: 1;
        padding-top: vw(105, phone);


        &.has-errors &__heading {
            transform: translateY(#{rem(-23)});
        }
    }


    body.is-404 & { display: none; }

    &.has-errors legend {
        transform: translateY(#{rem(-23)});
    }



    &__wrap {
        position: relative;


        @include breakpoint(not-desktop) {
            width: 100%;
        }
    }



    &__top { position: relative; }


    &__input {
        @include flex;

        height: var(--input-height);

        // background-color: $color-white;
        position: relative;
        padding: vw(14) 0 vw(7);
        padding-left: var(--side-padding);
        border-top: 1px solid var(--color-bg);
        border-bottom: 1px solid var(--color-bg);
        overflow: hidden;


        &.is-error { color: var(--color-red); }

        // when form has been submitted

        .is-completed & {
            opacity: 0.5;
            pointer-events: none;
        }


        input {
            @include font-family(compressed);

            text-transform: uppercase;
            width: 100%;
            color: currentColor;
            font-weight: bold;

            @include breakpoint(desktop) {
                @include font-size(50, 50);
            }

            @include breakpoint(tablet) {
                @include font-size(40, 1);
            }

            @include breakpoint(phone) {
                @include font-size(20, 20);
            }


            .is-completed & { opacity: 0; }


            &:placeholder-shown + label {
                // opacity: 1;
                animation: search-label-alt .5s $ease-custom forwards;
            }

            &:focus + label {
                // opacity: 0;
                // transform: translateY(150%) rotate(-15deg);
                animation: search-label-down .5s $ease-custom forwards;
            }


            @include accessibility {
                max-width: fit-content;

                &::placeholder {
                    opacity: 1;
                    color: yellow;
                }
            }
        }
    }



    &__label {
        @include font-family(compressed);
        @include letter-spacing(-1.75, 50);

        text-transform: uppercase;
        width: 100%;
        color: currentColor;
        font-weight: bold;
        position: absolute;
        pointer-events: none;
        animation: search-label-down .5s $ease-custom forwards;


        span { display: inline-block; }


        @include breakpoint(desktop) {
            @include font-size(50, 50);
        }

        @include breakpoint(tablet) {
            @include font-size(40, 1);
        }

        @include breakpoint(phone) {
            @include font-size(20, 20);
        }
    }



    &__button {
        position: absolute;
        margin: auto;

        @include breakpoint(desktop) {
            inset: auto vw(16) auto auto;
        }

        @include breakpoint(tablet) {
            inset: auto rem(26) auto auto;

            .button {
                margin-top: rem(1);
            }
        }

        @include breakpoint(phone) {
            inset: auto rem(9) auto auto;

            .button {
                margin-top: rem(1);
            }
        }

        .is-completed & { display: none; }
    }



    &__heading {
        position: absolute;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;

        @include breakpoint(desktop) {
            @include font-size(103, 73);
            @include letter-spacing(-3.09, 103);

            inset: auto vw(18) var(--input-height) auto;
        }

        @include breakpoint(not-desktop) {
            position: relative;
            text-align: left;
            order: -1;
            transition: transform .25s $ease-out;

            @include breakpoint(tablet) {
                @include font-size(60, 0.935);
                @include letter-spacing(-1.57, 60);


                inset: auto 100% auto rem(26);
            }

            @include breakpoint(phone) {
                @include font-size(49, 0.935);
                @include letter-spacing(-1.47, 49);

                inset: auto 100% auto rem(14);
            }
        }
    }

    &__fields {

        @include breakpoint(not-desktop) {
            @include flex(column, flex-start, flex-start);
        }
    }



    &__error {
        @include font-family(normal);
        @include font-size(14, 16);

        position: absolute;
        inset: auto auto 100% 0;
        padding-left: var(--side-padding);
        color: var(--color-red);


        .has-errors & {
            @include breakpoint(desktop) {
                margin-bottom: vw(7);
            }

            @include breakpoint(tablet) {
                margin-bottom: vw(9, tablet);
            }

            @include breakpoint(phone) {
                margin-bottom: vw(9, phone);
            }
        }
    }



    &__message {
        position: absolute;
        inset: 0 0 auto var(--side-padding);
        min-height: var(--input-height);
        pointer-events: none;
    }



    &__sticker {
        position: absolute;

        @include breakpoint(desktop) {
            inset: calc(100% - 6px) auto auto 0;
        }

        @include breakpoint(tablet) {
            inset: calc(100% - #{rem(5)}) auto auto 0;
        }

        @include breakpoint(phone) {
            inset: calc(100% - #{rem(3)}) auto auto 0;
        }

        .is-completed & {
            top: calc(100% - 12px);


            @include breakpoint(phone) {
                top: calc(100% - 8px);
            }
        }
    }



    &__credits {
        @include font-family(normal, 500);
        @include font-settings(500, 100);

        text-transform: uppercase;

        @include breakpoint(desktop) {
            @include flex(row, flex-start, flex-end);

            padding-bottom: vw(21);
        }

        @include breakpoint(not-desktop) {
            @include flex(column-reverse, flex-start, flex-start);
        }

        @include breakpoint(tablet) {
            padding: vw(260, tablet) 0 vw(40, tablet);
        }

        @include breakpoint(phone) {
            padding: vw(244, phone) 0 vw(11, phone);
        }
    }


    &__copy {
        @include breakpoint(desktop) {
            @include font-size(8, 1);

            margin-block: trim-font(1);
            margin-right: auto;
        }

        @include breakpoint(tablet) {
            @include font-size(11, 1);
        }

        @include breakpoint(phone) {
            @include font-size(10, 13.5);
        }
    }

    &__link {
        @include flex(row, flex-start, flex-end);

        cursor: default;

        @include breakpoint(desktop) {
            @include font-size(10, 1.35);

            margin-bottom: vw(-5); 
        }

        @include breakpoint(not-desktop) {
            @include flex(column-reverse, flex-start, flex-end);

            position: absolute;
        
            @include breakpoint(tablet) {
                @include font-size(14, 1);

                bottom: vw(40, tablet);
                right: var(--grid-margin);
            }

            @include breakpoint(phone) {
                @include font-size(12, 1);
    
                bottom: vw(12, phone);
                right: var(--grid-margin);
            }
        }



        &-text {
            @include hoverable-link;

            cursor: pointer;
        }
    }

    &__logo {
        aspect-ratio: 1/1;
        cursor: pointer;

        @include breakpoint(desktop) {
            width: vw(98);
            margin: 0 vw(-7) vw(-3) vw(17);
        }

        @include breakpoint(tablet) {
            width: vw(128, tablet);
            margin: 0 vw(-9, tablet) vw(10, tablet) 0;
        }

        @include breakpoint(phone) {
            width: vw(98, phone);
            margin: 0 vw(-7, phone) vw(8, phone) 0;
        }
    }


    legend {
        @include font-family(normal);

        padding-left: var(--side-padding);
        transition: transform .25s $ease-out;

        @include breakpoint(desktop) {
            @include font-size(14, 16);

            margin-bottom: vw(4);
        }

        @include breakpoint(tablet) {
            @include font-size(16, 1.1);

            padding-top: vw(4, tablet) ;
            margin-bottom: vw(8, tablet) ;
        }

        @include breakpoint(phone) {
            @include font-size(14, 18.9);

            max-width: 100%;
            padding-top: vw(4, phone);
            margin-bottom: vw(13, phone);
        }
    }



    .message {
        @include font-family(compressed);

        text-transform: uppercase;
        max-width: 55%;


        @include breakpoint(desktop) {
            @include font-size(50, 50);
        }


        @include breakpoint(not-desktop) {
            @include font-size(20, 22);
        }


        p {
            &:first-of-type {
                @include flex;

                height: var(--input-height);

                @include breakpoint(desktop) {
                    padding-top: vw(7);
                    margin-bottom: vw(8);
                }

                @include breakpoint(tablet) {
                    padding-top: vw(7, tablet);
                    margin-bottom: vw(12, tablet);
                }

                @include breakpoint(phone) {
                    padding-top: vw(7, phone);
                    margin-bottom: vw(12, phone);
                }
            }
        }
    }


    .box__bg {
        background-color: var(--color-black);
    }
}
