.search {
    --search-height: #{vw(137)};

    @include font-family(compressed);
    @include font-size(50, 1);
    @include flex(row, center, flex-end);

    height: var(--search-height);
    width: 100%;
    position: relative;
    z-index: 2;



    &__content {
        width: 100%;
    }



    &__form {
        width: 100%;
        text-align: left;
        position: relative;
    }



    &__input {
        position: relative;
        margin-left: vw(15);

        label {
            @include font-size(50, 1);
            @include letter-spacing(-1, 50);

            position: absolute;
            left: 0;
            pointer-events: none;
            transition: opacity .3s $ease-custom;
            opacity: 0;
        }


        input {
            @include font-family(compressed);
            @include font-size(50, 1);
            @include letter-spacing(-1, 50);

            height: vw(50);
            width: 100%;
            text-transform: uppercase;


            &:placeholder-shown + label { opacity: 1; }
            &:focus + label { opacity: 0; }
        }


        @include hover {
            .search__svg svg { transform: scale(1.25); }
        }
    }



    &__exit { position: absolute; }



    &__svg {
        position: absolute;

        svg {
            vertical-align: top;
            transition: transform .3s $ease-custom;
        }
    }



    &__clear {
        @include font-size(14, 10);

        text-transform: uppercase;
        position: absolute;
        right: rem(9);
        bottom: rem(12);

        opacity: 0;
        pointer-events: none;
        transition: opacity .3s $ease-custom;


        .search.has-value & {
            opacity: 1;
            pointer-events: all;
        }
    }
}