<If "%{HTTP_HOST} == 'elder.sunship.dev'">
AuthType Basic
AuthName "Access denied"
AuthUserFile /home/huncwot7/domains/elder.sunship.dev/public_html/.htpasswd
Require valid-user
AddHandler application/x-httpd-php81 php
</If>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9_-]+)? index.php?page=$1 [QSA]

DirectoryIndex index.php index.html
