// for TILES

.interviews-grid__tile {
    background-color: var(--tile-bg-color, var(--color-box));
    color: var(--tile-text-color, var(---color-text));


    &--pink {
        --tile-bg-color: var(--color-pink);
        --tile-text-color: var(--color-red);
    }


    &--pale-purple {
        --tile-bg-color: var(--color-pale-purple);
        --tile-text-color: var(--color-pink);
    }


    &--pink-alt {
        --tile-bg-color: var(--color-pink);
        --tile-text-color: var(--color-dark-green);
    }


    &--green {
        --tile-bg-color: var(--color-green);
        --tile-text-color: var(--color-pink);
    }
}