<div class="interviews-grid__tile">
    <a href="#" class="interviews__link"><span class="sr-only">Go to interview</span></a>
    
    <div class="interviews__main">
        <h3 class="interviews__name">{{item.name}}</h3>
        <p class="interviews__description">{{item.description}}</p>
    </div>

    <div class="interviews__locations phone-hide">
        {% for location in item.locations %}
            <span>{{location}}</span>
        {% endfor %}
    </div>

    <h4 class="interviews__collection interviews__collection--grid phone-hide">{{item.collection}} <br> Collection</h4>

    <div class="interviews__copy">
        <p>{{item.copy}}</p>
        <h3 class="interviews__copy-collection phone-hide">{{item.collection}} collection</h3>
    </div>

    <div class="interviews__box desktop-hide tablet-hide">
        <div class="interviews__locations">
            {% for location in item.locations %}
                <span>{{location}}</span>
            {% endfor %}
        </div>
        <div class="interviews__box-wrap">
            {% include "./components/c_interview-box.html" with {
                modifier: item.modifier
            } %}
        </div>
    </div>
</div>