<div class="interviews-grid__tile interviews-grid__tile--group interviews-grid__tile--{{item.modifier}}">
    <h3 class="interviews__name"># {{item.name}}</h3>
    {% include "./components/c_link.html" with {
        filters: true,
        small: true,
        url: item.url,
        modifiers: ["small"],
        text: "Explore <i>" ~ item.count ~ ' interviews</i>'
    } %}
    {% if item.image %}
        <div class="interviews-grid__image">
            {% include "./subviews/subview_picture.html" with {image: item.image} %}
        </div>
    {% endif %}
</div>